<div class="row registerHeader">
    <div class="text-center">
        <a href="/"><img alt="Brand" class="registrationLogo" src="../../assets/images/logo-doctor-advisor-mail.png"></a>
    </div>
</div>