.registrationLogo{
    width: 20%;
}
.stepsContainer{
    padding-top: 50px !important;
}
.registerHeader
{
    border-bottom: 8px solid #85c454;
    padding: 10px 0 10px 0;
}

.stepHeaderComplete{
    pointer-events: auto;
    color: #1c7fc2; 
    text-decoration: underline;
}
.stepHeaderInactive{
    pointer-events: none;
    color: #e7e7e7;
}
.stepHeaderActive {
    pointer-events: none;
}

.steps{
    padding-left: 80px;
}
.stepActive {   
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1c7fc2;
    color: white;
    border: 7px solid #e7e7e7;
    padding-top: 10px;
}
.stepInactive {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    color: #e7e7e7;
    border: 7px solid #e7e7e7;
    padding-top: 10px;   
}
.stepComplete {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #85c454;
    color: white;
    border: 7px solid #e7e7e7;
    padding-top: 10px;
    display: inline-block;
}
.stepConnection{
    width: 100%;
    height: 11px;
    background-color: #e7e7e7;
}
.centerDiv {
    margin: auto;
    width: 75%;
    padding-top: 55px;
}
.stepContainer{
    margin-top:6px;
    font-size: 17px;
}

.glyphiconAlign{
    right: 3px;
    top: 5px;
}

.sectionHedit{
    color:#76bd22;
    padding: 20px 10px 20px 10px;
}
.sectionH{
    color:#76bd22;
    padding: 0px 0px 0px 50px;
}
.footerSection{
    padding: 10px 50px 10px 50px;
}
.sectionContainer{
    padding:40px 0 40px 0;
    background-color: #fcfcfc;
}
.cancelBtnLink{
    padding-top:5px;
}
.subh{
    color:#c4c4c4;
}

.addRoom{
    border: 2px solid #1c7fc2;
    color: #1c7fc2;
    padding:10px 20px 10px 20px;
    margin-bottom: 30px;
}

.info{
    color:#96959a;
    padding-bottom: 50px;
}
.terms{
    color: #96959a;
    padding-bottom: 30px;
}

label{
    font-weight: 550;
}

.panel-heading-custom {
    background-color: #f7f7f7;
    padding:5px 40px 5px 40px;
    color:#1c7fc2;
}
.section{ padding-bottom: 30px;}

.editContainer{
    border: 1px solid black;
}

.editLabel{
    text-align: left;
    padding: 0 20px 20px 30px; 
    font-weight:bold;
    /* font-family: 'HelveticaNeueLight'; */
}
.valueLabel{
    text-align: left;
    padding: 0 20px 20px 0;
}
.editSectionContainer{
    padding :0 0 30px 30px;
}
.editFixedRoomName{
    padding: 20px 0 40px 30px; 
}
.BenefitsContainer{
    border: 1px solid #76bd22;
    padding: 0 20px 20px 20px;
}
/* Modal style */
 .modal-header{
 background-color: #76bd22;
 color:white;
}
.grey{
    color:#B6B5B9; 
}
.modalBody{
    font-family: helveticaNeueMed;
    padding:40px 40px 40px 40px;
    color:#B6B5B9;
    /* font-size: 18px; */
}
.black{color:black}

.infoList{
    font-family: HelveticaNeueLight;
    /* font-size: 16px; */
}
.modalCloseBtn{
    padding: 50px 50px 0 0;
}


/* line 1968, ../../../resources/assets/sass/app.scss */
.side-alert {
    z-index: 9999;
    right: 20px;
    bottom: 20px;
    position: fixed;
  }
  /* line 1973, ../../../resources/assets/sass/app.scss */
  .side-alert .single-alert {
    opacity: 0;
    color: #FFF;
    padding: 14px 22px;
    margin-bottom: 20px;
    background: #8bc53d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
  }
  /* line 1983, ../../../resources/assets/sass/app.scss */
  .side-alert .single-alert p:last-of-type {
    margin-bottom: 0;
  }
  /* line 1987, ../../../resources/assets/sass/app.scss */
  .side-alert .single-alert:last-of-type {
    margin-bottom: 0;
  }
  /* line 1990, ../../../resources/assets/sass/app.scss */
  .side-alert .single-alert.active {
    opacity: 1;
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

