<div class="legals-style">
    <div class="head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>AVISO DE PRIVACIDAD</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-text">
                <p>DoctorAdvisor, S.A.P.I. de C.V., con domicilio en Av. San Pedro, Col. San Isidro #716, León, Guanajuato, México, México, en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante La Ley) hace constar la responsabilidad al tratamiento de sus datos personales, observando los principios de licitud, consentimiento, información y lealtad.</p>

                <p>Los datos que serán revelados por el Usuario tendrán la finalidad de brindarle el servicio que el Usuario solicite, conocer sus necesidades de productos y servicios, poder ofrecerle los productos y servicios que se adecuen a sus preferencias, comunicarle promociones, atender quejas, aclaraciones y sugerencias. Para las finalidades señaladas anteriormente, DoctorAdvisor podrá recabar sus datos personales de las siguientes formas: cuando usted nos los proporciona directamente ó cuando visita nuestro sitio de internet. Los datos que obtenemos pueden ser de manera enunciativa más no limitativa:</p>

                <ul>
                    <li>- Nombre</li>
                    <li>- Domicilio</li>
                    <li>- Sexo</li>
                    <li>- Teléfono Fijo o Móvil</li>
                    <li>- Lugar y fecha de nacimiento </li>
                    <li>- Correo electrónico </li>
                    <li>- RFC ( en caso de facturación) </li>
                    <li>- Número de Tarjeta de Crédito</li>
                </ul>
                <br>
                <p>Datos que servirán para identificarle, ubicarle, comunicarle, contactarle, enviarle información y/o mercancía, así como su transmisión a terceros por cualquier medio que permita la ley. El uso de los Datos Personales y Datos Sensibles tendrá relación directa con la relación que usted tiene en su carácter de consumidor. La temporalidad del manejo de los Datos Personales y/o Datos Sensibles será indefinida a partir de la fecha en que usted los proporcionó al Responsable, que desde luego usted podrá oponerse en cualquier momento que lo considere oportuno.</p>

                <p>Le informamos que utilizamos cookies y/o web beacons para obtener información personal de usted, como lo que de forma enunciativa pero no limitativa se describe a continuación:</p>

                <ul>
                    <li>- Su tipo de navegador y sistema operativo.</li>
                    <li>- Las páginas de Internet que visita.</li>
                    <li>- Los vínculos que sigue.</li>
                    <li>- La dirección IP.</li>
                    <li>- El sitio que visitó antes de entrar al nuestro.</li>
                </ul>

                <br>
                <p>Éstas herramientas pueden ser deshabilitadas y eliminadas en cualquier momento de su equipo.</p>


                <p>DoctorAdvisor, S.A.P.I. de C.V. se obliga a tratar los datos revelados por el Usuario con estricta confidencialidad en apego a lo estipulado en la Ley y su reglamento, aplicando las medidas de seguridad administrativas, técnicas y físicas para evitar su daño, perdida, alteración, divulgación o uso indebido.</p>

                <p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado.</p>

                <p>Los procedimientos que se han implementado para el ejercicio de dichos derechos son a través de la presentación de la solicitud por escrito respectiva en el domicilio ubicado en Av. San Pedro, Col. San Isidro #716, León, Guanajuato, México, en donde su solicitud será recibida por la unidad receptora designada, misma que lo turnará al responsable de la protección de los datos personales para su análisis y resolución. Su solicitud deberá contener la siguiente información: determinar con precisión cual o cuales derechos son los que desea ejercer, de entre acceder, rectificar y cancelar sus datos personales, oponerse a su tratamiento y revocar el consentimiento otorgado para su tratamiento; también la solicitud deberá contener los datos personales específicos objeto de su solicitud, la fecha y motivo por el cual nos proporcionó sus datos personales, así como su nombre completo, su domicilio, teléfono, correo electrónico, y deberá acompañar copia certificada del poder en caso de que actué representando de alguien. El plazo para atender su solicitud es de 45 días hábiles, en el caso de que la solicitud sea presentada en forma clara y completa, de lo contrario, se le requerirá dentro de los 20 días hábiles siguientes a la presentación de la solicitud la aclare o complete para lo cual tendrá un término de 20 días hábiles; los 45 días hábiles para contestar a su solicitud comenzaran a correr desde la fecha en que contemos con la solicitud completa y clara. En el caso de que no recibamos la información complementaria y las aclaraciones requeridas dentro del término indicado, su solicitud se dará por desistida y concluida para todos los efectos legales. Tanto el requerimiento de información aclaratoria o complementaria, como la respuesta a su solicitud se le notificarán en el domicilio ubicado en Av. San Pedro, Col. San Isidro #716, León, Guanajuato, México, o por correo electrónico a la cuenta de correo que usted haya proporcionado a elección nuestra.</p>


                <p>En caso de duda sobre los procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales en el domicilio ubicado en Av. San Pedro, Col. San Isidro #716, León, Guanajuato, México, México o enviando sus preguntas o dudas a la siguiente dirección electrónica:  contacto@doctoradvisor.com.mx</p>

                <p>DoctorAdvisor, S.A.P.I. de C.V., hace de su conocimiento que en términos del artículo 37, fracción III de la Ley en mención, sus datos personales pueden ser transferidos dentro del País a personas distintas a esta empresa. En este sentido en mención, su información puede ser compartida, sin su consentimiento únicamente a sociedades subsidiarias, filiales, afiliadas y controladoras de DoctorAdvisor, S.A.P.I. de C.V., con el único objetivo de cumplir con los fines establecidos en el párrafo segundo del presente Aviso. Nos comprometemos a no transferir su información personal a terceros distintos a los ya señalados en párrafos anteriores sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la citada Ley. En caso de no aprobar que su información sea transmitida a sociedades subsidiarias, filiales, afiliadas y controladoras de DoctorAdvisor, S.A.P.I. de C.V. deberá enviar un correo electrónico en el que manifieste que no otorga la autorización a que se refiere este párrafo a la siguiente dirección electrónica contacto@doctoradvisor.com.mx o bien envíe notificación por escrito por correo certificado al departamento de datos personales en el domicilio ubicado en Av. San Pedro, Col. San Isidro #716, León, Guanajuato,México.</p>
                <p>Si usted desea dejar de recibir mensajes promocionales de nuestra parte puede solicitarlo en el domicilio ubicado en Av. San Pedro, Col. San Isidro #716, León, Guanajuato, México o en la siguiente dirección electrónica: contacto@doctoradvisor.com.mx</p>

                <p>Las leyes y regulaciones de diferentes países pueden imponer diferentes requerimientos (e inclusive conflictivos) en el Internet y la protección de la información. Nosotros estamos ubicados en México y todos los asuntos en relación al Aviso de Privacidad son regidos por las leyes de México. Si usted está ubicado en algún otro país fuera de México y nos contacta, por favor tome en cuenta que cualquier información que usted nos provea será transferida a México, y al momento de ingresar su información usted autoriza esta transferencia y la aceptación del presente Aviso de Privacidad.</p>

                <p>DoctorAdvisor, S.A.P.I. de C.V., se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, atendiendo a novedades legislativas, políticas internas o nuevos requerimientos para la prestación y ofrecimiento de nuestros servicios. Estas modificaciones estarán disponibles al público y se podrán consultar en el siguiente sitio http://www.doctoradvisor.com.mx/.</p>
            </div>
        </div>
    </div>
</div>