<div class="legals-style">
    <div class="head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>TÉRMINOS Y CONDICIONES DE USO</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-text">
                <p>
                    DOCTORADVISOR, S.A.P.I. DE C.V. (en adelante “La Empresa”) posee y conserva todos los derechos de autor del contenido de sus sitios web, así como de todos los documentos publicados por dicha Sociedad, ya sea con fines técnicos o de mercadotecnia. Salvo indicación en contrario, queda prohibida la copia o reedición en cualquier forma del diseño o del aspecto visual de los sitios web de “La Empresa”.

                </p>
                <p>
                    <b>“La Empresa”</b> informa a los&nbsp;usuarios&nbsp;que al ingresar, usar y publicar contenido en la presente página web acepta sin reservas los siguientes términos y condiciones generales:
                </p>
                <br>
                <ul>
                    <li>
                        - <b>“La Empresa”</b> advierte que no es titular de las opiniones o quejas publicadas en el sitio web y que por tanto no se hará responsable de las mismas. El acceso, publicación y uso a la información contenida en el presente sitio web son de la exclusiva responsabilidad de quien los realiza. El usuario es el único responsable de la veracidad y licitud de sus comentarios. “La Empresa” actúa meramente como prestador de un servicio de comunicación vía Internet.
                    </li>
                    <li>
                        - El usuario se compromete a no usar la presente página para actividades contrarias a la ley, a la moral y al orden público así como a no remitir mensajes falsos, y utilizará en todo momento correos electrónicos reales sin falsedad en su identidad.
                    </li>
                    <li>
                        - <b>“La Empresa”</b> no provee soluciones a los problemas y quejas que se publican en este sitio, sólo exhibe las publicaciones y se encarga de que se hagan públicas; para resolución directa de problemas recomendamos contactarse con los profesionistas en cuestión o dirigirse a la entidad o autoridad gubernamental dedicada a la protección del consumidor de su localidad.
                    </li>
                    <li>
                        - <b>“La Empresa”</b> informa a sus usuarios que para utilizar algunos de los servicios del sitio web es necesario introducir el nombre, correo electrónico y ser mayor de edad (18 años). <b>“La Empresa”</b> procede a la creación de un fichero automatizado de dichos datos y garantiza la adopción de las medidas necesarias para asegurar el tratamiento confidencial de dichos datos.
                    </li>
                </ul>
                <br>
                <p>
                    <b>“La Empresa”</b> tratará de mantener la información contenida en la presente página Web debidamente actualizada en la medida de sus posibilidades, quedando facultada para modificarla sin previo aviso a fin de corregir los eventuales errores que, en su caso, pudieren detectarse. Manteniendo siempre las características básicas, nos reservamos el derecho de realizar, sin previo aviso, modificaciones técnicas, estéticas o de otro tipo, por razones de desarrollo de los productos en cuestión.

                </p>
                <p>
                    Por lo anterior queda prohibido el uso o registro, en todo o en parte, ninguna marca, aviso comercial o nombre comercial propiedad de <b>“La Empresa”</b>, incluyendo símbolos gráficos, logotipos o íconos, o hacer uso de estos como parte de un nombre de un  dominio, salvo que cuente con una autorización expresa y por escrito de <b>“La Empresa”</b> y/o sus afiliados.

                </p>

                <p>
                    <b>“La Empresa”</b> enfatiza: 
                </p>
                <ol>
                    <li> www.doctoradvisor.com.mx es un sitio gratuito y es una herramienta para doctores y clientes.
                    </li>
                    <li>  Proveemos una base de datos en línea para quejas de clientes y doctores, solución de disputas de clientes sobre prestación de servicios, productos o información.
                    </li>
                    <li>  Como usuario que envía un caso o comentario, usted acepta que es elegible para una cuenta y que acepta los términos y condiciones aquí contenidas.
                    </li>
                    <li>  Los usuarios deben tener 18 años o más.
                    </li>
                    <li> www.doctoradvisor.com.mx es un sitio libre y abierto para doctores/profesionistas y clientes.
                    </li>
                    <li>  Sus casos y comentarios podrán y serán indexados por buscadores de Internet (Google, Yahoo, etc.); estos registros no estarán de ninguna manera bajo control de www.doctoradvisor.com.mx y no podremos hacer nada por retirarlos de esas bases de datos. www.doctoradvisor.com.mx tampoco será responsable de avisar a los buscadores sobre casos eliminados en www.doctoradvisor.com.mx que aún aparecen en sus resultados.
                    </li>
                    <li>  Si así lo acepta al registrar su caso o comentario, recibirá aviso cuando se realicen actualizaciones l mismo, podrá retirarse de los avisos por correo electrónico en cualquier momento.
                    </li>
                    <li>  Como miembro de www.doctoradvisor.com.mx usted acepta que sólo usted es responsable del contenido de sus comentarios y quejas y cualquier consecuencia derivada.
                    </li>
                    <li>   Cuando se publica un mensaje o queja en www.doctoradvisor.com.mx estarán disponibles a la vista pública y serán disponibles para indexación y reproducción por buscadores de Internet y Directorios. www.doctoradvisor.com.mx no tiene control alguno sobre el contenido que ha sido registrado del sitio por sitios externos. Una vez retirado el contenido de www.doctoradvisor.com.mx y publicado en sitios externos, ya no son responsabilidad de www.doctoradvisor.com.mx sino del dueño de cada sitio respectivo, buscador, directorios, etc.
                    </li>
                    <li>   Un usuario puede pedir que se retire o edite su caso en cualquier momento; debe proveer su usuario y password junto con sus cambios a contacto@doctoradvisor.com.mx; es importante que envíe el aviso desde el correo que utiliza como usuario del sitio.
                    </li>
                    <li>   www.doctoradvisor.com.mx no es responsable de la validez de los comentarios o quejas publicadas en el sitio
                    </li>
                    <li>   www.doctoradvisor.com.mx no es responsable de ninguna manera en avisar a los doctores/profesionistas sobre las quejas de los clientes que están publicados en el sitio.
                    </li>
                    <li>   www.doctoradvisor.com.mx siempre supone que el cliente tiene un objeto positivo en la publicación de su mensaje, ayudando a los doctores/profesionistas a mejorar sus servicios y productos.
                    </li>
                    <li>   Los mensajes no expiran, son históricos, con fecha y pueden ser editados o retirados a pedido del usuario o si el usuario no responde al contacto del afectado.
                    </li>
                    <li>   Los mensajes publicados deben describir una experiencia personal de primera mano. También es libre en discutir y opinar sobre esa experiencia, como ser humano, como ciudadano y como entidad legal, a menos que tenga una limitación contractual previa.
                    </li>
                    <li>  Es responsabilidad total del autor del mensaje/caso asegurarse que no esté bajo limitación contractual antes de publicar comentarios o quejas en www.doctoradvisor.com.mx.
                    </li>
                    <li>   Las publicaciones deben ser propias y no copia de otros sitios a menos que se tenga permiso expreso, en cuyo caso es responsabilidad del usuario tener respaldo de esos permisos y entregarlos a pedido en caso de disputa de derechos de autor. En el caso de copias parciales, deben citar la fuente e incluir un vínculo a la fuente original si está en línea.
                    </li>
                    <li>   www.doctoradvisor.com.mx se mantiene imparcial e independiente, meramente ofrece un canal para estimular y apoyar la comunicación entre clientes y profesionistas.
                    </li>
                    <li>   www.doctoradvisor.com.mx no es responsable de solucionar problemas de consumidores/clientes.
                    </li>
                </ol>

                <h3>Lineamientos Generales para la publicación de comentarios</h3>
                <p>
                    <b>“La Empresa”</b> no modera los comentarios, por lo que si hay algún comentario que no cumpla con las recomendaciones que más adelante se señala agradeceremos dé click en el botón de "reportar" que existe en cada comentario. Hacemos de su conocimiento que el abuso de la opción de reporte de comentarios puede ser causa para el bloqueo de cuentas.
                </p>
                <h3>Recomendaciones</h3>
                <ol>
                    <li>No usar frases potencialmente difamatorias, o comentarios sin fundamento para dañar la reputación de la empresa o persona, usted como usuario es el único responsable de cualquier daño realizado.
                    </li>
                    <li>
                        Evitar el uso de lenguaje obsceno, grosero, explícito, discriminatorio, fundamentalista, extremista o racista. 
                    </li>
                    <li>
                        No realizar ataques personales (no confundir con quejas personales), comentarios con insultos al quejoso o usuarios, amenazas, intimidación, frases que inciten a la violencia o a transgredir la ley, o externamente en links o imágenes.
                    </li>
                    <li>
                        Publicar comentarios que sirvan de promoción de productos comerciales, empresas, sitios web y/o servicios para el consumidor.
                    </li>
                    <li>
                        Comentarios sin relación al caso o que no aportan a la discusión o tema. Comentarios que incluyan notas o mensajes a los moderadores a menos que hayan sido requeridos por ellos mismos.
                    </li>
                    <li>
                        Recomendamos respetar dentro de sus capacidades la ortografía correcta y evitar lo más posible abreviaciones o mal uso de letras o mayúsculas.

                    </li>
                    <li>
                        Comentarios en idiomas que no sean español deben incluir una traducción para ser publicados.
                    </li>
                    <li>
                        Comentarios duplicados en grandes cantidades, quienes sean detectados, serán eliminados como usuarios junto con todos sus comentarios sin previo aviso. 
                    </li>
                    <li>
                        Evitar incluir caracteres especiales, HTML o código de programación en los comentarios, sólo se aceptan direcciónes web. no serán publicados como una queja y viceversa.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>