<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 general-sec">
            <div class="head">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Publicidad en <span class="text-blue">Doctor</span><span class="text-green">Advisor</span></h1>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-panel">
                            <div class="element open">
                                <div class="head big">
                                    <div class="title">Buscador</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-justify">
                                                    El buscador es nuestro principal activo, nuestros usurarios pueden buscar médicos por nombre, especialidad, padecimiento y lugar, al contar con una membresia premium serás más visible y aparecerás en los primeros lugares de las búsquedas, haciendo que los usuarios de Doctor Advisor te encuentren más fácil.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/buscador_1.jpg" alt="Buscador" class="full-width"></div>
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/buscador_2.jpg" alt="Buscador" class="full-width"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element ">
                                <div class="head big">
                                    <div class="title">Publicidad dirigidas en perfiles básicos</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-justify">
                                                    <strong>¡Aparece como un Doctor recomendado por DoctorAdvisor!</strong> Mientras los usuarios estén buscando doctores similares a ti, tu perfil aparecerá como un médico recomendado por la comunidad en los perfiles de otros doctores, por lo que atraer a nuevos pacientes será más fácil.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/basico_1.jpg" alt="Buscador" class="full-width"></div>
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/basico_2.jpg" alt="Buscador" class="full-width"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element ">
                                <div class="head big">
                                    <div class="title">Perfil Limpio y Amplio</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-justify">
                                                    Los perfiles Premium son espacios donde los profesionales de la salud presentan toda la información necesaria (información profesional, fotos, videos, servicios, tarifas, ubicación, trayectoria, experiencia y reputación) para convertir usuarios en pacientes, además estos perfiles no cuentan con ningún tipo de publicidad de empresas y/o otros doctores, enfocándose 100% en mostrar la información del doctor al usuario.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/membresia_1.jpg" alt="Membresía" class="full-width"></div>
                                            <div class="col-md-6"><img src="/assets/images/site/publicidad/membresia_2.jpg" alt="Membresía" class="full-width"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element ">
                                <div class="head big">
                                    <div class="title">Asesoría <span class="text-blue">Doctor</span><span class="text-green">Advisor</span></div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-justify">Hoy en día esta comprobado que 70% de las decisiones de compra están basadas en recomendaciones de amigos y familiares, es por eso que DoctorAdvisor te ayuda a colocarte en los primeros lugares de búsqueda gracias a que tus pacientes pueden calificar el servicio que recibieron, por lo tanto entre más y mejores reseñas tengas más fácil será que te encuentren.</p>
                                                <p class="text-justify">DoctorAdvisor te acompaña y te asesora vía telefónica que hagas tu perfil más atractivo para tus nuevos pacientes, así como generar más y mejores reseñas para que puedas estar entre los mejores Doctores de la comunidad.</p>
                                                <br>
                                                <h3 class="text-center">¡Identifica Oportunidades de mejora!</h3>
                                                <br>
                                                <p class="text-justify">DoctorAdvisor te dice que opinan tus pacientes de ti, por que pueden escribir recomendaciones sobre el servicio que recibieron, esta información solo la reciben los doctores que cuentan con la membresía Premium, para que puedan ofrecer un mejor servicio y mantener a sus pacientes contentos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row margin-top-20">
                    <div class="col-md-12 text-center">
                        <p>
                            <a href="#!/anunciate" class="btn big">Anunciate en DoctorAdvisor</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>