<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 general-sec">
            <div class="head">
                <div class="row">
                    <div class="col-md-12">
                        <h1>¿Estás interesado en nuestros servicios?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <p>¡Muchas gracias por confiar en DoctorAdvisor y solicitar nuestros servicios! un representante se pondrá en contacto contigo en el transcurso del día para atenderte de manera personal.</p>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="global-style regular-contact-form" data-endpoint="/services/contact_form">
                            <input type="hidden" name="type" value="SERVICIOS">
                            <input type="hidden" name="topic" value="Cosulta sobre servicios">
                            <div class="block">
                                <div class="b-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="name">Nombre <input type="text" placeholder="Laura" id="name" name="name"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="last_name">Apellido <input type="text" placeholder="Rodriguez Pazos" id="last_name" name="last_name"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="phone">Tel <input type="text" placeholder="56 8773 4987" id="phone" name="phone"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="email">Correo <input type="text" placeholder="ejemplo@mail.com" id="email" name="email"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="border">
                                                    <label for="comment">Comentario  <input type="text" placeholder="Tu opinión nos interesa" id="comment" name="comment"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <p class="text-right">
                                            <button type="submit" class="btn small">Enviar Solicitud &nbsp; <i class="fa fa-envelope-o"></i></button>
                                        </p>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-image-bottom">
    <div class="wrapper">
        <img src="/assets/images/site/sections/anunciate_img.jpg" alt="Anunciate">
    </div>
</div>