<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 general-sec">
            <div class="head">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-icon">
                            <img src="/assets/images/site/sections/contact-icon.svg" alt="Contacto Doctor Advisor">
                        </div>
                        <h1 class="special-style">Contacto</h1>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <p>Deseas información ó reportar algún problema dentro de la página por favor no dudes en escribirnos, recuerda que esto es una comunidad entre más información tengamos podemos hacerla más fuerte.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="global-style regular-contact-form" data-endpoint="/services/contact_form">
                            <input type="text" name="type" ng-hide="true" ng-model="vm.mail.type"  ng-init="vm.mail.type = 'CONTACTO'">
                            <input type="text" name="topic" ng-hide="true" ng-model="vm.mail.topic"  ng-init="vm.mail.topic = 'Contacto'" >
                            <div class="block">
                                <div class="b-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="name">Nombre <input type="text" placeholder="Laura" id="name" name="name" ng-model="vm.mail.name" required></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="last_name">Apellido <input type="text" placeholder="Rodriguez Pazos" id="last_name" name="last_name" ng-model="vm.mail.last_name" required></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="phone">Tel <input type="text" placeholder="56 8773 4987" pattern="[0-9]{6,}"id="phone" name="phone" ng-model="vm.mail.phone" required></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="border">
                                                    <label for="email">Correo <input type="email" placeholder="ejemplo@mail.com" id="email" name="email" ng-model="vm.mail.email" required></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="border">
                                                    <label for="comment">Comentario  <input type="text" placeholder="Tu opinión nos interesa" id="comment" name="comment" ng-model="vm.mail.comment" required></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <p class="text-right">
                                            <button type="submit" class="btn small" ng-click="sendMail()">Enviar Solicitud &nbsp; <i class="fa fa-envelope-o"></i></button>
                                        </p>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>
                <div class="locations-contact">
                    <div class="row element">
                        <div class="col-md-6">
                            <div class="address">
                                <div class="title">
                                    <p>León</p>
                                </div>
                                <a href="https://www.google.com.mx/maps/place/Blvd.+San+Pedro+716,+San+Isidro,+37685+Le%C3%B3n,+Gto./data=!4m2!3m1!1s0x842bbe387e774d25:0x7bf6145b0dc1271f?sa=X&ved=0ahUKEwjasaqGwLvVAhWG6yYKHXodD18Q8gEIJjAA"
                                    target="_blank">
                                    <p>
                                        Av. San Pedro #716, Col. San Isidro CP 37530
                                    </p>
                                    <p>
                                        León, Guanajuato, México
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <iframe
                                    width="600"
                                    height="250"
                                    frameborder="0" style="border:0; width: 100%"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGNXC7kf5PQw9a-Np9OwbZlA-ikT2IbUo
                                        &q=Blvd.+San+Pedro+716,+San+Isidro,+37685+León,+Gto" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="row element">
                        <div class="col-md-6">
                            <div class="address">
                                <div class="title">
                                    <p>Ciudad de México</p>
                                </div>
                                <a href="https://www.google.com.mx/maps/place/Calle+de+Artemio+del+Valle+Arizpe+11,+Col+del+Valle+Nte,+03103+Del+Valle+Nte,+CDMX/@19.3965138,-99.1732468,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1ff6d868bb2e1:0x27b2c533523fc173!8m2!3d19.396513!4d-99.171058"
                                    target="_blank">
                                    <p>
                                        Calle de Artemio del Valle Arizpe #11
                                    </p>
                                    <p>
                                        Col. Del Valle Nte
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <iframe
                                    width="600"
                                    height="250"
                                    frameborder="0" style="border:0; width: 100%"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGNXC7kf5PQw9a-Np9OwbZlA-ikT2IbUo
                                        &q=Calle+de+Artemio+del+Valle+Arizpe+11,+Col+del+Valle+Nte,+03103+Del+Valle+Nte,+CDMX" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-image-bottom">
    <div class="wrapper">
        <img src="/assets/images/site/sections/contacto_img.jpg" alt="Anunciate">
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7TlejuxhCnLFXg3EUOU1tBk4EKX4SQXc"></script>