<div class="container">
    <div class="row">
        <h1>Crea tu perfil Medico</h1>
        <p>Selecciona en tipo de perfil que te guataría crear.</p>
    </div>
    <div class="row">
        <div class="row">
            <h1>Regístrate como Doctor</h1>
            <p>Para profesionales de la salud que tengan sus consultorios o trabajen en un consultorio.</p>
            <button class="btn pacientBtn text-center col-md-12" type="button">Regístrate gratis como paciente</button>
        </div>
        <div class="row">
            <h1>Regístrate como Doctor</h1>
            <p>Para responsables de hospital, clinica, centro de diagnóstico o consulta de uno o varios especialistas con nombre comercial.</p>
        </div>
        <button class="btn doctorBtn text-center col-md-12" type="button">Crea tu perfil de médico</button>
    </div>
</div>
