
<div class="row dashboardSearchBox">
    <div class="row">
            <h2>Encuentra los mejores doctores y hospitales</h2>
    </div> 
    <div class="row">
        <div class="input-group col-lg-12 col-md-12">
            <input type="text" class=" basicInput searchBoxInput col-lg-6 col-md-6 col-sm-12 col-xs-12" placeholder="dolor de cabeza" ng-model="vm.search.symptom">
            <input type="text" class=" inputborder searchBoxInput col-lg-6 col-md-6 col-sm-6 hidden-sm hidden-xs" placeholder="Ej. colonia Juarez" ng-model="vm.search.colony">
            <span class="input-group-addon inputIcon">
                <img alt="Brand" class="searchIcon" src="../assets/icons/buscador.svg">
            </span>
        </div>
        <div class="input-group col-lg-7 hidden-xs hidden-sm">
            <em class="pull-right ">*Opcional</em>
        </div>     
    </div>
    <div class="row features">
        <div class="col-md-3 divSparationList">
                Conecta con profesionales de la salud.
        </div>
        <div class="col-md-3 divSparationList">
                Califica y recomienda Doctores y Hospitales.    
        </div>
        <div class="col-md-3">
                Consulta Opiniones de otros usuarios.
        </div>
    </div>
</div>
<div class="row dashboardSearchFooter">
    <h2>¡Comienza a disfrutar de nuestros beneficios!</h2>
</div>
<div class="row registerBox">
    <div class="col-md-6 ">
        <div class="pacients text-center ">
            <p class="text-left">
                Realiza Consultas con los mejores profesionales de la salud.
            </p>
            <button class="btn pacientBtn text-center" ng-href="#/schedule/{{doctor.id}}" type="button">Regístrate gratis como paciente</button>
        </div>
    </div>
    <div class="col-md-6 divSparationListBlue">
        <div class=" doctors text-center">
            <p class="text-left">
                Forma parte de la comunidad más grande de doctores y hospitales de México.
            </p>
            <button class="btn doctorBtn text-center" ng-href="#/schedule/{{doctor.id}}" type="button">Crea tu perfil de médico</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row pacientesPros">
            <h3><b>Pacientes</b></h3>
            <ul class="text-left">
                <li>Cuida tu salud</li>
                <li>Cuida la economía familiar</li>
                <li>Ayuda a otros a elegir mejor doctor o centro médico</li>
                <li>Tu voz será escuchada</li>
                <li>Recibe la mejor información medica</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row doctorsPros">
            <h3><b>Doctores y Hospitales</b></h3>
            <ul class="text-left">
                <li>Date a conocer</li>
                <li>Consigue mejor reputación</li>
                <li>Promociona tus servicios</li>
                <li>Identifica oportuniades de mejora</li>
                <li>Consigue más pacientes</li>
            </ul>
        </div>
    </div>
</div>
