.dashboardSearchBox{
    background-color: #76ADD9;
    color: white;
    text-align: center;
    padding:100px 100px 0px 100px;
}
.features{
    text-align: center;
   padding: 50px 50px 50px 50px; 
}
.dashboardSearchFooter{
    background-color: #346181;
    color: white;
    text-align: center;
}
.pacientesPros{
    background-color: #76BD22;
    text-align: center;
    margin: 40px 0px 40px 40px;
    color: white;
    padding:50px 100px 50px 100px;
}
.doctorsPros{
    background-color: #1C7FC2;
    text-align: center;
    margin: 40px 40px 40px 0px;
    color: white;
    padding:50px 100px 50px 100px;
}
.registerBox{
    background-color: #F5F5F5;
    padding: 20px 20px 20px 20px;
    color: #063D64;
}
.registerBox > div > div.pacients , .registerBox > div > div.doctors{
    padding:20px 20px 20px 20px;
}
.divSparationList{
    border-right: 3px solid white;
}
.divSparationListBlue{
    border-left: 3px solid #063D64;
}
.pacientBtn{
    padding: 10px;
    background-color: #76BD22;
    color: white;
    padding: 5px 40px 5px 40px;
}
.doctorBtn{
    padding: 10px;
    background-color: #1C7FC2;
    color: white;
    padding: 5px 40px 5px 40px;
}