<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 general-sec">
            <div class="head">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Preguntas Frecuentes</h1>
                        <p><strong>DoctorAdvisor</strong> es la comunidad médica de mayor crecimiento en México, por lo que nuestra labor es ofrecerle a nuestros profesionales de la salud herramientas que le permitan destacar en nuestra comunidad, convirtiéndola en una excelente plataforma para darse a conocer y posicionar sus servicios. Conoce nuestras excelentes maneras de publicitarte con el paquete Premium.</p>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-panel">
                            <div class="element open">
                                <div class="head small">
                                    <div class="title">¿Cómo registrarse?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Una vez que has ingresado a www.doctoradvisor.com.mx dirígete a la parte superior derecha y dale click a
                                                    <a href="/settings/profile">Cuenta</a>, de manera instantánea una nueva ventana se abrirá indicando tu correo, usuario y contraseña o bien, si prefieres puedes iniciar sesión a través de <strong>Facebook</strong>, en caso de que hayas decidido dar tu mail personal, un mail de Bienvenida deberá de llegar a tu cuenta de correo para que puedas activarla y así poder pertenecer a la comunidad de <strong>DoctorAdvisor</strong>.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/faq-01.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cómo dar de alta un Doctor u Hospital?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    Una vez que estés dado de alta en <strong>DoctorAdvisor</strong> dirígete a la parte superior derecha de la página y dale click a Cuenta, de manera inmediata una nueva ventana se abrirá, del lado izquierdo habrá cuatro opciones entre las que se encuentra "Agregar Doctor" y "Agregar Hospital" dale click a tu opción preferida y da de alta a tus profesionales de la salud para que puedas calificar el servicio médico recibido.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/02_DA_faqs.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Qué es DoctorAdvisor?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>DoctorAdvisor</strong> es la primera comunidad en línea donde los usuarios tienen la posibilidad de compartir experiencias médicas con millones de personas alrededor del mundo. Busca, califica y recomienda Doctores y Hospitales.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/03_DA_faqs.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cómo funciona DoctorAdvisor?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <strong>DoctorAdvisor</strong> es una plataforma que funciona gracias a las opiniones de los usuarios de nuestra comunidad, por lo que un profesional de la salud entre mejor reputación tenga en nuestra comunidad, es decir más y mejores reseñas sobre su servicio, aparecerá en los primeros lugares de las búsquedas de los usuarios, en <strong>DoctorAdvisor</strong> no vendemos los primeros lugares de búsqueda generamos relaciones de confianza para que los profesionales de la salud se ganen esos primeros puestos.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/04_DA_faqs.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cómo calificar un Doctor u Hospital?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    Lo primero que tienes que hacer es registrarte en www.doctoradvisor.com.mx, una vez que seas parte de nuestra comunidad busca tu doctor u hospital preferido en nuestra base de datos, una vez que lo hayas encontrado dale click en el ícono "Calificar Doctor" podrás compartir tu experiencia con todos los usuarios de la comunidad.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/05_DA_faqs.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">
                                        ¿La información que ves en DoctorAdvisor esta mal? Repórtala
                                    </div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    Recuerda que <strong>DoctorAdvisor</strong> es una comunidad por lo que la página se alimenta de la información de nuestros usuarios, por lo que si ves que algún dato (nombre, dirección, comentario, especialidad, etc.) esta mal, puedes contactarnos para reportarlo y nuestros departamento de control de calidad pondrá manos a la obra para arreglar la información.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/faq_extra.png" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">Soy dueño o representante de alguna empresa relacionada al sector salud
                                        ¿Cómo puedo anunciarme en DoctorAdvisor?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    En <strong>DoctorAdvisor</strong> estamos comprometidos por la salud de nuestros usuarios por lo que tenemos estrictas políticas de publicidad, para asegurar que toda la información este relacionada al sector salud sólo aceptamos empresas que estén relacionadas a dicho sector, por lo que si cumples el perfil dirígete a la parte inferior de nuestra página y encontrarás una opción llamada "Anúnciate" dale click y mandamos un mail, nuestro departamento de publicidad se pondrá en contacto contigo para ponernos de acuerdo.
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/assets/images/site/faqs/07_DA_faqs.jpg" class="full-width" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cómo funciona la publicidad para Doctores y Hospitales?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    Para saber cómo funciona dale click <a href="/#!/publicidad" onclick="window.location.reload()">al siguiente link</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cuáles son los beneficios para los pacientes?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="list-style">
                                                    <li>Cuida tu salud</li>
                                                    <li>Cuida la economía familiar, encontrando a los doctores que mejor se ajusten a tu presupuesto</li>
                                                    <li>Ayuda a otros a elegir el mejor doctor o centro médico</li>
                                                    <li>Tu voz será escuchada</li>
                                                    <li>Inscríbete a nuestro Newsletter y recibe la mejor información médica</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cuáles son los beneficios para los doctores?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="list-style">
                                                    <li>Gana reputación</li>
                                                    <li>Sé un líder de opinión</li>
                                                    <li>Consigue más pacientes</li>
                                                    <li>Date a conocer</li>
                                                    <li>Identifica oportunidades de mejora</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cuáles son los beneficios para los Hospitales?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="list-style">
                                                    <li>Date a conocer</li>
                                                    <li>Consigue mejor reputación</li>
                                                    <li>Promociona tus servicios</li>
                                                    <li>Identifica oportunidades de mejora</li>
                                                    <li>Consigue más pacientes</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Quién puede borrar los comentarios?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    Absolutamente nadie puede borrar un comentario en <strong>DoctorAdvisor</strong> al menos que este fuera inapropiado o con palabras altisonantes no permitidas por <strong>DoctorAdvisor</strong>, recuerda que el propósito de nuestra comunidad es que los comentarios y reseñas de nuestros usuarios puedan trascender en la salud de otras personas.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Qué pasa si existe un comentario inapropiado?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <strong>DoctorAdvisor</strong> cuenta con una política de tolerancia cero a comentarios inapropiados, nuestro equipo de control de calidad está todo el tiempo monitoreando las reseñas de los usuarios por lo que siempre estaremos al pendiente de la calidad de los mismos.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head small">
                                    <div class="title">¿Cómo se que los comentarios y reseñas no son falsos?</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    Recuerda que todas los usuarios que desean compartir sus reseñas tienen que estar registrados a través de sus redes sociales por lo que siempre podrás saber quien escribe en nuestra comunidad.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>