<div class="container">
    <div class="row">
        <div class="col-md-12 general-sec">
            <div class="head">
                <div class="row">
                    <div class="col-md-12">
                        <div class="head-icon">
                            <img src="/assets/images/site/sections/about-icon.svg" alt="¿Cómo funciona?">
                        </div>
                        <h1 class="special-style">¿Cómo funciona?</h1>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="video-fluid">
                            <iframe src="https://player.vimeo.com/video/116125281" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>DoctorAdvisor</strong> es la primer comunidad en línea donde los usuarios tienen la posibilidad de compartir experiencias médicas con millones de personas alrededor del mundo. Busca, califica y recomienda Doctores y Hospitales.
                        </p>
                        <p>
                            Da de alta tus doctores y hospitales favoritos, ayúdanos a compartir tu salud con millones de personas:
                        </p>
                        <ul class="list-style">
                            <li>Todos hemos tenido buenas y malas experiencias, en <strong>DoctorAdvisor</strong> encuentra al mejor Doctor y/o Hospital gracias a las experiencias de otros usuarios</li>
                            <li>Califica el servicio médico que recibiste de tu Doctor u Hospital y comparte tu experiencia con millones de personas</li>
                            <li>Al compartir tu experiencia en Doctor Advisor estás ayudando a otros usuarios a cuidar su salud</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="benefits small">
    <div class="container">
        <h2 class="text-center">Beneficios de registrarse</h2>
        <div class="row">
            <div class="col-md-6 column">
                <div class="back">
                    <h3><span>Pacientes</span></h3>
                    <ul class="dots">
                        <li>
                            Cuida tu salud
                        </li>
                        <li>
                            Cuida la economía familiar
                        </li>
                        <li>
                            Ayuda a otros a elegir el mejor doctor o centro médico
                        </li>
                        <li>
                            Tu voz será escuchada
                        </li>
                        <li>
                            Recibe la mejor información médica
                        </li>
                    </ul>
                    <div class="icon-img special"></div>
                </div>

                <div class="cta special-style">
                    <a href="/#!/registro/paciente" class="cancelClick">Regístrate como paciente<strong>totalmente gratis</strong></a>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="back">
                    <h3><span>Doctores y Hospitales</span></h3>
                    <ul class="dots">
                        <li>
                            Date a conocer
                        </li>
                        <li>
                            Consigue mejor reputación
                        </li>
                        <li>
                            Promociona tus servicios
                        </li>
                        <li>
                            Identifica oportunidades de mejora
                        </li>
                        <li>
                            Consigue más pacientes
                        </li>
                    </ul>
                    <div class="icon-img special"></div>
                </div>
                <div class="cta special-style">
                    <a href="/#!/registro/doctor" class="cancelClick">Crea tu perfil médico<strong>totalmente gratis</strong></a>
                </div>
            </div>
        </div>
    </div>
</section>