<div class="page-title text-center">
    <h1>Servicios para profesionales de la salud</h1>
</div>

<div class="aux-content-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center">
                    En <span class="text-blue">Doctor</span><span class="text-green">Advisor México</span> somos profesionales en Marketing Digital Médico, nos enfocamos en generar soluciones para que nuestros clientes puedan:
                </p>
            </div>
        </div>
        <div class="row grid-pricing">
            <div class="col-md-4">
                <div class="image" style="background-image: url('../assets/images/site/services/1_internet.jpg')"></div>
                <p>Conseguir más pacientes a través de Internet</p>
            </div>
            <div class="col-md-4">
                <div class="image" style="background-image: url('../assets/images/site/services/2_posicionamiento.jpg')"></div>
                <p>Mejorar su posicionamiento en Internet</p>
            </div>
            <div class="col-md-4">
                <div class="image" style="background-image: url('../assets/images/site/services/3_mkt.jpg')"></div>
                <p>Ejecutar estrategias digitales adecuadas a las necesidades de cada Doctor y Hospital</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-pricing-data">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><div class="big">+ 100,000</div><div class="small">usuarios mensuales</div></div>
            <div class="col-md-4"><div class="big">+ 50,000</div><div class="small">búsquedas mensuales de especialistas médicos</div></div>
            <div class="col-md-4"><div class="big">+ 37,000</div><div class="small">registros de médicos y hospitales en México</div></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="compare-pricing">
                <div class="single">
                    <h3>Sitio Web Básico</h3>
                    <div class="square">
                        <div class="light">
                            <ul>
                                <li><div class="icon"><img src="../assets/images/site/icons/trayectoria-blue.svg" alt=""></div> Mantenimiento (cambio de imágenes y texto).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/instalaciones-blue.svg" alt=""></div> Hosting incluido.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/servicios-blue.svg" alt=""></div> Sitio responsivo (ajustable a cualquier dispositivo).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/publicidad.svg" alt=""></div> 2 a 3 secciones.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/cv.svg" alt=""></div> Formulario de contacto.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/phone-blue.svg" alt=""></div> Dirección y teléfono de contacto.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/flag.svg" alt=""></div> Mapa de ubicación.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/foto_perfil.svg" alt=""></div> Vínculo a redes sociales (facebook, twitter, instagram, etc).</li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <div class="icon"></div>
                            <ul>
                                <li><p>$ <strong>299.0</strong> 00/mx <span>al mes + IVA</span></p></li>
                                <li><p>$ <strong>2,990.0</strong> 00/mx <span>al año + IVA</span></p></li>
                            </ul>
                        </div>
                    </div>
                    <p class="cta">
                        <a href="/settings/premium/cards" class="btn small">Contratar plan</a>
                    </p>

                    <div class="row grid-image-over">
                        <div class="col-md-6">
                            <div class="relative">
                                <a href="http://paginamuestra.doctoradvisor.mx/" target="_blank">
                                    <img src="../assets/images/site/services/sitios_basic1_active.jpg" class="active" alt="Servicio Web">
                                    <img src="../assets/images/site/services/sitios_basic1_passive.jpg" class="passive" alt="Servicio Web">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="relative">
                                <a href="http://paginamuestra2.doctoradvisor.mx/" target="_blank">
                                    <img src="../assets/images/site/services/sitios_basic2_active.jpg" class="active" alt="Servicio Web">
                                    <img src="../assets/images/site/services/sitios_basic2_passive.jpg" class="passive" alt="Servicio Web">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single">
                    <h3>Sitio Web Premium</h3>
                    <div class="square">
                        <div class="light">
                            <ul>
                                <li><div class="icon"><img src="../assets/images/site/icons/trayectoria-blue.svg" alt=""></div> Mantenimiento (cambio de imágenes y texto).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/instalaciones-blue.svg" alt=""></div> Hosting incluido.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/servicios-blue.svg" alt=""></div> Sitio responsivo (ajustable a cualquier dispositivo).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/trayectoria-blue.svg" alt=""></div> Auto-administrador (realizar cambios directamente).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/search-icon.svg" alt=""></div> Blog (subir contenido a su sitio web desde el auto-administrador).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/publicidad.svg" alt=""></div> 4 a 6 Secciones.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/reconocimientos-blue.svg" alt=""></div> 1 o 2 idiomas (español/ingles).</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/cv.svg" alt=""></div> Formulario de contacto.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/phone-blue.svg" alt=""></div> Dirección y teléfono de contacto.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/flag.svg" alt=""></div> Mapa de ubicación.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/phone-blue.svg" alt=""></div> Banner slide animado.</li>
                                <li><div class="icon"><img src="../assets/images/site/icons/foto_perfil.svg" alt=""></div> Vínculo a redes sociales (faceboo, twitter, instagram, etc).</li>
                            </ul>
                        </div>
                        <div class="bottom">
                            <div class="icon"></div>
                            <ul>
                                <li><p>$ <strong>499.0</strong> 00/mx <span>al mes + IVA</span></p></li>
                                <li><p>$ <strong>4,990.0</strong> 00/mx <span>al año + IVA</span></p></li>
                            </ul>
                        </div>
                    </div>
                    <p class="cta">
                        <a href="/settings/premium/cards" class="btn small">Contratar plan</a>
                    </p>

                    <div class="row grid-image-over">
                        <div class="col-md-6">
                            <div class="relative">
                                <a href="http://drjorgeballi.com/" target="_blank">
                                    <img src="../assets/images/site/services/sitios_web1_active.jpg" class="active" alt="Servicio Web">
                                    <img src="../assets/images/site/services/sitios_web1_passive.jpg" class="passive" alt="Servicio Web">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="relative">
                                <a href="http://medicainsurgentes.org/" target="_blank">
                                    <img src="../assets/images/site/services/sitios_web2_active.jpg" class="active" alt="Servicio Web">
                                    <img src="../assets/images/site/services/sitios_web2_passive.jpg" class="passive" alt="Servicio Web">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-panel">
                <div class="element">
                    <div class="head big">
                        <div class="title">Administración de redes sociales</div>
                        <div class="actions">
                            <img src="../assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                            <img src="../assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                        </div>
                    </div>
                    <div class="body">
                        <div class="overflow">
                            <img src="../assets/images/site/sections/social-media.jpg" class="full-width" alt="Website">
                            <div class="cta">
                                <a href=""  class="btn shot-fancy" data-id="Redes sociales">Solicitar información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <div class="head big">
                        <div class="title">Anúnciate</div>
                        <div class="actions">
                            <img src="../assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                            <img src="../assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                        </div>
                    </div>
                    <div class="body">
                        <div class="overflow">
                            <img src="../assets/images/site/sections/anunciate.jpg" class="full-width" alt="Website">
                            <div class="cta">
                                <a href="" class="btn shot-fancy" data-id="Anunciarme">Solicitar información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pricing-last">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h5>Testimonio</h5>
                <h4>Dr. Luis Alanis Villarreal, CEO Grupo VO</h4>
            </div>
            <br>
            <div class="video-fluid">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_ZXp8qKIqX0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="fancy-zone big" id="want-info">
    <div class="fancy-content">
        <div class="fancy-padding">
            <div class="fancy-close">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path fill="#257EC2" d="M20,40c-3.609,0-6.988-0.904-10.043-2.688c-1.148-0.67-1.537-2.144-0.866-3.292
                c0.671-1.147,2.145-1.535,3.292-0.867c2.342,1.367,4.834,2.031,7.617,2.031s5.275-0.664,7.618-2.031
                c2.353-1.372,4.163-3.184,5.536-5.536c1.366-2.343,2.031-4.834,2.031-7.618c0-2.783-0.665-5.275-2.031-7.617
                c-1.372-2.352-3.184-4.163-5.537-5.537C25.275,5.479,22.783,4.814,20,4.814s-5.275,0.664-7.617,2.031
                c-2.353,1.374-4.164,3.185-5.537,5.537C5.479,14.725,4.815,17.216,4.815,20c0,1.462,0.193,2.883,0.573,4.218
                c0.365,1.279-0.377,2.61-1.655,2.975c-1.279,0.361-2.611-0.378-2.975-1.656C0.255,23.771,0,21.909,0,20
                c0-3.609,0.903-6.988,2.687-10.043C4.464,6.911,6.91,4.465,9.956,2.688C13.012,0.904,16.391,0,20,0
                c3.607,0,6.987,0.904,10.045,2.687c3.047,1.779,5.491,4.225,7.268,7.269C39.096,13.012,40,16.391,40,20s-0.904,6.988-2.688,10.043
                c-1.777,3.046-4.222,5.491-7.267,7.27C26.987,39.096,23.607,40,20,40z"/>
                    <g>
                        <path fill="#257EC2" d="M11.273,25.177c0,0.413,0.145,0.763,0.435,1.054l2.062,2.062c0.289,0.29,0.641,0.436,1.053,0.436
                c0.397,0,0.74-0.146,1.031-0.436L20,24.146l4.146,4.146c0.29,0.29,0.633,0.436,1.03,0.436c0.413,0,0.765-0.146,1.055-0.436
                l2.062-2.062c0.289-0.291,0.436-0.641,0.436-1.054c0-0.397-0.146-0.74-0.436-1.031L24.146,20l4.146-4.146
                c0.289-0.29,0.436-0.634,0.436-1.031c0-0.413-0.146-0.764-0.436-1.054l-2.062-2.062c-0.29-0.29-0.642-0.435-1.055-0.435
                c-0.397,0-0.74,0.146-1.03,0.435L20,15.854l-4.146-4.146c-0.291-0.29-0.634-0.435-1.031-0.435c-0.413,0-0.764,0.146-1.053,0.435
                l-2.062,2.062c-0.291,0.29-0.435,0.641-0.435,1.054c0,0.397,0.145,0.741,0.435,1.031L15.854,20l-4.146,4.146
                C11.417,24.437,11.273,24.779,11.273,25.177z"/>
                    </g>
            </svg>
            </div>
            <div class="fancy-desc">
                <p>Para ponerte en contacto con nosotros ayudanos a completar el formulario</p>
            </div>
            <form class="global-style regular-contact-form" data-endpoint="/services/contact_form" data-category="report">

                <input type="hidden" name="type" value="SERVICIOS">
                <fieldset class="padding-bottom-0">
                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <div class="border">
                                <label for="name">Nombre <input type="text" required="required" placeholder="" id="name" name="name"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border">
                                <label for="email">Correo <input type="email" required="required" id="email" name="email"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border">
                                <label for="topic">Servicio de interés <input type="text" required="required" id="topic" name="topic"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border">
                                <label for="phone">Teléfono <small>Opcional</small><input type="text" id="phone" name="phone"></label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="margin-top-20">
                                <label for="realProblema">Información adicional
                                    <textarea cols="30" rows="10" id="realProblema" name="comment"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-right margin-bottom-0">
                                <button type="submit" class="btn no-border">Mandar información</button>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="fancy-bg"></div>
</div>

