
@font-face {
  font-family: helveticaNeueMed;
  src: url('/fonts/HelveticaNeueMed.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueLt;
  src: url('/fonts/HelveticaNeueLt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeuBold;
  src: url('/fonts/HelveticaNeuBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueBd;
  src: url('/fonts/HelveticaNeueBd.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueBlackCond;
  src: url('/fonts/HelveticaNeueBlackCond.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueHv;
  src: url('/fonts/HelveticaNeueHv.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueIt;
  src: url('/fonts/HelveticaNeueIt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueLight;
  src: url('/fonts/HelveticaNeueLight.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueMedium;
  src: url('/fonts/HelveticaNeueMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeueThin;
  src: url('/fonts/HelveticaNeueThin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: HelveticaNeue;
  src: url('/fonts/HelveticaNeue.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
header{
  padding-top: 10px
}
.rowEqual [class*="equal"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
.rowEqual{
    overflow: hidden; 
}  
.bluebg{
    background-color:#1c7fc2;
}
.content{
    background-color: #F5FAFD;
    padding: 30px 50px 150px 50px;
    margin-top: 10px;
}
.menuVertical{
    background-color:#1c7fc2;  
}
.menuVertical>ul{
    list-style-type: none; 
}
.menuVertical>ul>li{
    padding:10px 0 10px 0;
}
.menuVertical>ul>li:hover{
    background-color: #063d64;
}
.menuVertical>ul>li>a{
    color:white;
}
.menuIcon > li>a>span {
  font-size: 40px;
}
.notificationBox{
  border: 1px solid #1c7fc2;
  color: #1c7fc2;
  text-align : center;
  font-size: 30px;
   padding: 20px 0 20px 0;
}
.notificationBox .badge{
    margin-top:35px;
}
em{
    font-size: 12px;
    padding-top:0px;
}

inline {
  display: inline-block;
}


/* line 360, ../../../resources/assets/sass/_variables.scss */
form.search-component fieldset {
    padding: 8px 20px;
    position: relative;
    border-radius: 30px;
    color: #237ec4;
    border: 2px solid #237ec4;
    background: #FFF;
  }
  /* line 368, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-value {
    border: 0;
    width: 55%;
    cursor: pointer;
    min-width: 180px;
    padding-right: 30px;
    color: #237ec4;
  }
  /* line 375, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-value::-webkit-input-placeholder {
    color: rgba(3, 60, 103, 0.4);
  }
  /* line 378, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-value::-moz-placeholder {
    color: rgba(3, 60, 103, 0.4);
  }
  /* line 381, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-value:-ms-input-placeholder {
    color: rgba(3, 60, 103, 0.4);
  }
  /* line 384, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-value:-moz-placeholder {
    color: rgba(3, 60, 103, 0.4);
  }
  /* line 388, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest {
    top: 8px;
    width: 30%;
    right: 70px;
    padding-left: 20px;
    position: absolute;
    border-left: 2px solid #237ec4;
    border-right: 2px solid #237ec4;
  }
  /* line 396, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest .optional {
    color: #FFF;
    font-size: 60%;
    margin-top: 15px;
    position: absolute;
    font-style: italic;
  }
  /* line 403, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest .relative {
    width: 100%;
    height: 37px;
    padding: 0 0 0 30px;
  }
  /* line 408, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest input {
    border: 0;
  }
  /* line 411, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest .close {
    top: 0;
    left: 0;
    opacity: 1;
    width: 23px;
    height: 23px;
    position: absolute;
    background: url("/assets/images/site/icons/close.svg") center center no-repeat;
    background-size: 100%;
  }
  .addRoom{
    border: 2px solid #1c7fc2;
    color: #1c7fc2;
    padding:10px 20px 10px 20px;
    margin-bottom: 30px;
}
  ul {
    margin: 0;
    padding: 0;
  }
  /* line 19, ../../../resources/assets/sass/_variables.scss */
  ul li {
    padding: 0;
    list-style: none;
  }

  /* line 422, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .closest .geo {
    top: 0;
    right: 20px;
    width: 20px;
    height: 30px;
    position: absolute;
    background: url("/assets/images/site/icons/geoposition.svg") center center no-repeat;
    background-size: 100%;
  }
  /* line 432, ../../../resources/assets/sass/_variables.scss */
  form.search-component fieldset .search-icon {
    top: 9px;
    z-index: 2;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background: url("/assets/images/site/icons/search-icon.svg") center center no-repeat;
    background-size: 100%;
    border: 0;
    padding: 0;
  }

  /* line 2380, ../../../resources/assets/sass/app.scss */
  form.search-component fieldset .closest {
    top: 6px;
    width: 39%;
    right: 59px;
  }
  /* line 2384, ../../../resources/assets/sass/app.scss */
  form.search-component fieldset .closest .closest-value {
    font-size: 14px;
  }
  /* line 2387, ../../../resources/assets/sass/app.scss */
  form.search-component fieldset .closest .geo {
    width: 14px;
    height: 20px;
  }
  /* line 2391, ../../../resources/assets/sass/app.scss */
  form.search-component fieldset .closest .close {
    width: 20px;
    height: 20px;
  }
  /* line 2395, ../../../resources/assets/sass/app.scss */
  form.search-component fieldset .closest .relative {
    height: 23px;
  }

  /* line 2400, ../../../resources/assets/sass/app.scss */
  .site .content section.hero-home .search form.search-component fieldset .search-icon {
    top: 7px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  /* line 1968, ../../../resources/assets/sass/app.scss */
.side-alert {
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  position: fixed;
}
/* line 1973, ../../../resources/assets/sass/app.scss */
.side-alert .single-alert {
  opacity: 0;
  color: #FFF;
  padding: 14px 22px;
  margin-bottom: 20px;
  background: #8bc53d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}
/* line 1983, ../../../resources/assets/sass/app.scss */
.side-alert .single-alert p:last-of-type {
  margin-bottom: 0;
}
/* line 1987, ../../../resources/assets/sass/app.scss */
.side-alert .single-alert:last-of-type {
  margin-bottom: 0;
}
/* line 1990, ../../../resources/assets/sass/app.scss */
.side-alert .single-alert.active {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}





/* line 75, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged .drop-menu {
  right: 0;
  top: 60px;
  display: none;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: absolute;
}
/* line 81, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged .drop-menu li {
  margin: 0;
  width: 180px;
  display: block;
  background: #FFF;
}
/* line 86, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged .drop-menu li a {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
}
/* line 91, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged .drop-menu li:hover {
  background: #237ec4;
}
/* line 93, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged .drop-menu li:hover a {
  color: #FFF;
}
/* line 100, ../../../resources/assets/sass/app.scss */
.site header .menu .right > ul > li .logged:hover .drop-menu {
  display: block;
}
/* line 109, ../../../resources/assets/sass/app.scss */
.site header .sub-menu {
  background: #8bc53d;
}
/* line 111, ../../../resources/assets/sass/app.scss */
.site header .sub-menu ul {
  font-size: 0;
}
/* line 113, ../../../resources/assets/sass/app.scss */
.site header .sub-menu ul li {
  width: 25%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
/* line 118, ../../../resources/assets/sass/app.scss */
.site header .sub-menu ul li a {
  color: #FFF;
  width: 100%;
  display: block;
  padding: 20px 0;
  font-size: 18.08px;
  text-decoration: none;
}