<header>
    <div class="col-md-6 pull-left">
        <div class="col-md-3">
            <a href="/#!/">
                <img class="img-responsive" src="/assets/images/site/logo-doctor-advisor.svg" alt="Logo Doctor Advisor" >
            </a>
        </div>
        <div class="col-md-6">
            <form onsubmit="return false;" class="search-component">
                <fieldset>
                    <input type="text" class="search-value auto-search searchTop" placeholder="Ej. Dolor de cabeza" ng-model="vm.query.pattern" ng-init="vm.query.pattern = ''" ng-change="vm.getAutocompleteInfo()" uib-typeahead="autcomplete as autcomplete.name for autcomplete in vm.autcomplete | filter:{name:$viewValue}" typeahead-show-hint="true" typeahead-min-length="0">
                    <button type="submit" class="search-icon"></button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6">
            <div class="col-md-1 notificationBox">
                    <span class="glyphicon glyphicon-glyphicon glyphicon-bell"></span>
                    <span class="badge badge-notify">3</span>
            </div>
            <div class="col-md-1">
                <a href="">
                    <div class="circle" style="background-image: url('{{user.profilePicture}}')"></div>
                </a>
            </div>
            <div class="col-md-8">
                <p>Hola, <br/> Dr. Hector Gonzalez <span class="glyphicon glyphicon-menu-down"></span></p>
            </div>

    </div>
</header>