<div class="carousel">
    <div class="list">
        <ul>
                <li ng-repeat="item in vm.carrouselItems">
                    <div class="head">
                        <div class="image" style="background-image: url('{{item.document_image}}')">
                            <a href="{{item.url}}"></a>
                        </div>
                        <!-- @if( $item->premium ) -->
                            <div class="icon"></div>
                            <div class="rectangle"></div>
                    </div>
                    <div class="star-wrapper to-render" data-clas="stars" data-score="{{item.general_score}}"></div>
                    <!-- @if( $type == 'hospital' )
                        <p class="text">Hospital <strong>{{$item->name}}</strong></p>
                    @else -->
                        <p class="text"><strong>{{item.name item.last_name}}</strong></p>
                        <div class="tags">
                                <a class="tag" href="/busqueda?q={{item.speciality.slug}}">{{$item.speciality}}</a>
                                <!-- <a class="tag" href="/busqueda?q={{$item->subspeciality->slug}}">{{$item.subspeciality->name}}</a> -->
                        </div>
                </li>
        </ul>
    </div>
</div>