<div class="container" ng-controller="accountCtrl as vm">
    <div class="jumbotron alert alert-success" ng-show="vm.activation.success">
        <div class="container">
                <h1>Tu correo ha sido verificado <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></h1>
                <p>Ahora puedes acceder a tu cuenta! <strong><a class="" href="/#!/login" role="button"> Haz click aqui para ingresar a tu cuenta</a></strong></p>
        </div>
    </div>
    <div class="jumbotron alert alert alert-danger"  ng-hide="vm.activation.success">
        <div class="container">
                <h1>Tu correo no pudo ser verificado <span class="glyphicon glyphicon-alert" aria-hidden="true"></span></h1>
                <p>Hubo un problema verificando tu corrreo! <strong><a class="" ng-click="vm.sendActivationCode()" role="button"> Haz click aqui para reenviar correo de acticacion</a></strong></p>
        </div>
    </div>
</div>
