<div class="container padding-login">
    <div class="row">
        <div class="col-md-12 please-login">
            <div class="row">
                <div class="col-md-6 text-left" id="LoginFormSection">
                    <h4><strong>Ingresar</strong></h4>
                    <form name="loginform" class="global-style form-login-user" id="login-recovery-form">
                        <fieldset>
                            <div class="border">
                                <label for="">
                                    <span>Email</span>
                                    <input type="email" placeholder="Correo electrónico" ng-model="vm.login.email" name="email" required>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset id="login-password-wrapper">
                            <div class="border">
                                <label for="">
                                    <span>Contraseña</span>
                                    <input type="password" placeholder="***********" ng-model="vm.login.password" name="password" minlength=8 required>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="text-right">
                            <button type="button" class="btn no-border" id="password-recovery-button">Recuperar mi contraseña</button>
                            <button class="btn" type="submit" id="login-send-button" ng-click="loginform.$valid && vm.verifyLogin()">Ingresar</button>
                        </fieldset>
                    </form>
                    <div class="b-body text-right facebook-login">
                        <a href="/login/facebook" class="btn facebook"><i class="fa fa-facebook"></i>&nbsp; Ingresa vía Facebook</a>
                    </div>
                </div>
                <div class="col-md-6 padding-top-20 register-zone">
                    <h4><strong>Crea una cuenta</strong></h4>
                    <div class="buttons text-center">
                        <div class="padding">
                            <a href="#!/registro/paciente" class="new-user-trigger btn color-btn btn-block style-patient" id="triggerPatient"><span>Registrarme como paciente</span></a>
                            <a href="#!/registro/doctor" class="new-user-trigger btn color-btn btn-block style-doctor" id="triggerDoctor"><span>Registrarme como Doctor u Hospital</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
