<div class="container padding-login">
    <div class="row">
        <div class="col-md-12 please-login">
            <div class="row">
                <div class="col-md-6 text-left" id="LoginFormSection">
                <form name="registerForm" class="form-register-new-user global-style">
                        <input type="hidden" id="new-user-type" name="type" class="hidden">
                        <fieldset>
                            <div class="border">
                                <label for="name">
                                    <span>Nombre</span>
                                    <input type="text" placeholder="Laura" name="name" id="name" ng-model="vm.registro.first_name" required>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="border">
                                <label for="last_name">
                                    <span>Apellidos</span>
                                    <input type="text" placeholder="González" name="last_name" id="last_name" ng-model="vm.registro.last_name" required>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="border">
                                <label for="email">
                                    <span>Email</span>
                                    <input type="email" placeholder="ejemplo@mail.com" name="email" id="email"ng-model="vm.registro.email" required>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="border">
                                <label for="password">
                                    <span>Contraseña</span>
                                    <input type="password" placeholder="*******" name="password1" id="password1" minlength="8" ng-model="vm.registro.password1" required>
                                </label>    
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="border">
                                <label for="password">
                                    <span>Contraseña</span>
                                    <input type="password" placeholder="*******" name="password2" id="password2" minlength="8" ng-model="vm.registro.password2" required>
                                </label>    
                            </div>
                        </fieldset>
                        <fieldset class="text-right">
                            <button class="btn" ng-click="registerForm.$valid && vm.registerUser(vm.register)">Registrarme</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;ó&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/login/facebook" class="btn facebook"><i class="fa fa-facebook"></i>&nbsp; Regístrate con Facebook</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
