<div class="page-title text-center">
    <h2>Mi cuenta</h2>
</div>
<div class="container">
    <div class="admin-zone">
        <div class="row">
            <div class="col-md-3">
                <div class="left">
                    <div class="block active">
                        <a href="#!/paciente/cuenta">Mi cuenta</a>
                    </div>  
                </div>
            </div>
            <div class="col-md-9">
                <div class="admin-content-zone">
                    <div class="head">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Mis datos:</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="body">
                                <form class="global-style update-profile-data">
                                    <div class="block">
                                        <div class="b-body">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="border">
                                                            <label for="name">Nombre <input type="text" ng-model="vm.pacient.name" id="name" name="name"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="border">
                                                            <label for="last_name">Apellidos <input type="text" ng-model="vm.pacient.last_name" id="last_name" name="last_name"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="border">
                                                            <label for="name">Email <input type="email" placeholder="vm.pacient.email" ng-model="vm.pacient.email" disabled="disabled"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <file-browser idsrc="profilePicture"  class="btn small" model="vm.pacient.profile_picture" usertype="patient" iwidth="150" iheight="150" caption="Elegir Imagen para perfil">
                                                            </file-browser >
                                                    </br>
                                                        <img ng-src="{{vm.BuildImageUrl(vm.pacient.profile_picture)}}" class="profilePicture img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}" style="display: block; max-height: 200px; max-width: 200px;" id="avatar-preview">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <br>
                                                <p class="text-right">
                                                    <button  class="btn" ng-click="vm.updatePacient()">Actualizar mis datos</button>
                                                </p>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <!-- @if( $user->provider != 'facebook') -->
                                    <div class="block">
                                        <div class="b-body">
                                            <form name="changePassword">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="border">
                                                                <label for="password">Contraseña Actual <input type="password" ng-model="vm.changePassword.old_password" placeholder="•••••••••" minlength=8 required></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="border">
                                                                <label for="password_confirm">Contraseña <input type="password" ng-model="vm.changePassword.new_password1" placeholder="•••••••••" minlength=8 required></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="border">
                                                                <label for="password">Confirmar contraseña <input type="password" ng-model="vm.changePassword.new_password2" placeholder="•••••••••" minlength=8 required></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </fieldset>
                                                <fieldset>
                                                    <br>
                                                    <p class="text-right">
                                                        <button type="submit" class="btn" ng-click="changePassword.$valid && vm.updatePassword()">Actualizar Contraseña</button>
                                                    </p>
                                                </fieldset>
                                        </form>
                                        </div>
                                    </div>
                                    <!-- @endif -->
                                </form>
                                <div class="block" style="border-bottom: 0;">
                                    <div class="b-head">
                                        <div class="icon"><img src="/assets/images/site/icons/foto_perfil-green.svg" alt=""></div>Desactivar mi cuenta
                                    </div>
                                    <div class="b-body">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>
                                                        <small>¿No estás contento?, puedes desactivar tu cuenta en cualquier momento ó <a href="#">hablar con alguno de nuestros asesores</a>.</small>
                                                    </p>
                                                    <p>
                                                        <a href="#" class="triggerFancy">Deseo desactivar mi cuenta</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fancy-zone">
    <div class="fancy-content">
        <div class="fancy-padding">
            <div class="fancy-close">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path fill="#257EC2" d="M20,40c-3.609,0-6.988-0.904-10.043-2.688c-1.148-0.67-1.537-2.144-0.866-3.292
                c0.671-1.147,2.145-1.535,3.292-0.867c2.342,1.367,4.834,2.031,7.617,2.031s5.275-0.664,7.618-2.031
                c2.353-1.372,4.163-3.184,5.536-5.536c1.366-2.343,2.031-4.834,2.031-7.618c0-2.783-0.665-5.275-2.031-7.617
                c-1.372-2.352-3.184-4.163-5.537-5.537C25.275,5.479,22.783,4.814,20,4.814s-5.275,0.664-7.617,2.031
                c-2.353,1.374-4.164,3.185-5.537,5.537C5.479,14.725,4.815,17.216,4.815,20c0,1.462,0.193,2.883,0.573,4.218
                c0.365,1.279-0.377,2.61-1.655,2.975c-1.279,0.361-2.611-0.378-2.975-1.656C0.255,23.771,0,21.909,0,20
                c0-3.609,0.903-6.988,2.687-10.043C4.464,6.911,6.91,4.465,9.956,2.688C13.012,0.904,16.391,0,20,0
                c3.607,0,6.987,0.904,10.045,2.687c3.047,1.779,5.491,4.225,7.268,7.269C39.096,13.012,40,16.391,40,20s-0.904,6.988-2.688,10.043
                c-1.777,3.046-4.222,5.491-7.267,7.27C26.987,39.096,23.607,40,20,40z"/>
                    <g>
                        <path fill="#257EC2" d="M11.273,25.177c0,0.413,0.145,0.763,0.435,1.054l2.062,2.062c0.289,0.29,0.641,0.436,1.053,0.436
                c0.397,0,0.74-0.146,1.031-0.436L20,24.146l4.146,4.146c0.29,0.29,0.633,0.436,1.03,0.436c0.413,0,0.765-0.146,1.055-0.436
                l2.062-2.062c0.289-0.291,0.436-0.641,0.436-1.054c0-0.397-0.146-0.74-0.436-1.031L24.146,20l4.146-4.146
                c0.289-0.29,0.436-0.634,0.436-1.031c0-0.413-0.146-0.764-0.436-1.054l-2.062-2.062c-0.29-0.29-0.642-0.435-1.055-0.435
                c-0.397,0-0.74,0.146-1.03,0.435L20,15.854l-4.146-4.146c-0.291-0.29-0.634-0.435-1.031-0.435c-0.413,0-0.764,0.146-1.053,0.435
                l-2.062,2.062c-0.291,0.29-0.435,0.641-0.435,1.054c0,0.397,0.145,0.741,0.435,1.031L15.854,20l-4.146,4.146
                C11.417,24.437,11.273,24.779,11.273,25.177z"/>
                    </g>
            </svg>
            </div>
            <p>Lamentamos que desees desactivar tu cuenta, para poder continuar escribe tu correo electrónico porfavor:</p>
            <form class="global-style deactivate-account">
                <fieldset class="padding-bottom-0">
                    <div class="row margin-bottom-20">
                        <div class="col-md-12">
                            <div class="border">
                                <label for="#">Correo <input type="text" name="email" placeholder="vm.pacient.email" data-email="vm.pacient.email"></label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center margin-bottom-0">
                                <button type="submit" class="btn no-border red">Deseo desactivar mi cuenta</button>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="fancy-bg"></div>
</div>
<script>
    $(document).ready(function(){
        DA.profile.init();
    });
</script>
