<div class="container" ng-controller="BookingCtrl as vm">
    <div class="row wrap">
        <div class="col-ms-12 panel-blue">
            <h4 class="gray text-center"><span class="glyphicon" aria-hidden="true"><img class="img-responsive" width="45" src="../assets/images/logoIcon.png"></span>    !Tu cita ha sido reservada!</h4>
            <p>Gracias po confiar en nosotros. Te estaremos notificando cuando tu cita este próxima.</p>
            <h4 class="blue">Informacion de tu cita:</h4>
            <div class="row">
                <div class="panel-blue col-md-8 col-md-offset-2">
                    <div class="col-md-12 doctorCard">
                        <div class="col-md-2">
                            <a href="#" class="thumbnail">
                                <img class="img-responsive" src="../assets/images/defaultUser.png" alt="doctor">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                        <h4 class="doctorname col-sm-6">Dr. Alfonso Jimenez Ruiz</h4>
                                        <p class="locationText col-xs-12"><img src="../assets/images/location.png" alt="doctor">  Manantial #114, Col. Futurama Monterrey, Torre 1, 1 Piso, departamento 207</p>
                                        <p class="locationText col-xs-12"><span class="glyphicon glyphicon-calendar greenIcon" aria-hidden="true"></span>  Lunes 16 / 9:00 AM </p>
                                        <p class="locationText col-xs-12"><span class="glyphicon glyphicon-bell greenIcon" aria-hidden="true"></span>  Notificaciones desde 1 dia antes </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 btnwrap text-center"> 
                    <button class="btn goToPaymentBtn col-md-12  text-center" type="submit">Continuar en Doctor Advisor</button>
                </div>
            </div> 
        </div>
    </div>
</div>