<div class="container">
    <div class="row">
        <p>
            <a href="#">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Regresar </a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 doctorCard">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img ng-src="{{vm.BuildImageUrl(vm.doctor.profile_picture)}}" class="img-thumbnail center-block img-responsive" alt="image" err-src="{{ vm.myDefaultImage }}">
                </a>
            </div>
            <div class="col-md-6">
                <h4 class="doctorname">Dr. {{vm.doctor.name}}</h4>
                <p><span class="specialtyContainer">{{vm.getSpecialtyNameById(vm.doctor.speciality_id)}}</span></p>
                <p><small>Consultorios disponibles</small>
                </p>
                <div class="btn-group col-md-12">
                    <p type="button" class="btn-default dropdown-toggle locationSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(vm.doctor.selectedOffice)}} <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
                    </p>
                    <ul class="dropdown-menu col-md-12">
                        <li ng-repeat="office in vm.doctor.offices" ng-click="vm.updateOfficeInfo(office)"><a href="" ng-click="vm.updateOfficeInfo(office)"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(office)}}</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="button" class="btn btn-xs MessageBtn col-xs-5 col-sm-5 col-md-4 col-lg-4">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensaje
                        </button>
                        <button type="button" class="btn btn-xs phoneBtn col-xs-5 col-sm-5 col-md-4 col-lg-4">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Llamar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 pull-right hidden-xs hidden-sm">
                <div class="row text-center">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li>
                                <img src="../assets/images/star-active.png" alt="nice">
                            </li>
                            <li>
                                <img src="../assets/images/star-active.png" alt="nice">
                            </li>
                            <li>
                                <img src="../assets/images/star-active.png" alt="nice">
                            </li>
                            <li>
                                <img src="../assets/images/star-active.png" alt="nice">
                            </li>
                            <li>
                                <img src="../assets/images/star-active.png" alt="nice">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bookIformationContainer">
                        <p>Precio por consulta
                            <br>
                            <em>*Incluye impuestos</em>
                            <br>
                        </p>
                        <p class="text-center">
                            <span class="mxn">MXN</span>
                            <b>${{vm.doctor.selectedOffice.price}}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="blue">Reservar consulta</h3>
            <p>Elige el dia y hora de tu consulta. Para Cambiar de dia utilice &lt; &gt; o bien consulte "Ver calendario por
                semana" para ver mas fecha disponbiles</p>
        </div>
    </div>
    <div ng-include="'booking/views/schedule.html'"></div>
</div>