<div class="modal fade bs-example-modal-lg" id="comfirmBooking" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row wrap">    
                    <div class="panel panel-custom">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">  
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                !Esta a un paso de reservar su cita¡
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Será un placer atenderte. Será dirigido a un sitio seguro para realiza el pago de su consulta.<br>
                            </p>
            
                            <p>
                                Únicamente le pediremos aceptar los términos y condiciones la primera vez que reserve una cita, después se realizará en automático.<br>
                            </p>
                            <p>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" ng-model='vm.TermsCheckbox'>
                                    <label class="form-check-label" for="exampleCheck1"></label> Acepto los terminos y codiciones. <b><u><a href="#">Ver términos y condiciones.</a></u></b></label>
                                </div>
                            </p>
            
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 btnwrap text-center"> 
                                    <button class="btn goToPaymentBtn col-md-12  text-center" type="button" ng-click="vm.saveAppointment()" ng-disabled="!vm.TermsCheckbox" >Continuar con el pago</button>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-center cancel">    
                                    <a href="#" data-dismiss="modal" >Cancelar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>

        </div>
    </div>
</div>