 <!-- Modal -->
 <div class="modal fade bs-example-modal-lg" tabindex="-10" id="creditCardModal" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row wrap">
                    <div class="col-md-12">
                        <h3 class="blue">Ingresa tu método de pago</h3>
                        <p>Escribe los datos de tu tarjeta. Todos los datos proporcionados son confidenciales y seguros</p> 
                    </div>
                    <div class="col-md-8 col-md-offset-2 wrap panel-grey">
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tarjeta de Credito / débito </label>
                                <input type="text" class="form-control" placeholder="Nombre de ">
                                <em>Cómo viene en el plastico</em> 
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Numero de tarjeta" />
                                <i class="
                                glyphicon glyphicon-lock form-control-feedback"></i>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="MM/YY">
                                    <em>Fecha de vencimiento</em>
                                </div>
                                <div class="form-group has-feedback form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Codigo de seguridad" />
                                    <i class="
                                    glyphicon glyphicon-lock form-control-feedback"></i>
                                    <em>Codigo de seguridad</em>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 btnwrap text-center"> 
                                            <button class="btn goToPaymentBtn col-md-12  text-center" type="submit">Guardar datos de la tarjeta</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="text-center cancel">    
                                            <a href="#">Cancelar</a>
                                        </p>
                                    </div>
                                </div>
                            </div>  -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="vm.saveCardData()">Guardar</button>
            </div>
        </div>
    </div>
</div>