<div class="container" ng-controller="BookingCtrl as vm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 doctorCard">
            <h3 class="gray">Resumen de consulta</h3>
            <div class="col-md-2 col-xs-4">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="../assets/images/defaultUser.png" alt="doctor">
                </a>
            </div>
            <div class="col-md-7 col-sm-8">
                <div class="row">
                    <div class="col-md-12">
                            <h4 class="doctorname col-sm-6">Dr. Alfonso Jimenez Ruiz</h4>
                            <p class="locationText col-sm-6"><span class="specialtyContainer">Cirugia Plastica / Recosntructiva</span></p>
                            <p class="locationText col-xs-12"><img src="../assets/images/location.png" alt="doctor">  Manantial #114, Col. Futurama Monterrey, Torre 1, 1 Piso, departamento 207</p>
                            <p class="locationText col-xs-12"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Lunes 16 / 9:00 AM </p>
                    </div>
                </div>
                <!-- phone and tablet section -->
                <div class="row  hidden-md hidden-lg">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                                <li><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                                <li><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                                <li><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                                <li><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                            </ul>
                        </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-md-12">
                        <p>Precio por consulta  <b>$250 MXN</b>
                        </p>
                    </div>
                </div> 
                <!-- end phone and tablet section -->   
            </div>
            <div class="col-md-3 col-lg-3 pull-right hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li><img src="../assets/images/star-active.png" alt="nice"></li>
                            <li><img src="../assets/images/star-active.png" alt="nice"></li>
                            <li><img src="../assets/images/star-active.png" alt="nice"></li>
                            <li><img src="../assets/images/star-active.png" alt="nice"></li>
                            <li><img src="../assets/images/star-active.png" alt="nice"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bookIformationContainer">
                        <p>Precio por consulta<br>
                            <em>*Incluye impuestos</em><br>
                        </p>
                        <p class="text-center">
                            <span class="mxn">MXN</span> <b>$250</b>
                        </p>
                    </div>
                    <div class="col-md-12 hidden-md hidden-lg">
                        <p class="text-center">    
                            <button class="btn bookBtn text-center col-md-12" type="submit">Reservar Consulta</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="blue">Metodo de pago</h3>
                <p>Visualiza y agrega métodos de pago para realzar la reserva de tus consultas</p> 
            </div>
            <div class="col-md-12 wrap">
                <div class="col-md-8 col-md-offset-2 panel-payment">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> No has ingresado ninguna tarjeta
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Pago en efectivo
                                    </label>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>       
                                 <a href="" data-toggle="modal" data-target="#creditCardModal">Ingresar método de pago <span class="
                                glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 btnwrap text-center"> 
                                    <button class="btn goToPaymentBtn col-md-12  text-center" type="submit">Pagar Consulta</button>
                                </div>
                            </div>
                            <div class="row">
                                <p class="text-center cancel">    
                                    <a href="#">Cancelar</a>
                                </p>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'booking/views/creaditCardInfo.html'"></div>


      
     