<div class="row wrap">
    <div class="col-md-12 panel-payment">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <span class="pull-left" ng-click="vm.previousWeek()">
                        <a href="" >
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Anterior</a>
                    </span>
                    <span class="text-center">
                        {{vm.months[vm.weekDays[0].month].name}}
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </span>
                    <span class="pull-right" ng-click="vm.nextWeek()">
                        <a href="">Siguiente
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" ng-repeat="day in vm.weekDays">
                                {{day.day}}
                                <br>
                                <em>{{day.name}}</em>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-repeat="schedule in vm.doctor.selectedOffice.schedule track by $index">
                                <span ng-hide="vm.isScheduleAvailable(schedule)">
                                    <em>No hay horarios
                                    <br> disponibles</em>
                                </span>
                                <span ng-show="vm.isScheduleAvailable(schedule)">
                                    <ul class="schedule" ng-repeat="time in schedule.hours">
                                        <li ng-class="{ 'scheduleSelected': $index+'_'+$id == vm.selectedDate && time.available, 'scheduleDisabled': !time.available  }" ng-click="vm.updateSelectedSchedule(this,time,schedule.date)">{{time.start}}</li>
                                    </ul>
                                </span>             
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 wrap">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 btnwrap text-center">
                        <button class="btn goToPaymentBtn col-md-12  text-center" data-toggle="modal" ng-click="vm.validateSchedule()">Reservar y pagar Consulta</button>
                </div>
            </div>
            <div class="row">
                <p class="text-center cancel">
                    <a href="#">Cancelar</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'booking/views/comfirmBooking.html'"></div>