<div>
    <div class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Encontramos {{vm.pagination.totalItems}} doctores relacionados con: <b>{{vm.query.pattern}}.</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="new-search">
                        <p class="desc">Realizar otra búsqueda</p>
                        <form onsubmit="return false;" class="search-component">
                            <fieldset>
                                <input type="text" class="search-value to-input"  placeholder="Ej. Dolor de cabeza, cirugía plástica o Frida Gutiérrez" ng-model="vm.query.pattern" ng-change="vm.getAutocompleteInfo()" class="form-control" uib-typeahead="autcomplete.name as autcomplete.name for autcomplete in vm.autcomplete | filter:{name:$viewValue}" typeahead-show-hint="true" typeahead-min-length="0">
                                <div class="closest">
                                    <div id="locationField">
                                        <input id="autocomplete" type="text"
                                                class="typeahead" autocomplete="off"
                                                placeholder="Ej. Colonia Juárez *"
                                                onFocus="DA.search.input_focus( this );" />
                                    </div>
                                    <small class="optional">* Opcional</small>
                                </div>
                                <button ng-click="vm.validateSearch()" class="search-icon"></button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- <div class="searchContainer hidden-xs">
            <form class="form-inline">
                <div class="form-group">
                    Ordenar por : 
                    <select class="form-control" ng-model="vm.search.orderBy">
                        <option>&#xf005; &nbsp; Calificacion de menor a mayor</option>
                        <option>&#xf005; &nbsp; Calificacion de mayor a menor</option>
                    </select>
                </div>
            </form>
        </div> -->
        
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 doctorCard" ng-repeat="doctor in vm.doctorsResult">
            <div class="col-md-2 col-xs-4">
                <a href="#!/perfil/doctor/{{doctor.id}}" class="thumbnail">
                    <img ng-src="{{vm.BuildImageUrl(doctor.profile_picture)}}" class="img-thumbnail center-block img-responsive" alt="image" err-src="{{ vm.myDefaultImage }}">   
                </a>
            </div>
            <div class="col-md-7">
                <div class="col-md-10">
                        <a href="#!/perfil/doctor/{{doctor.id}}"><p class="doctorname"> Dr. {{doctor.name}}</p></a>
                        <p><span class="specialtyContainer">{{vm.getSpecialtyNameById(doctor.speciality_id)}}</span></p>
                        <p><small>Consultorios disponibles</small>
                        </p>
                        <div class="btn-group col-md-12">
                            <p type="button" class="btn-default dropdown-toggle locationSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(doctor.selectedOffice)}} <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
                            </p>
                            <ul class="dropdown-menu col-md-12">
                                <li ng-repeat="office in vm.doctor.offices" ng-click="vm.updateDoctorSelectedOffice(office,$index)"><a href="" ng-click="vm.updateOfficeInfo(office)"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(office)}}</a></li>
                            </ul>
                        </div>
                        <!-- <p class="locationText col-xs-12">
                            <img src="../assets/images/location.png" alt="doctor">  Manantial #114, Col. Futurama Monterrey, Torre 1, 1 Piso, departamento 207
                        </p> -->
                </div>
                <!-- not desktop -->
                <div class="row  hidden-md hidden-lg">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li ng-repeat="score in vm.getScoreArray(vm.doctorProfile.profile.score)"><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                            </ul>
                        </div>
                </div>

                <div class="row  hidden-md hidden-lg">
                        <p>Precio por consulta  <b>${{doctor.selectedOffice.price}} MXN</b>
                        </p>
                </div>
                <!-- not desktop -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-xs MessageBtn col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensaje
                            </button>
                            <button type="button" class="btn btn-xs phoneBtn col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Llamar
                            </button>
                    </div>             
                </div>     
            </div>
            <div class="col-md-3 col-lg-3 pull-right hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline">
                            <li ng-repeat="score in vm.getScoreArray(vm.doctorProfile.profile.score)"><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bookIformationContainer">
                        <p>Precio por consulta:<br>
                            <em>*Incluye impuestos</em><br>
                        </p>
                        <p class="text-center">
                            <span class="mxn">MXN</span> <b>${{doctor.selectedOffice.price}}</b>
                        </p>
                        <p class="text-center">    
                            <a class="btn bookBtn text-center col-md-12" href="#!/reservacion/horario/doctor/{{doctor.id}}" type="button">Reservar Consulta</a>
                        </p>
                    </div>
                    <div class="col-md-12 hidden-md hidden-lg">
                        <p class="text-center">    
                            <a class="btn bookBtn text-center col-md-12" ng-href="#!/reservacion/horario/doctor/{{doctor.id}}" type="button">Reservar Consulta</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row hidden-md hidden-lg btnwrap">
                <div class="col-xs-12 col-sm-12 text-center"> 
                    <a class="btn bookBtnsmallPort text-center col-xs-12 col-sm-12"  ng-href="#!/reservacion/horario/doctor/{{doctor.id}}" type="button">Reservar Consulta</a>
                </div>
            </div>
            <div class="row hidden-sm">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
        
        <div class="text-center">
            <!-- <ul class="CustomPagination list-inline">
                <li ng-repeat="pages in vm.pagesNumber track by $index" class="separationList"><a href="#" ng-click="vm.GoToPage($index+1)">{{$index+1}}</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <img src="../assets/images/paginationNext.png" alt="Next">
                </a>
                </li>
            </ul> -->
            <ul uib-pagination boundary-links="true" total-items="vm.pagination.totalItems" ng-model="vm.pagination.currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="vm.pageChanged()" items-per-page="vm.pagination.itemsPerPage"></ul>
        </div>
    </div>
</div>