<div class="modal fade" id="editExperience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Experiencia</h4>
        </div>
        <div class="modal-body">
                <form name="step2Form">
                    <div class="row section">
                        <h4 class="sectionH"><img src="../../assets/images/icons/trayectoria.png" > Experiencia</h4>
                        <div class="row sectionContainer">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="Universidad" class="col-md-3 control-label">Trayectoria:</label>
                                    <div class="col-md-8">
                                        <textarea  class="form-control" ng-model="vm.doctor.step5.trajectory">
                                        </textarea >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Especialidad" class="col-md-3 control-label">Reconocimientos:</label>
                                    <div class="col-md-8">
                                        <textarea  class="form-control" ng-model="vm.doctor.step5.acknowledgments">
                                        </textarea >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Cedula" class="col-md-3 control-label">Servicios:</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="Cedula" ng-model="vm.doctor.step5.services">
                                        </textarea >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Especialidad" class="col-md-3 control-label" >Experiencia:</label>
                                    <div class="col-md-8">
                                        <textarea  class="form-control" ng-model="vm.doctor.step5.experience" >
                                        </textarea >
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button ng-click="vm.saveInformation(5)" class="btn btn-primary pull-right">Guardar</button>
        </div>
        </div>
    </div>
</div>