body.doctor-advisor .brand {
  height: 100%;
  background-color: white;
  padding: 0;
}
body.doctor-advisor .brand img {
  display: block;
  margin: 10px auto 0;
  height: 40px;
}
body.doctor-advisor .main-sidebar .user,
body.doctor-advisor .main-sidebar ul {
  position: relative;
}
body.doctor-advisor img.map-preview {
  display: block;
  width: 100%;
  height: auto;
}
body.doctor-advisor .pace .pace-progress:before {
  margin: 10px 0 0 30px;
  padding: 12px 0 0 0;
  width: 40px;
  height: 40px;
}
body.doctor-advisor .widget-body .row {
  border-bottom: 1px solid #e6e6e6;
  padding: 2rem 0;
}
body.doctor-advisor .widget-body .row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
body.doctor-advisor form .action-buttons {
  margin-bottom: 2rem;
}
body.doctor-advisor .item-gallery {
  position: relative;
  height: 400px;
}
body.doctor-advisor .item-gallery .gallery-wrapper {
  height: 300px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: block;
  margin-top: 1rem;
}
body.doctor-advisor .item-gallery .gallery-wrapper .item-gallery-element {
  height: 220px;
  position: relative;
}
body.doctor-advisor .item-gallery .gallery-wrapper .item-gallery-element .delete-element {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  color: #fff;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  border: 0;
  z-index: 1;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  body.doctor-advisor header {
    height: 70px;
    border-bottom: 4px solid #247ec2;
  }
  body.doctor-advisor header .brand {
    width: auto;
    padding: 0 0 0 15px;
  }
  body.doctor-advisor .main-sidebar {
    top: 70px;
  }
  body.doctor-advisor .main-container {
    padding-top: 70px;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
table.table p.old {
  opacity: 0.5;
}
