<footer>
    <div class="green-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 list">
                    <ul>
                        <li><a href="https://www.doctoradvisor.com.mx/anunciate">Anúnciate</a></li>
                        <li><a href="https://www.doctoradvisor.com.mx/legales/aviso">Aviso de privacidad</a></li>
                        <li><a href="https://www.doctoradvisor.com.mx/faqs">FAQ's</a></li>
                    </ul>
                </div>
                <div class="col-md-6 list text-right">
                    <ul>
                        <li><a href="https://www.facebook.com/DoctorAdvisor/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/+DoctoradvisorMx?hl=es" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCODJ5g1pizwfCCZUw5MNGKw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="last-bar">
        <p>© DoctorAdvisor. Todos los Derechos Reservados. <a href="https://www.doctoradvisor.com.mx/legales/terminos">Términos y Condiciones de Uso</a></p>
    </div>
</footer>
<!-- <div class="row footer">
    <div class="col-md-4 col-xs-12 vcenter">
        <ul class="list-inline">
            <li role="presentation" ><a href="#">Anúnciate</a></li>
            <li class="separationList" >&nbsp; </li>
            <li role="presentation" ><a href="#">Aviso de privacidad</a></li>
            <li class="separationList" >&nbsp; </li>
            <li role="presentation" ><a href="#">FAQ´s</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-12 pull-right">
        <ul class="list-inline pull-right">
            <li role="presentation"><a href="#"><img alt="facebook" src="../assets/images/facebook.png"></a></li>
            <li role="presentation" ><a href="#"><img alt="google" src="../assets/images/google.png"></a></li>
            <li role="presentation" ><a href="#"><img alt="youtube" src="../assets/images/youtube.png"></a></li>
        </ul>
    </div>
</div>
<div class="row footerRights">
    <p class="text-center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Doctor Advisor. Todos los Derechos Reservados Términos y Condiciones de Uso</p>
</div> -->