<header>
        <div class="menu">
            <div class="container">
                <div class="left">
                    <a href="https://www.doctoradvisor.com.mx//">
                        <img src="../assets/images/logo-doctor-advisor.png" alt="Logo Doctor Advisor">
                    </a>
                    <h1 class="hidden">Doctor Advisor</h1>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <form onsubmit="return false;" class="search-component">
                                <fieldset>
                                    <input type="text" class="search-value auto-search" placeholder="Ej. Dolor de cabeza">
                                    <button type="submit" class="search-icon"></button>
                                </fieldset>
                            </form>
                        </li>
                        <li>
                            <a href="https://www.doctoradvisor.com.mx/login" class="cancelClick">Ingresar</a>
                        </li>
                        <li>
                            <div class="logged">
                                <div class="avatar">
                                    <a href="https://www.doctoradvisor.com.mx/#!/pacientes/cuenta">
                                        <div class="circle" style="background-image: url('{{vm.doctor.user.avatar}}')"></div>
                                    </a>
                                </div>

                                <ul class="drop-menu">
                                    <li><a href="/#!/pacientes/cuenta">Ver perfil</a></li>
                                    <li><a href="https://www.doctoradvisor.com.mx/logout">Cerrar sesion</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-menu">
            <div class="container">
                <ul>
                    <li><a href="https://www.doctoradvisor.com.mx/como-funciona">¿Cómo funciona?</a></li>
                    <li><a href="https://www.doctoradvisor.com.mx/servicios">Servicios</a></li>
                    <li><a href="https://www.doctoradvisor.com.mx/contacto" class="cancelClick">Contacto</a></li>
                    <li><a href="https://www.doctoradvisor.com.mx/faqs" class="cancelClick">FAQ's</a></li>
                </ul>
            </div>
        </div>

        <div class="mobile-header">
            <div class="overflow">
                <div class="left">
                    <a href="https://www.doctoradvisor.com.mx/">
                        <img src="../assets/images/logo-doctor-advisor-white.png" alt="Doctor Advisor">
                    </a>
                    <h1 class="hidden">Doctor Advisor</h1>
                </div>
                <div class="right">
                    <img src="../assets/images/icons/mobile-menu.png" class="open" alt="Mobile">
                    <img src="../assets/images/icons/close-white.png" class="close" alt="Mobile">
                </div>
            </div>
            <div class="drop-menu">
                <ul>
                    <li><a href="https://www.doctoradvisor.com.mx/como-funciona" class="cancelClick">¿Cómo funciona?</a></li>
                    <li><a href="https://www.doctoradvisor.com.mx/servicios" class="cancelClick">Servicios</a></li>
                    <!-- <li><a href="#" class="cancelClick">Blog</a></li> -->
                    <li><a href="https://www.doctoradvisor.com.mx/contacto" class="cancelClick">Contacto</a></li>
                    <li><a href="https://www.doctoradvisor.com.mx/settings" class="cancelClick">Cuenta</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- <div class="row hidden-xs">
    <div class="row header">
        <div class="col-md-3">
            <img alt="Brand" src="../assets/images/logo-doctor-advisor.png">
        </div>
        <div class="col-md-1 pull-right"> 
            <img alt="Brand" src="../assets/images/defaultUser.png" class="img-circle">
        </div>
        <div class="col-md-3 pull-right"> 
            <div class="input-group">
                <input type="text" class="searchInput col-lg-12 col-md-12 col-sm-12" placeholder="Ej. Dolor de cabeza">
                <span class="input-group-addon inputIcon">
                    <img alt="Brand" class="searchIcon" src="../assets/icons/buscador.png">
                </span>
            </div>
        </div> 
    </div>
    <div class="row headerNavigation">
        <div class="col-md-12">
            <ul class="nav-justified text-center headerNav">
                <li role="presentation"><a href="#">Cómo Funciona?</a></li>
                <li role="presentation" ><a href="#">Servicios</a></li>
                <li  role="presentation" ><a href="#">Contacto</a></li>
                <li  role="presentation" ><a href="#">FAQ´s</a></li>
            </ul>
        </div>
        
    </div>
</div>
<nav class="navbar navbar-default hidden-md hidden-lg hidden-sm">
    <div class="container-fluid">
        <div class="navbar-header wrap">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img alt="Brand" src="../assets/images/logo-doctor-advisor.png">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li>  
                    <div class="input-group">
                        <input type="text" class="searchInput col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="Ej. Dolor de cabeza">
                        <span class="input-group-addon inputIcon">
                            <img alt="Brand" class="searchIcon" src="../assets/icons/buscador.png">
                        </span>
                    </div>
                </li>
                <li role="presentation"><a href="#">Cómo Funciona?</a></li>
                <li role="presentation" ><a href="#">Servicios</a></li>
                <li  role="presentation" ><a href="#">Contacto</a></li>
                <li  role="presentation" ><a href="#">FAQ´s</a></li>
            </ul>
        </div>
    </div>
</nav>  -->