.panel-custom{
    border: 1px solid #1c7fc2;
    background-color: white;
    color: #5c6f90;;
}

.panel-heading{
    border-bottom: 1px solid #1c7fc2;
    padding: 20px;
}
.panel-body{
    padding: 40px;
}

.goToPaymentBtn{
    padding: 7px;
    background-color: #1c7fc2;
    color: white;
    margin: 0 auto;
}

.cancel>a{
    color:#1c7fc2;
}
.wrap{ padding: 40px 10px 40px 10px; }