
.panel-payment{ 
    border: 1px solid #979797;
    background-color: white;
    color: #5c6f90;
}

.panel-payment>div{ 
    border: 1px solid #979797;
    background-color: white;
    color: #5c6f90;
    text-align: center;
    padding: 10px;
}

.gray { color:#979797;}
.darkblue { color:#063e63;}
.blue { color: #1880bf;}

.panel-grey{ 
    border: 1px solid #979797;
    background-color: white;
    color: #5c6f90;
    padding: 20px 80px 20px 80px;
}

.panel-blue{ 
    border: 1px solid #1880bf;
    background-color: white;
    padding: 20px 20px 20px 20px;
}


.greenIcon{color:#8CC845;}