.schedule
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.schedule>li
{
    border: 1px solid #1880bf;
    border-radius: 50px;
    color:#1880bf;
    padding:3px 10px 3px 10px;
    margin:5px;
}
.schedule>li:hover
{
    border: 1px solid #1880bf;
    border-radius: 50px;
    background-color: #1880bf;
    color:white;
    padding:3px 10px 3px 10px;
    margin:5px;
}
.scheduleSelected
{
    border: 1px solid #1880bf;
    border-radius: 50px;
    background-color: #1880bf;
    color:white !important;
    padding:3px 10px 3px 10px;
    margin:5px;
}
.scheduleDisabled{
    pointer-events: none;
    border: 1px soli grey;
    border-radius: 50px;
    background-color: grey;
    color:white !important;
    padding:3px 10px 3px 10px;
    margin:5px;
}
