a.btn.btn-primary,
button.btn.btn-primary {
  color: #FFF;
  background-color: #247ec2;
  border-color: #247ec2;
}
a.btn.btn-primary:hover,
button.btn.btn-primary:hover {
  color: #FFF !important;
  background-color: ligthen(#247ec2, 10%) !important;
  border-color: ligthen(#247ec2, 10%) !important;
}
a.btn.btn-success,
button.btn.btn-success {
  color: #FFF;
  background-color: #8cc63f;
  border-color: #8cc63f;
}
a.btn.btn-success:hover,
button.btn.btn-success:hover {
  color: #FFF !important;
  background-color: ligthen(#8cc63f, 10%) !important;
  border-color: ligthen(#8cc63f, 10%) !important;
}
.chat-content .other .media-body p {
  background-color: #247ec2;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: ligthen(#247ec2, 10%);
  border-color: ligthen(#247ec2, 10%);
}
.form-control.focus,
.form-control:focus {
  border-color: ligthen(#247ec2, 10%);
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active:hover:hover,
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border-color: #247ec2;
  background-color: #247ec2;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #247ec2;
}
.breadcrumb > .active {
  color: ligthen(#8cc63f, 10%);
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #247ec2;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
  background-color: #247ec2;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
  background-color: #e6e6e6;
  box-shadow: 0 3px 0 0 #cdcdcd;
}
.sk-chasing-dots .sk-child,
.sk-circle .sk-child:before,
.sk-cube-grid .sk-cube,
.sk-double-bounce .sk-child,
.sk-fading-circle .sk-circle:before,
.sk-folding-cube .sk-cube:before,
.sk-rotating-plane,
.sk-spinner-pulse,
.sk-three-bounce .sk-child,
.sk-wandering-cubes .sk-cube,
.sk-wave .sk-rect,
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #247ec2;
}
.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
  background-color: #247ec2;
  box-shadow: 0 3px 0 0 #247ec2;
}
.mailbox .inbox li.active {
  box-shadow: inset -5px 0 #247ec2;
}
