.form-control, .form-control.focus, .form-control:focus {
    box-shadow: none
}

.checkbox-custom, body {
    position: relative
}

.hamburger-menu span:after, .hamburger-menu span:before, header {
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -ms-backface-visibility: hidden !important;
    -o-backface-visibility: hidden !important
}

.body-bg-full, .main-sidebar {
    background-repeat: no-repeat;
    background-size: cover
}


body {
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 16px;
    color: #737373;
    background-color: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    moz-osx-font-smoothing: grayscale !important
}

a {
    color: #0667D6
}

a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #054fa4
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500
}

.text-base {
    color: #737373
}

.text-muted {
    color: #9a9a9a
}

.text-white {
    color: #FFF
}

.text-primary {
    color: #055bbd
}

a.text-primary:focus, a.text-primary:hover {
    color: #04438c
}

.text-success {
    color: #149278
}

a.text-success:focus, a.text-success:hover {
    color: #0e6553
}

.text-info {
    color: #00a7f5
}

a.text-info:focus, a.text-info:hover {
    color: #0084c2
}

.text-warning {
    color: #ffae04
}

a.text-warning:focus, a.text-warning:hover {
    color: #d18d00
}

.text-danger {
    color: #e21d27
}

a.text-danger:focus, a.text-danger:hover {
    color: #b5171f
}

.text-purple {
    color: #801dcd
}

a.text-purple:focus, a.text-purple:hover {
    color: #6417a0
}

.bg-light {
    background-color: rgba(255, 255, 255, .1)
}

.bg-dark {
    background-color: rgba(31, 54, 79, .1)
}

.bg-default {
    background-color: #e6e6e6;
    color: #FFF
}

a.bg-default:focus, a.bg-default:hover {
    background-color: #cdcdcd
}

.bg-black {
    background-color: #1f364f;
    color: #FFF
}

a.bg-black:focus, a.bg-black:hover {
    background-color: #111d2b
}

.bg-primary {
    background-color: #0773ef;
    color: #FFF
}

a.bg-primary:focus, a.bg-primary:hover {
    background-color: #055bbd
}

.bg-success {
    background-color: #1abe9e;
    color: #FFF
}

a.bg-success:focus, a.bg-success:hover {
    background-color: #149278
}

.bg-info {
    background-color: #29bbff;
    color: #FFF
}

a.bg-info:focus, a.bg-info:hover {
    background-color: #00a7f5
}

.bg-warning {
    background-color: #ffbe38;
    color: #FFF
}

a.bg-warning:focus, a.bg-warning:hover {
    background-color: #ffae05
}

.bg-danger {
    background-color: #e84b53;
    color: #FFF
}

a.bg-danger:focus, a.bg-danger:hover {
    background-color: #e21d27
}

.bg-purple {
    background-color: #9939e3;
    color: #FFF
}

a.bg-purple:focus, a.bg-purple:hover {
    background-color: #801dcd
}

.page-header {
    border-style: none;
    margin: 0
}

.form-control, .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #e6e6e6
}

.drop-cap:first-letter {
    float: left;
    margin: 0 10px -5px 0;
    font-size: 450%;
    line-height: 100%;
    color: #055bbd
}

.row {
    margin-left: -12px;
    margin-right: -12px
}

.row > [class^=col] {
    padding-left: 12px;
    padding-right: 12px
}

.row-sm {
    margin-left: -6px;
    margin-right: -6px
}

.row-sm > [class^=col] {
    padding-left: 6px;
    padding-right: 6px
}

.row-sm.grid {
    margin: -6px
}

.row-sm.grid > [class^=col] {
    padding: 6px
}

.row-xs {
    margin-left: -2px;
    margin-right: -2px
}

.row-xs > [class^=col] {
    padding-left: 2px;
    padding-right: 2px
}

.row-xs.grid {
    margin: -2px
}

.row-xs.grid > [class^=col] {
    padding: 2px
}

.row-0 {
    margin-left: 0;
    margin-right: 0
}

.row-0 > [class^=col] {
    padding-left: 0;
    padding-right: 0
}

caption {
    color: #9a9a9a
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 12px 15px;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6
}

.table > tfoot > tr > th, .table > thead > tr > th {
    font-weight: 500;
    border-bottom: 1px solid #e6e6e6
}

.table > tbody + tbody {
    border-top: 1px solid #e6e6e6
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: 1px solid #e6e6e6
    }
}

input[type=text], input[type=email], input[type=password], textarea {
    -webkit-appearance: none
}

label {
    font-weight: 400
}

.form-control {
    font-size: 14px
}

.form-control.rounded {
    border-radius: 100px !important
}

.checkbox-custom, .radio-custom, .switch {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.checkbox-custom label, .radio-custom label, .switch label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.checkbox-custom + .checkbox-custom, .radio-custom + .radio-custom, .switch + .switch {
    margin-top: -5px
}

fieldset[disabled] input[type=radio] + label, fieldset[disabled] input[type=checkbox] + label, input[type=radio].disabled + label, input[type=radio][disabled] + label, input[type=checkbox].disabled + label, input[type=checkbox][disabled] + label {
    opacity: .6;
    cursor: not-allowed !important
}

input[type=radio]:focus, input[type=checkbox]:focus {
    outline: 0
}

.checkbox-inline, .radio-inline, .switch-inline {
    padding-left: 0;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0
}

.checkbox-custom input[type=checkbox], .radio-custom input[type=radio] {
    display: none !important
}

.checkbox-custom input[type=checkbox] + label {
    cursor: pointer;
    margin-bottom: 0
}

.checkbox-custom input[type=checkbox] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.checkbox-custom input[type=checkbox] + label:after {
    position: absolute;
    top: -5px;
    left: 1px;
    font-family: themify;
    content: "\e64c";
    font-size: 18px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.checkbox-custom input[type=checkbox] + label.checkbox-success:before {
    border-color: #17A88B
}

.checkbox-custom input[type=checkbox] + label.checkbox-warning:before {
    border-color: #FFB61E
}

.checkbox-custom input[type=checkbox] + label.checkbox-error:before {
    border-color: #E5343D
}

.checkbox-custom input[type=checkbox] + label.checkbox-muted:before {
    border-color: #9a9a9a
}

.checkbox-custom input[type=checkbox]:checked + label:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.radio-custom {
    position: relative
}

.radio-custom input[type=radio] + label {
    cursor: pointer;
    margin-bottom: 0
}

.radio-custom input[type=radio] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 50%
}

.radio-custom input[type=radio] + label.radio-success:before {
    border-color: #17A88B
}

.radio-custom input[type=radio] + label.radio-warning:before {
    border-color: #FFB61E
}

.radio-custom input[type=radio] + label.radio-error:before {
    border-color: #E5343D
}

.radio-custom input[type=radio] + label:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 7px;
    left: 5px;
    display: block;
    border-radius: 50%;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.radio-custom input[type=radio]:checked + label:after {
    background-color: #737373;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.radio-custom input[type=radio]:checked + label.radio-success:after {
    background-color: #17A88B
}

.radio-custom input[type=radio]:checked + label.radio-warning:after {
    background-color: #FFB61E
}

.radio-custom input[type=radio]:checked + label.radio-error:after {
    background-color: #E5343D
}

.switch {
    position: relative
}

.switch input[type=radio], .switch input[type=checkbox] {
    display: none !important
}

.switch input[type=radio] + label, .switch input[type=checkbox] + label {
    cursor: pointer;
    margin-bottom: 0;
    height: 20px;
    width: 36px
}

.switch input[type=radio] + label:before, .switch input[type=checkbox] + label:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 36px;
    height: 4px;
    background-color: #e6e6e6;
    border-radius: 100px
}

.switch input[type=radio] + label:after, .switch input[type=checkbox] + label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    margin-left: 0;
    width: 16px;
    height: 16px;
    background-color: #e6e6e6;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: margin 50ms;
    -moz-transition: margin 50ms;
    -o-transition: margin 50ms;
    transition: margin 50ms
}

.switch input[type=radio]:checked + label:after, .switch input[type=checkbox]:checked + label:after {
    margin-left: 20px
}

.switch input[type=radio]:checked + label.switch-success:after, .switch input[type=radio]:checked + label.switch-success:before, .switch input[type=checkbox]:checked + label.switch-success:after, .switch input[type=checkbox]:checked + label.switch-success:before {
    background-color: #17A88B
}

.switch input[type=radio]:checked + label.switch-warning:after, .switch input[type=radio]:checked + label.switch-warning:before, .switch input[type=checkbox]:checked + label.switch-warning:after, .switch input[type=checkbox]:checked + label.switch-warning:before {
    background-color: #FFB61E
}

.switch input[type=radio]:checked + label.switch-error:after, .switch input[type=radio]:checked + label.switch-error:before, .switch input[type=checkbox]:checked + label.switch-error:after, .switch input[type=checkbox]:checked + label.switch-error:before {
    background-color: #E5343D
}

.form-control-feedback {
    line-height: 34px
}

.has-success .checkbox, .has-success .checkbox-custom, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-custom, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: #17A88B;
    font-weight: 400
}

.has-success .form-control {
    border-color: #17A88B;
    box-shadow: none
}

.has-success .form-control:focus {
    box-shadow: none;
    border-color: #17A88B
}

.has-success .input-group-addon {
    color: #17A88B;
    border-color: #17A88B;
    background-color: transparent
}

.has-success .form-control-feedback {
    color: #17A88B
}

.has-warning .checkbox, .has-warning .checkbox-custom, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-custom, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
    color: #FFB61E;
    font-weight: 400
}

.has-warning .form-control {
    border-color: #FFB61E;
    box-shadow: none
}

.has-warning .form-control:focus {
    box-shadow: none;
    border-color: #FFB61E
}

.has-warning .input-group-addon {
    color: #FFB61E;
    border-color: #FFB61E;
    background-color: transparent
}

.has-warning .form-control-feedback {
    color: #FFB61E
}

.has-error .checkbox, .has-error .checkbox-custom, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-custom, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #E5343D;
    font-weight: 400
}

.has-error .form-control {
    border-color: #E5343D;
    box-shadow: none
}

.has-error .form-control:focus {
    box-shadow: none;
    border-color: #E5343D
}

.has-error .input-group-addon {
    color: #E5343D;
    border-color: #E5343D;
    background-color: transparent
}

.has-error .form-control-feedback {
    color: #E5343D
}

@media (min-width: 768px) {
    .form-inline .checkbox-custom, .form-inline .radio-custom, .form-inline .switch {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }
}

.form-horizontal .checkbox-custom, .form-horizontal .radio-custom, .form-horizontal .switch {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    height: 27px
}

.form-horizontal .checkbox-custom input[type=checkbox] + label:before {
    top: 9px
}

.form-horizontal .checkbox-custom input[type=checkbox] + label:after {
    top: 2px
}

.form-horizontal .radio-custom input[type=radio] + label:before {
    top: 9px
}

.form-horizontal .radio-custom input[type=radio] + label:after {
    top: 14px
}

.form-horizontal .switch input[type=radio] + label:before, .form-horizontal .switch input[type=checkbox] + label:before {
    top: 15px
}

.form-horizontal .switch input[type=radio] + label:after, .form-horizontal .switch input[type=checkbox] + label:after {
    top: 9px
}

.btn {
    outline: 0 !important;
    padding: 6px 15px;
    font-size: 14px
}

.btn.active, .btn:active {
    box-shadow: none
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 20px;
    font-size: 16px
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 12px;
    font-size: 12px
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px
}

.btn-default {
    color: #737373;
    background-color: #e6e6e6;
    border-color: #e6e6e6
}

.btn-default.focus, .btn-default:focus {
    color: #737373 !important;
    background-color: #cdcdcd !important;
    border-color: #cdcdcd !important
}

.btn-default:hover {
    color: #737373 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important
}

.btn-default.active, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: #737373;
    background-color: #cdcdcd;
    border-color: #cdcdcd
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6
}

.btn-default .badge {
    color: #e6e6e6
}

.btn-primary {
    color: #FFF;
    background-color: #0667D6;
    border-color: #0667D6
}

.btn-primary.focus, .btn-primary:focus {
    color: #FFF !important;
    background-color: #054fa4 !important;
    border-color: #054fa4 !important
}

.btn-primary:hover {
    color: #FFF !important;
    background-color: #055bbd !important;
    border-color: #055bbd !important
}

.btn-primary.active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #FFF;
    background-color: #054fa4;
    border-color: #054fa4
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #0667D6;
    border-color: #0667D6
}

.btn-primary .badge {
    color: #0667D6
}

.btn-success {
    color: #FFF;
    background-color: #17A88B;
    border-color: #17A88B
}

.btn-success.focus, .btn-success:focus {
    color: #FFF !important;
    background-color: #117b66 !important;
    border-color: #117b66 !important
}

.btn-success:hover {
    color: #FFF !important;
    background-color: #149278 !important;
    border-color: #149278 !important
}

.btn-success.active, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover {
    color: #FFF;
    background-color: #117b66;
    border-color: #117b66
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #17A88B;
    border-color: #17A88B
}

.btn-success .badge {
    color: #17A88B
}

.btn-info {
    color: #FFF;
    background-color: #0FB3FF;
    border-color: #0FB3FF
}

.btn-info.focus, .btn-info:focus {
    color: #FFF !important;
    background-color: #0096db !important;
    border-color: #0096db !important
}

.btn-info:hover {
    color: #FFF !important;
    background-color: #00a7f5 !important;
    border-color: #00a7f5 !important
}

.btn-info.active, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open > .dropdown-toggle.btn-info, .open > .dropdown-toggle.btn-info.focus, .open > .dropdown-toggle.btn-info:focus, .open > .dropdown-toggle.btn-info:hover {
    color: #FFF;
    background-color: #0096db;
    border-color: #0096db
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #0FB3FF;
    border-color: #0FB3FF
}

.btn-info .badge {
    color: #0FB3FF
}

.btn-purple {
    color: #FFF;
    background-color: #8E23E0;
    border-color: #8E23E0
}

.btn-purple.focus, .btn-purple:focus {
    color: #FFF !important;
    background-color: #721ab6 !important;
    border-color: #721ab6 !important
}

.btn-purple:hover {
    color: #FFF !important;
    background-color: #801dcd !important;
    border-color: #801dcd !important
}

.btn-purple.active, .btn-purple.active.focus, .btn-purple.active:focus, .btn-purple.active:hover, .btn-purple:active, .btn-purple:active.focus, .btn-purple:active:focus, .btn-purple:active:hover, .open > .dropdown-toggle.btn-purple, .open > .dropdown-toggle.btn-purple.focus, .open > .dropdown-toggle.btn-purple:focus, .open > .dropdown-toggle.btn-purple:hover {
    color: #FFF;
    background-color: #721ab6;
    border-color: #721ab6
}

.btn-purple.disabled, .btn-purple.disabled.active, .btn-purple.disabled.focus, .btn-purple.disabled:active, .btn-purple.disabled:focus, .btn-purple.disabled:hover, .btn-purple[disabled], .btn-purple[disabled].active, .btn-purple[disabled].focus, .btn-purple[disabled]:active, .btn-purple[disabled]:focus, .btn-purple[disabled]:hover, fieldset[disabled] .btn-purple, fieldset[disabled] .btn-purple.active, fieldset[disabled] .btn-purple.focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:hover {
    background-color: #8E23E0;
    border-color: #8E23E0
}

.btn-purple .badge {
    color: #8E23E0
}

.btn-warning {
    color: #FFF;
    background-color: #FFB61E;
    border-color: #FFB61E
}

.btn-warning.focus, .btn-warning:focus {
    color: #FFF !important;
    background-color: #ea9e00 !important;
    border-color: #ea9e00 !important
}

.btn-warning:hover {
    color: #FFF !important;
    background-color: #ffae04 !important;
    border-color: #ffae04 !important
}

.btn-warning.active, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open > .dropdown-toggle.btn-warning, .open > .dropdown-toggle.btn-warning.focus, .open > .dropdown-toggle.btn-warning:focus, .open > .dropdown-toggle.btn-warning:hover {
    color: #FFF;
    background-color: #ea9e00;
    border-color: #ea9e00
}

.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #FFB61E;
    border-color: #FFB61E
}

.btn-warning .badge {
    color: #FFB61E
}

.btn-danger {
    color: #FFF;
    background-color: #E5343D;
    border-color: #E5343D
}

.btn-danger.focus, .btn-danger:focus {
    color: #FFF !important;
    background-color: #cc1a23 !important;
    border-color: #cc1a23 !important
}

.btn-danger:hover {
    color: #FFF !important;
    background-color: #e21d27 !important;
    border-color: #e21d27 !important
}

.btn-danger.active, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
    color: #FFF;
    background-color: #cc1a23;
    border-color: #cc1a23
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #E5343D;
    border-color: #E5343D
}

.btn-danger .badge {
    color: #E5343D
}

.btn-black {
    color: #FFF;
    background-color: #1f364f;
    border-color: #1f364f
}

.btn-black.focus, .btn-black:focus {
    color: #FFF !important;
    background-color: #111d2b !important;
    border-color: #111d2b !important
}

.btn-black:hover {
    color: #FFF !important;
    background-color: #18293d !important;
    border-color: #18293d !important
}

.btn-black.active, .btn-black.active.focus, .btn-black.active:focus, .btn-black.active:hover, .btn-black:active, .btn-black:active.focus, .btn-black:active:focus, .btn-black:active:hover, .open > .dropdown-toggle.btn-black, .open > .dropdown-toggle.btn-black.focus, .open > .dropdown-toggle.btn-black:focus, .open > .dropdown-toggle.btn-black:hover {
    color: #FFF;
    background-color: #111d2b;
    border-color: #111d2b
}

.btn-black.disabled, .btn-black.disabled.active, .btn-black.disabled.focus, .btn-black.disabled:active, .btn-black.disabled:focus, .btn-black.disabled:hover, .btn-black[disabled], .btn-black[disabled].active, .btn-black[disabled].focus, .btn-black[disabled]:active, .btn-black[disabled]:focus, .btn-black[disabled]:hover, fieldset[disabled] .btn-black, fieldset[disabled] .btn-black.active, fieldset[disabled] .btn-black.focus, fieldset[disabled] .btn-black:active, fieldset[disabled] .btn-black:focus, fieldset[disabled] .btn-black:hover {
    background-color: #1f364f;
    border-color: #1f364f
}

.btn-outline.btn-black, .btn-outline.btn-danger, .btn-outline.btn-default, .btn-outline.btn-info, .btn-outline.btn-primary, .btn-outline.btn-purple, .btn-outline.btn-success, .btn-outline.btn-warning {
    background-color: transparent
}

.btn-black .badge {
    color: #1f364f
}

.btn-outline.btn-default {
    color: #737373;
    border-color: #e6e6e6
}

.btn-outline.btn-primary {
    color: #0667D6;
    border-color: #0667D6
}

.btn-outline.btn-success {
    color: #17A88B;
    border-color: #17A88B
}

.btn-outline.btn-info {
    color: #0FB3FF;
    border-color: #0FB3FF
}

.btn-outline.btn-purple {
    color: #8E23E0;
    border-color: #8E23E0
}

.btn-outline.btn-warning {
    color: #FFB61E;
    border-color: #FFB61E
}

.btn-outline.btn-danger {
    color: #E5343D;
    border-color: #E5343D
}

.btn-outline.btn-black {
    color: #1f364f;
    border-color: #1f364f
}

.ball-beat > div, .ball-clip-rotate-pulse > div:first-child, .ball-clip-rotate > div, .ball-grid-beat > div, .ball-grid-pulse > div, .ball-pulse-rise > div, .ball-pulse-sync > div, .ball-pulse > div, .ball-rotate > div, .ball-rotate > div:after, .ball-rotate > div:before, .ball-scale-multiple > div, .ball-scale > div, .ball-spin-fade-loader > div, .ball-zig-zag-deflect > div, .ball-zig-zag > div, .cube-transition > div, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover, .line-scale-party > div, .line-scale-pulse-out-rapid > div, .line-scale-pulse-out > div, .line-scale > div, .line-spin-fade-loader > div, .pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6), .sk-chasing-dots .sk-child, .sk-circle .sk-child:before, .sk-cube-grid .sk-cube, .sk-double-bounce .sk-child, .sk-fading-circle .sk-circle:before, .sk-folding-cube .sk-cube:before, .sk-rotating-plane, .sk-spinner-pulse, .sk-three-bounce .sk-child, .sk-wandering-cubes .sk-cube, .sk-wave .sk-rect {
    background-color: #1f364f
}

.btn-raised.btn-default {
    box-shadow: 0 3px 0 0 #cdcdcd
}

.btn-raised.btn-default.focus, .btn-raised.btn-default:focus {
    box-shadow: 0 3px 0 0 silver
}

.btn-raised.btn-primary {
    box-shadow: 0 3px 0 0 #054fa4
}

.btn-raised.btn-primary.focus, .btn-raised.btn-primary:focus {
    box-shadow: 0 3px 0 0 #04438c
}

.btn-raised.btn-success {
    box-shadow: 0 3px 0 0 #117b66
}

.btn-raised.btn-success.focus, .btn-raised.btn-success:focus {
    box-shadow: 0 3px 0 0 #0e6553
}

.btn-raised.btn-info {
    box-shadow: 0 3px 0 0 #0096db
}

.btn-raised.btn-info.focus, .btn-raised.btn-info:focus {
    box-shadow: 0 3px 0 0 #0084c2
}

.btn-raised.btn-purple {
    box-shadow: 0 3px 0 0 #721ab6
}

.btn-raised.btn-purple.focus, .btn-raised.btn-purple:focus {
    box-shadow: 0 3px 0 0 #6417a0
}

.btn-raised.btn-warning {
    box-shadow: 0 3px 0 0 #ea9e00
}

.btn-raised.btn-warning.focus, .btn-raised.btn-warning:focus {
    box-shadow: 0 3px 0 0 #d18d00
}

.btn-raised.btn-danger {
    box-shadow: 0 3px 0 0 #cc1a23
}

.btn-raised.btn-danger.focus, .btn-raised.btn-danger:focus {
    box-shadow: 0 3px 0 0 #b5171f
}

.btn-raised.btn-black {
    box-shadow: 0 3px 0 0 #111d2b
}

.btn-raised.btn-black.focus, .btn-raised.btn-black:focus {
    box-shadow: 0 3px 0 0 #0a1018
}

.btn-rounded {
    border-radius: 100px !important
}

lesshat-selector {
    -lh-property: 0
}

@-webkit-keyframes scaling {
    0% {
        -webkit-transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}

@-moz-keyframes scaling {
    0% {
        -moz-transform: scale(0);
        opacity: 1
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0
    }
}

@-o-keyframes scaling {
    0% {
        -o-transform: scale(0);
        opacity: 1
    }
    100% {
        -o-transform: scale(1);
        opacity: 0
    }
}

@keyframes scaling {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

.sk-fading-circle .sk-circle {
    margin-top: 0;
    margin-bottom: 0
}

.panel, .panel-group, .thumbnail {
    margin-bottom: 24px
}

.ball-clip-rotate > div {
    border: 2px solid #1f364f;
    border-bottom-color: transparent
}

.ball-clip-rotate-pulse > div:last-child {
    top: 0;
    left: -14px;
    border: 2px solid #1f364f;
    border-color: #1f364f transparent
}

.square-spin > div {
    background-color: #1f364f;
    border: 1px solid #1f364f
}

.ball-clip-rotate-multiple > div {
    border: 2px solid #1f364f;
    border-bottom-color: transparent;
    border-top-color: transparent
}

.ball-clip-rotate-multiple > div:last-child {
    border-color: #1f364f transparent
}

.ball-triangle-path > div {
    border: 1px solid #1f364f
}

.ball-scale-ripple-multiple > div, .ball-scale-ripple > div {
    border: 2px solid #1f364f
}

.triangle-skew-spin > div {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #1f364f
}

.pacman > div:first-of-type, .pacman > div:nth-child(2) {
    border-right: 25px solid transparent;
    border-top: 25px solid #1f364f;
    border-left: 25px solid #1f364f;
    border-bottom: 25px solid #1f364f
}

.semi-circle-spin > div {
    background-image: -webkit-linear-gradient(transparent 0, transparent 70%, #1f364f 30%, #1f364f 100%);
    background-image: linear-gradient(transparent 0, transparent 70%, #1f364f 30%, #1f364f 100%)
}

.dropdown-menu {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.dropdown-menu > li > a {
    padding: 7px 20px;
    color: #737373
}

.dropdown-menu > li > a > img {
    margin-right: 8px
}

.dm-large {
    width: 400px
}

.dm-medium {
    width: 340px
}

.dm-small {
    width: 280px
}

.dropdown-header {
    padding: 5px 20px
}

.btn-group.open .dropdown-toggle {
    box-shadow: none
}

.input-group-addon {
    border-color: #e6e6e6;
    background-color: transparent;
    font-size: 14px
}

.nav > li > a {
    color: #1f364f
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #FFF
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #FFF;
    border-color: #e6e6e6;
    box-shadow: 3px -1px 3px rgba(0, 0, 0, .05)
}

.nav-tabs {
    border-bottom: 1px solid #e6e6e6
}

.nav-tabs > li > a:hover {
    border-color: #e6e6e6 #e6e6e6 transparent
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 1px solid #e6e6e6;
    border-bottom-color: transparent;
    box-shadow: 3px -1px 3px rgba(0, 0, 0, .05);
    color: #1f364f
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1f364f
}

.tab-content .tab-pane {
    display: none
}

.brand, .tab-content .active {
    display: block
}

.breadcrumb {
    background-color: transparent;
    padding: 0
}

.breadcrumb > li > a {
    color: #9a9a9a
}

.breadcrumb > .active {
    color: #737373
}

.pagination > li > a, .pagination > li > span {
    color: #737373;
    border: 1px solid #e6e6e6
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #737373;
    border-color: #e6e6e6
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #1f364f;
    border-color: #1f364f
}

.label {
    border-radius: 2px;
    font-weight: 500;
    padding: 3px 6px
}

.label-default {
    background-color: #9a9a9a
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: grey
}

.label-primary {
    background-color: #0667D6
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #054fa4
}

.label-success {
    background-color: #17A88B
}

.label-success[href]:focus, .label-success[href]:hover {
    background-color: #117b66
}

.label-purple {
    background-color: #8E23E0
}

.label-purple[href]:focus, .label-purple[href]:hover {
    background-color: #721ab6
}

.label-info {
    background-color: #0FB3FF
}

.label-info[href]:focus, .label-info[href]:hover {
    background-color: #0096db
}

.label-warning {
    background-color: #FFB61E
}

.label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #ea9e00
}

.label-danger {
    background-color: #E5343D
}

.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #cc1a23
}

.label-outline.label-default {
    background-color: transparent;
    color: #9a9a9a;
    border: 1px solid #9a9a9a
}

.label-outline.label-primary {
    background-color: transparent;
    color: #0667D6;
    border: 1px solid #0667D6
}

.label-outline.label-success {
    background-color: transparent;
    color: #17A88B;
    border: 1px solid #17A88B
}

.label-outline.label-purple {
    background-color: transparent;
    color: #8E23E0;
    border: 1px solid #8E23E0
}

.label-outline.label-info {
    background-color: transparent;
    color: #0FB3FF;
    border: 1px solid #0FB3FF
}

.label-outline.label-warning {
    background-color: transparent;
    color: #FFB61E;
    border: 1px solid #FFB61E
}

.label-outline.label-danger {
    background-color: transparent;
    color: #E5343D;
    border: 1px solid #E5343D
}

.dot, .dot:before {
    border-radius: 50%
}

.badge {
    font-size: 10px;
    min-width: 14px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    font-weight: 600
}

.dot {
    width: 8px;
    height: 8px
}

.dot:before {
    content: "";
    position: absolute;
    top: -9px;
    left: -9px;
    width: 26px;
    height: 26px;
    border-width: 3px;
    border-style: solid;
    -webkit-animation: scaling 2s ease-out infinite;
    -moz-animation: scaling 2s ease-out infinite;
    -o-animation: scaling 2s ease-out infinite;
    animation: scaling 2s ease-out infinite
}

.dot.bg-success:before {
    border-color: #17A88B
}

.dot.bg-warning:before {
    border-color: #FFB61E
}

.dot.bg-danger:before {
    border-color: #E5343D
}

.thumbnail {
    border: 1px solid #e6e6e6;
    border-radius: 0
}

.progress {
    border-radius: 0;
    box-shadow: none
}

.progress-bar {
    background-color: #0667D6;
    box-shadow: none
}

.progress-xs {
    height: 3px
}

.progress-xs.vertical {
    width: 3px
}

.progress-sm {
    height: 12px
}

.progress-sm .progress-bar, .progress-sm .progress-bar .progressbar-front-text {
    line-height: 12px;
    font-size: 10px
}

.progress-sm.vertical {
    width: 12px
}

.progress-lg {
    height: 30px
}

.progress-lg .progress-bar, .progress-lg .progress-bar .progressbar-front-text {
    line-height: 30px
}

.progress-lg.vertical {
    width: 30px
}

.progress-bar-white {
    background-color: #FFF
}

.progress-bar-success {
    background-color: #17A88B
}

.progress-bar-info {
    background-color: #0FB3FF
}

.progress-bar-purple {
    background-color: #8E23E0
}

.progress-bar-warning {
    background-color: #FFB61E
}

.progress-bar-danger {
    background-color: #E5343D
}

.avatar {
    position: relative
}

.avatar .media-object {
    width: 34px;
    height: 34px;
    line-height: 34px
}

.avatar .status {
    position: absolute;
    top: 0;
    left: 26px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #FFF
}

.avatar.media-right .status {
    left: 36px
}

.mo-xs {
    width: 28px;
    height: 28px;
    line-height: 28px
}

.mo-sm {
    width: 34px;
    height: 34px;
    line-height: 34px
}

.mo-lg {
    width: 48px;
    height: 48px;
    line-height: 48px
}

.list-group-item {
    border: 1px solid #e6e6e6
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #1f364f;
    border-color: #1f364f
}

.panel {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
    padding: 20px
}

.modal-header, .panel-heading {
    padding: 15px 20px
}

.panel-title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px
}

.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    color: inherit
}

.panel > .panel-body + .table, .panel > .panel-body + .table-responsive, .panel > .table + .panel-body, .panel > .table-responsive + .panel-body {
    border-top: 1px solid #e6e6e6
}

.panel-default, .panel-default > .panel-heading {
    border-color: #e6e6e6
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e6e6e6
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #e6e6e6
}

.modal-content {
    border-radius: 0
}

.modal-header {
    border-bottom: none
}

.modal-body, .setting {
    padding: 20px
}

.modal-footer {
    border-top: none
}

.modal-header .close {
    outline: 0
}

.tooltip-inner {
    font-size: 12px;
    background-color: #1f364f;
    padding: 5px 8px;
    border-radius: 3px
}

.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
    border-top-color: #1f364f
}

.tooltip.right .tooltip-arrow {
    border-right-color: #1f364f
}

.tooltip.left .tooltip-arrow {
    border-left-color: #1f364f
}

.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #1f364f
}

.popover, .setting, .setting .setting-toggle {
    border: 1px solid #e6e6e6
}

.popover.top > .arrow {
    border-top-color: #e6e6e6
}

.popover.right > .arrow {
    border-right-color: #e6e6e6
}

.popover.bottom > .arrow {
    border-bottom-color: #e6e6e6
}

.popover.left > .arrow {
    border-left-color: #e6e6e6
}

.popover-title {
    border-bottom: 1px solid #e6e6e6
}

body.sidebar-toggled {
    overflow-y: hidden
}

body.sidebar-toggled .main-sidebar {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

body.sidebar-no-bg .main-sidebar:before {
    background-color: #1f364f;
    background-image: none
}

body.sidebar-light.sidebar-no-bg .main-sidebar:before {
    background-color: #fafafa;
    background-image: none
}

body.sidebar-light .main-sidebar:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDI1NSwgMjU1LCAyNTUpIiBzdG9wLW9wYWNpdHk9IjAuOCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .8), #FFF);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .8), #FFF);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .8), #FFF);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .8), #FFF)
}

body.sidebar-light .main-sidebar .sidebar-category {
    color: #9a9a9a
}

body.sidebar-light .main-sidebar .navigation > li > a {
    color: #737373
}

body.sidebar-light .main-sidebar .navigation > li > a.active, body.sidebar-light .main-sidebar .navigation > li > a:hover {
    color: #1f364f;
    background-color: rgba(31, 54, 79, .1)
}

body.sidebar-light .main-sidebar .navigation > li > a:hover.active {
    background-color: rgba(31, 54, 79, .1)
}

body.sidebar-light .main-sidebar .navigation ul li a {
    color: #737373
}

body.sidebar-light .main-sidebar .navigation ul li a.active, body.sidebar-light .main-sidebar .navigation ul li a:hover {
    color: #1f364f
}

body.sidebar-light .user .status {
    border: 2px solid rgba(255, 255, 255, .8)
}

body.header-green header {
    background-color: #17A88B
}

body.header-purple header {
    background-color: #8E23E0
}

body.header-yellow header {
    background-color: #FFB61E
}

body.header-red header {
    background-color: #E5343D
}

.brand {
    width: 250px;
    line-height: 64px;
    text-align: center
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    box-shadow: 0 1px 4px rgba(31, 54, 79, .2);
    z-index: 1040;
    background-color: #0667D6;
    backface-visibility: hidden !important
}

header .header-icon {
    display: inline-block;
    padding: 0 20px;
    line-height: 64px;
    font-size: 14px;
    color: #e6e6e6
}

header .header-icon:hover, header .search-form .form-control {
    background-color: rgba(255, 255, 255, .1);
    color: #FFF
}

header .search-form {
    margin: 15px
}

header .search-form .form-control {
    border-color: transparent
}

header .search-form span {
    color: #e6e6e6
}

header .search-form .form-control::-webkit-input-placeholder {
    color: #e6e6e6
}

header .search-form .form-control:-moz-placeholder {
    color: #e6e6e6
}

header .search-form .form-control::-moz-placeholder {
    color: #e6e6e6
}

header .search-form .form-control:-ms-input-placeholder {
    color: #e6e6e6
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 64px
}

.hamburger-menu span {
    top: 30px;
    left: 20px
}

.hamburger-menu span, .hamburger-menu span:after, .hamburger-menu span:before {
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 18px;
    border-radius: 2px;
    background-color: #FFF
}

.hamburger-menu span:after, .hamburger-menu span:before {
    content: "";
    left: 0;
    backface-visibility: hidden !important;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s
}

.main-sidebar, .setting {
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -ms-backface-visibility: hidden !important;
    -o-backface-visibility: hidden !important
}

.hamburger-menu span:before {
    top: -6px
}

.hamburger-menu span:after {
    top: 6px
}

.hamburger-menu.active span:before {
    -webkit-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
    -moz-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
    -ms-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
    -o-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
    transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1)
}

.hamburger-menu.active span:after {
    -webkit-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
    -moz-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
    -ms-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
    -o-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
    transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1)
}

.notification-bar {
    margin: 0
}

.notification-bar > li {
    float: left;
    padding: 0
}

.notification-bar .bubble {
    position: relative
}

.notification-bar .bubble .badge {
    position: absolute;
    top: 18px;
    left: 27px
}

.notification-bar .bubble .dot {
    position: absolute;
    top: 21px;
    left: 30px
}

.notification-bar .dropdown.open {
    position: relative
}

.notification-bar .dropdown.open:before {
    position: absolute;
    bottom: -17.5px;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-width: 7px;
    border-style: solid;
    border-color: #FFF #FFF transparent transparent;
    margin-left: -7px;
    box-shadow: 2px -2px 2px rgba(31, 54, 79, .05);
    z-index: 1020;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.conversation, .main-sidebar, .right-sidebar {
    height: -webkit-calc(100% - 64px);
    -lh-property: 0
}

@media (max-width: 767px) {
    .notification-bar .dropdown.open:before {
        display: none
    }
}

.notification-bar .dropdown-header {
    text-transform: uppercase;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6
}

.notification-bar .dropdown-menu {
    margin-top: 0;
    border: none;
    padding: 0;
    top: 73.5px;
    box-shadow: 0 2px 10px 2px rgba(31, 54, 79, .1)
}

.notification-bar .dropdown-menu > ul {
    min-height: 120px;
    max-height: 236px
}

.notification-bar .dropdown-menu > ul li {
    margin-top: 0
}

.notification-bar .dropdown-menu > ul li > a {
    padding: 12px 20px;
    color: #737373;
    display: block
}

.notification-bar .dropdown-menu > ul li > a:hover {
    background-color: #fafafa
}

.notification-bar .dropdown-footer {
    border-top: 1px solid #e6e6e6
}

.main-sidebar {
    box-shadow: 3px 0 6px rgba(31, 54, 79, .2);
    background-position: center center;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 1030;
    opacity: 0;
    height: -moz-calc(100% - 64px);
    height: calc(100% - 64px);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    -o-transition: -o-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s, opacity .3s;
    backface-visibility: hidden !important
}

.main-sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxODI5M2QiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiKDI0LCA0MSwgNjEpIiBzdG9wLW9wYWNpdHk9IjAuOCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -webkit-linear-gradient(top, rgba(24, 41, 61, .8), #18293d);
    background-image: -moz-linear-gradient(top, rgba(24, 41, 61, .8), #18293d);
    background-image: -o-linear-gradient(top, rgba(24, 41, 61, .8), #18293d);
    background-image: linear-gradient(to bottom, rgba(24, 41, 61, .8), #18293d)
}

.main-sidebar .sidebar-category {
    text-transform: uppercase;
    margin-bottom: 2px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 10px;
    display: block
}

.user {
    text-align: center;
    padding: 25px 0 10px
}

.user .avatar {
    width: 100px
}

.user .status {
    position: absolute;
    top: 22.4px;
    right: 22.4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid rgba(31, 54, 79, .8)
}

.navigation > li {
    margin-bottom: 2px
}

.navigation > li > a {
    display: block;
    color: #9a9a9a;
    line-height: 48px;
    padding: 0 25px
}

.navigation > li > a > i {
    margin-right: 15px;
    width: 14px;
    font-size: 14px;
    text-align: center
}

.navigation > li > a.bubble {
    position: relative
}

.navigation > li > a.bubble .badge {
    position: absolute;
    top: 10px;
    left: 32px
}

.navigation ul li:after, .navigation ul li:before {
    left: 0;
    content: ""
}

.navigation > li > a.active, .navigation > li > a:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, .1)
}

.navigation > li > ul > li ul {
    padding-left: 20px
}

.navigation > li > ul > li ul li:first-child:before {
    top: -20px
}

.navigation ul {
    padding-left: 32px
}

.navigation ul li {
    position: relative
}

.navigation ul li:before {
    position: absolute;
    top: -20px;
    bottom: 20px;
    width: 1px;
    border-left: 1px dashed grey
}

.navigation ul li:first-child:before {
    top: 0
}

.navigation ul li:last-child:before {
    top: -20px;
    height: 40px
}

.navigation ul li:after {
    position: absolute;
    top: 20px;
    width: 20px;
    border-bottom: 1px dashed grey
}

.navigation ul li a {
    padding-left: 40px;
    padding-right: 25px;
    line-height: 40px;
    color: #9a9a9a;
    font-size: 12px;
    white-space: nowrap;
    display: block
}

.navigation ul li a:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 18px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey
}

.navigation ul li a.active, .navigation ul li a:hover {
    color: #FFF
}

.navigation ul li a[aria-expanded=false]:after, .navigation ul li a[aria-expanded=true]:after {
    line-height: 40px;
    font-size: 8px;
    position: absolute;
    top: 0;
    right: 25px
}

.navigation ul li.panel {
    margin-bottom: 0
}

.navigation li.panel {
    background-color: transparent;
    box-shadow: none;
    border: none
}

.page-header, .search-bar {
    border-bottom: 1px solid #e6e6e6
}

.navigation a[aria-expanded=false]:after {
    font-family: themify;
    content: "\e61a";
    float: right;
    font-size: 8px;
    line-height: 48px
}

.navigation a[aria-expanded=true]:after {
    font-family: themify;
    content: "\e622";
    float: right;
    font-size: 8px;
    line-height: 48px
}

.main-container {
    padding-top: 64px
}

.page-header {
    padding: 24px
}

.page-header [class^=col]:nth-child(2) {
    text-align: right
}

.page-content {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 800px
}

.footer {
    padding: 12px 24px
}

@media (min-width: 1200px) {
    body.sidebar-toggled {
        overflow-y: auto
    }

    body.sidebar-toggled .main-sidebar {
        opacity: 0;
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }

    body.sidebar-toggled .page-container, body.sidebar-unpin .page-container {
        padding-left: 0
    }

    body.sidebar-unpin .main-sidebar:before {
        box-shadow: 3px 0 6px rgba(31, 54, 79, .2) !important
    }

    body.sidebar-light .main-sidebar, body.sidebar-light .main-sidebar:before {
        box-shadow: inset -2px 0 8px rgba(31, 54, 79, .2)
    }

    .main-sidebar {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        box-shadow: none
    }

    .page-container {
        padding-left: 250px;
        -webkit-transition: padding-left .3s;
        -moz-transition: padding-left .3s;
        -o-transition: padding-left .3s;
        transition: padding-left .3s
    }

    .hamburger-menu span:before {
        -webkit-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
        -moz-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
        -ms-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
        -o-transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1);
        transform: translate3d(1px, 6px, 0) rotate(-45deg) scale(.6, 1)
    }

    .hamburger-menu span:after {
        -webkit-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
        -moz-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
        -ms-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
        -o-transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1);
        transform: translate3d(1px, -6px, 0) rotate(45deg) scale(.6, 1)
    }

    .hamburger-menu.active span:after, .hamburger-menu.active span:before {
        -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
        -moz-transform: translate3d(0, 0, 0) rotate(0) scale(1);
        -ms-transform: translate3d(0, 0, 0) rotate(0) scale(1);
        -o-transform: translate3d(0, 0, 0) rotate(0) scale(1);
        transform: translate3d(0, 0, 0) rotate(0) scale(1)
    }
}

@media (max-width: 767px) {
    body.header-green .brand {
        background-color: #17A88B
    }

    body.header-purple .brand {
        background-color: #8E23E0
    }

    body.header-yellow .brand {
        background-color: #FFB61E
    }

    body.header-red .brand {
        background-color: #E5343D
    }

    header {
        height: 128px;
        background-color: #FFF !important
    }

    header .header-icon {
        color: #9a9a9a
    }

    header .header-icon:hover {
        color: #9a9a9a;
        background-color: #fafafa
    }

    .hamburger-menu span, .hamburger-menu span:after, .hamburger-menu span:before {
        background-color: #9a9a9a
    }

    .brand {
        width: 100%;
        background-color: #0667D6
    }

    .main-sidebar {
        top: 128px;
        -lh-property: 0;
        height: -webkit-calc(100% - 128px);
        height: -moz-calc(100% - 128px);
        height: calc(100% - 128px)
    }

    .main-container {
        padding-top: 128px;
        width: 100%
    }

    .notification-bar > li.dropdown.open {
        position: static
    }

    .notification-bar > li.dropdown.open .dropdown-menu {
        width: 100%;
        top: 128px
    }

    .page-header [class^=col]:nth-child(2) {
        text-align: left
    }

    .page-content {
        padding-left: 12px;
        padding-right: 12px
    }
}

.docs-cropped .modal-body, .easy-pie-chart, .events-header, .toast:before, .wizard > .steps .number {
    text-align: center
}

.search-bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    background-color: #FFF;
    overflow: hidden;
    opacity: 1;
    z-index: 1050;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.search-bar.closed {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.search-bar form {
    margin: 9px
}

.search-bar form .form-control {
    border: none
}

.search-bar form .btn, .search-bar form .btn.active, .search-bar form .btn.focus, .search-bar form .btn:active, .search-bar form .btn:focus, .search-bar form .btn:hover {
    background-color: transparent !important;
    border-color: transparent !important
}

.setting {
    position: fixed;
    top: 130px;
    right: -1px;
    width: 260px;
    background-color: #FFF;
    z-index: 1020;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s;
    backface-visibility: hidden !important
}

.setting.closed {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

.setting .setting-toggle {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -47px;
    border-right: none;
    padding: 10px 15px;
    background-color: #FFF
}

.conversation, .right-sidebar {
    position: fixed;
    top: 64px;
    right: 0;
    width: 260px;
    z-index: 1030;
    background-color: #FFF;
    box-shadow: -1px 0 4px rgba(31, 54, 79, .2);
    opacity: 1;
    height: -moz-calc(100% - 64px);
    height: calc(100% - 64px);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    -o-transition: -o-transform .3s, opacity .3s;
    transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s, opacity .3s;
    -webkit-backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -ms-backface-visibility: hidden !important;
    -o-backface-visibility: hidden !important;
    backface-visibility: hidden !important
}

.conversation.closed, .right-sidebar.closed {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

@media (max-width: 767px) {
    .conversation, .right-sidebar {
        top: 128px;
        -lh-property: 0;
        height: -webkit-calc(100% - 128px);
        height: -moz-calc(100% - 128px);
        height: calc(100% - 128px)
    }
}

.chat-list {
    margin-left: -20px;
    margin-right: -20px
}

.chat-list li {
    margin-top: 0
}

.chat-list li > a {
    padding: 12px 20px;
    display: block;
    color: #737373
}

.chat-list li > a:hover {
    background-color: #fafafa
}

.chat-content {
    -lh-property: 0;
    height: -webkit-calc(100% - 119px);
    height: -moz-calc(100% - 119px);
    height: calc(100% - 119px)
}

.nav-sidebar {
    background-color: #1f364f
}

.nav-sidebar > li {
    display: table-cell;
    width: 1%
}

.nav-sidebar > li > a {
    color: #e6e6e6;
    border-bottom: none !important;
    line-height: 48px;
    padding: 0;
    margin-bottom: 0 !important;
    border-radius: 0 !important
}

.nav-sidebar > li > a:focus, .nav-sidebar > li > a:hover {
    color: #FFF;
    border-color: transparent;
    background-color: #1c3148
}

.nav-sidebar > li.active > a, .nav-sidebar > li.active > a:focus, .nav-sidebar > li.active > a:hover {
    color: #737373;
    background-color: #FFF;
    border-color: transparent !important
}

.nav-sidebar-content {
    -lh-property: 0;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px)
}

.nav-sidebar-content .tab-pane {
    padding: 20px
}

.widget {
    margin-bottom: 24px;
    border: 1px solid #e6e6e6
}

.widget.clear {
    border: none
}

.widget.clear .widget-body, .widget.clear .widget-heading {
    padding-left: 0;
    padding-right: 0
}

.widget-heading {
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6
}

.widget-tools {
    margin-bottom: 0
}

.widget-tools > li {
    float: left;
    padding: 0 10px
}

.widget-tools > li:last-child {
    padding-right: 0
}

.widget-tools > li a {
    color: #9a9a9a
}

.widget-title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #1f364f
}

.widget-body {
    padding: 20px
}

.chat-content .media-body p {
    background-color: #e6e6e6;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px
}

.chat-content .other .media-body p {
    background-color: #1f364f;
    color: #FFF;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px
}

.activity-list .media-left {
    min-width: 140px
}

.activity-list > li {
    position: relative;
    padding: 10px 0 10px 41px
}

.activity-list > li:after, .activity-list > li:before {
    content: "";
    position: absolute
}

.activity-list > li:before {
    left: 5px;
    top: 0;
    height: 100%;
    border-left: 1px solid #e6e6e6
}

.activity-list > li:after {
    left: 0;
    top: 18px;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 2px solid #9a9a9a;
    background-color: #FFF
}

.activity-list.activity-sm > li {
    padding: 10px 0 10px 25px
}

.activity-list > li.activity-primary:after {
    border-color: #0667D6
}

.activity-list > li.activity-success:after {
    border-color: #17A88B
}

.activity-list > li.activity-info:after {
    border-color: #0FB3FF
}

.activity-list > li.activity-purple:after {
    border-color: #8E23E0
}

.activity-list > li.activity-warning:after {
    border-color: #FFB61E
}

.activity-list > li.activity-danger:after {
    border-color: #E5343D
}

.activity-list > li.activity-white:after {
    border-color: #FFF
}

.events-header {
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, .1)
}

.draggable li {
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    cursor: move
}

.draggable li:first-child {
    padding-top: 0
}

.draggable li.ui-draggable-dragging {
    padding: 12px 10px;
    background-color: #FFF;
    border-bottom: none;
    color: #737373;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.flotTip {
    font-size: 12px;
    background-color: #1f364f;
    color: #FFF;
    padding: 5px 8px;
    z-index: 900;
    border-radius: 3px
}

.legendColorBox div {
    border-radius: 50%
}

.legendLabel {
    padding-left: 3px;
    padding-right: 10px;
    line-height: 2
}

.ct-golden-section:before {
    padding-bottom: 0
}

.ct-label {
    font-size: 11px;
    color: #9a9a9a
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #0667D6
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: #0667D6
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #1f364f
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
    fill: #1f364f
}

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
    stroke: #17A88B
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
    fill: #17A88B
}

.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
    stroke: #8E23E0
}

.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
    fill: #8E23E0
}

.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
    stroke: #E5343D
}

.ct-series-e .ct-area, .ct-series-e .ct-slice-pie {
    fill: #E5343D
}

.ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
    stroke: #FFB61E
}

.ct-series-f .ct-area, .ct-series-f .ct-slice-pie {
    fill: #FFB61E
}

.ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
    stroke: #0FB3FF
}

.ct-series-g .ct-area, .ct-series-g .ct-slice-pie {
    fill: #0FB3FF
}

.morris-hover.morris-default-style {
    font-size: 12px;
    background-color: #FFF;
    padding: 5px 8px;
    z-index: 900;
    border: 1px solid #e6e6e6;
    border-radius: 3px
}

.chartjs canvas {
    width: 100% !important;
    max-width: 1000px;
    height: auto !important
}

.docs-cropped .modal-body > canvas, .docs-cropped .modal-body > img, .img-container > img, .img-preview > img {
    max-width: 100%
}

.jvectormap-zoomout {
    top: 35px
}

.jvectormap-zoomin, .jvectormap-zoomout {
    line-height: 24px;
    width: 24px;
    height: 24px;
    color: #737373;
    background-color: #FFF;
    font-size: 16px;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.easy-pie-chart {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 80px;
    padding: 20px
}

.easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0
}

.easy-pie-chart .percent {
    position: absolute;
    top: 35px;
    left: 35px;
    line-height: 40px;
    width: 50px;
    height: 50px;
    background-color: #e6e6e6;
    border: 5px solid #fafafa;
    border-radius: 50%
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important
}

.minicolors-swatch {
    border: none
}

.ms-container {
    width: 100%
}

.ms-container .ms-list {
    box-shadow: none;
    border: 1px solid #e6e6e6;
    height: 280px
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    padding: 5px 10px
}

.clockface .inner.active.active, .clockface .inner.active.disabled, .clockface .inner.active:active, .clockface .inner.active:hover, .clockface .inner.active:hover.active, .clockface .inner.active:hover.disabled, .clockface .inner.active:hover:active, .clockface .inner.active:hover:hover, .clockface .inner.active:hover[disabled], .clockface .inner.active[disabled] {
    background-color: #0667D6
}

.clockface .outer.active.active, .clockface .outer.active.disabled, .clockface .outer.active:active, .clockface .outer.active:hover, .clockface .outer.active:hover.active, .clockface .outer.active:hover.disabled, .clockface .outer.active:hover:active, .clockface .outer.active:hover:hover, .clockface .outer.active:hover[disabled], .clockface .outer.active[disabled] {
    background-color: #17A88B
}

.clockface .inner.active, .clockface .inner.active:hover, .clockface .outer.active, .clockface .outer.active:hover {
    background-image: none
}

.clockface .inner, .clockface .outer {
    border-radius: 2px
}

.dropzone, .uploader {
    border: 2px dashed #e6e6e6
}

.dropzone {
    background-color: #fafafa
}

.dropzone .dz-message {
    padding: 50px 0;
    margin: 0;
    color: #9a9a9a
}

.dropzone .dz-message .icon-dz {
    display: block;
    font-size: 64px;
    color: #e6e6e6;
    margin-bottom: 15px
}

.uploader {
    font-weight: 300;
    font-size: 30px;
    color: #e6e6e6
}

.uploader div.or {
    color: #e6e6e6;
    font-weight: 600
}

.uploader div.browser label {
    background-color: #1f364f;
    font-weight: 500;
    padding: 8px 15px;
    display: inline-block;
    width: auto;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #111d2b
}

.uploader div.browser label:hover {
    background-color: #18293d
}

.uploader div.browser label:focus {
    background-color: #111d2b;
    outline: 0
}

.daterangepicker .ranges li {
    background-color: transparent;
    border-color: transparent;
    border-radius: 3px;
    color: #737373
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background-color: #1f364f;
    border-color: #1f364f
}

.daterangepicker .input-mini {
    border-color: #e6e6e6
}

.daterangepicker .input-mini.active, .daterangepicker .input-mini:focus {
    outline: 0;
    border-color: #66afe9
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #1f364f
}

.daterangepicker td.start-date {
    border-radius: 2px 0 0 2px
}

.daterangepicker td.end-date {
    border-radius: 0 2px 2px 0
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active:hover:hover, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover, .open .dropdown-toggle.datepicker table tr td.active:hover {
    background-color: #1f364f;
    border-radius: 2px;
    border-color: #1f364f
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #1f364f;
    text-shadow: none
}

.bootstrap-datetimepicker-widget a[data-action] {
    color: #737373
}

.note-editor.note-frame {
    border: 1px solid #e6e6e6
}

.md-editor.active {
    border-color: #e6e6e6;
    box-shadow: none
}

.md-editor > .md-preview, .md-editor > textarea {
    background-color: #FFF;
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
    padding: 10px
}

.bootstrap-duallistbox-container select {
    padding: 6px 12px;
    overflow-y: auto
}

.bootstrap-duallistbox-container select:focus {
    border-color: #e6e6e6
}

.bootstrap-tagsinput {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    padding: 6px 12px;
    line-height: 20px;
    display: block
}

.bootstrap-tagsinput .tag {
    display: inline-block
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important
}

.toast-title {
    font-weight: 600
}

#toast-container > div {
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    color: #737373;
    background-color: #FFF;
    padding: 15px 15px 15px 65px;
    width: 300px;
    min-height: 74px
}

#toast-container > .toast {
    background-image: none !important
}

#toast-container > :hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.toast-close-button {
    height: 20px;
    width: 20px;
    color: #737373;
    top: -5px;
    right: -5px;
    outline: 0
}

.toast:before {
    font-family: themify;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px
}

.toast-success {
    border: 2px solid #17A88B
}

.toast-success .toast-title {
    color: #149278
}

.toast-success .toast-progress {
    background-color: #1abe9e
}

.toast-success:before {
    content: "\e64d";
    color: #149278
}

.toast-info {
    border: 2px solid #0FB3FF
}

.toast-info .toast-title {
    color: #00a7f5
}

.toast-info .toast-progress {
    background-color: #29bbff
}

.toast-info:before {
    content: "\e717";
    color: #00a7f5
}

.toast-error:before, .toast-warning:before {
    content: "\e6c5"
}

.toast-warning {
    border: 2px solid #FFB61E
}

.toast-warning .toast-title {
    color: #ffae04
}

.toast-warning .toast-progress {
    background-color: #ffbe38
}

.toast-warning:before {
    color: #ffae04
}

.toast-error {
    border: 2px solid #E5343D
}

.toast-error .toast-title {
    color: #e21d27
}

.toast-error .toast-progress {
    background-color: #e84b53
}

.toast-error:before {
    color: #e21d27
}

.wizard > .content > .body input {
    border: 1px solid #e6e6e6
}

.wizard > .content > .body label {
    margin-bottom: 0
}

.wizard > .steps a, .wizard > .steps a:active, .wizard > .steps a:hover {
    margin: 3px;
    border-radius: 0;
    padding: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.wizard > .steps .current a, .wizard > .steps .current a:active, .wizard > .steps .current a:hover {
    background-color: #1f364f;
    color: #FFF
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:active, .wizard > .steps .disabled a:hover, .wizard > .steps .done a, .wizard > .steps .done a:active, .wizard > .steps .done a:hover {
    background-color: #e6e6e6;
    color: #9a9a9a
}

.wizard > .steps .current a .number, .wizard > .steps .current a:active .number, .wizard > .steps .current a:hover .number {
    border: 2px solid #FFF
}

.wizard > .steps .disabled a .number, .wizard > .steps .disabled a:active .number, .wizard > .steps .disabled a:hover .number, .wizard > .steps .done a .number, .wizard > .steps .done a:active .number, .wizard > .steps .done a:hover .number {
    border-color: #9a9a9a
}

.wizard > .content {
    background-color: transparent;
    margin: 0 5px;
    border-radius: 0;
    min-height: 150px
}

.tabcontrol > .content {
    overflow-y: auto
}

.wizard > .content > .body {
    width: 100%;
    height: 100%;
    padding: 15px 0 0;
    position: static
}

.wizard > .steps .number {
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 36px;
    display: inline-block;
    font-weight: 600
}

.docs-options .dropdown-menu > li > label, .docs-tooltip {
    display: block
}

.wizard > .actions .disabled a, .wizard > .actions .disabled a:active, .wizard > .actions .disabled a:hover {
    opacity: .65;
    background-color: #e6e6e6;
    color: #737373;
    cursor: not-allowed;
    box-shadow: 0 3px 0 0 #cdcdcd
}

.wizard > .actions a, .wizard > .actions a:active, .wizard > .actions a:hover {
    background-color: #1f364f;
    border-radius: 4px;
    padding: 8px 15px;
    box-shadow: 0 3px 0 0 #111d2b
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #1f364f
}

.img-container, .img-preview {
    background-color: #f7f7f7;
    overflow: hidden;
    width: 100%;
    text-align: center
}

.img-container {
    min-height: 200px;
    max-height: 554px;
    margin-bottom: 20px
}

.docs-data > .input-group, .docs-preview, .docs-toggles > .btn, .docs-toggles > .btn-group, .docs-toggles > .dropdown, .img-preview {
    margin-bottom: 10px
}

@media (min-width: 768px) {
    .img-container {
        min-height: 554px
    }
}

.docs-preview {
    margin-right: -15px
}

.img-preview {
    float: left;
    margin-right: 10px
}

.preview-lg {
    width: 263px;
    height: 148px
}

.preview-md {
    width: 139px;
    height: 78px
}

.preview-sm {
    width: 69px;
    height: 39px
}

.preview-xs {
    width: 35px;
    height: 20px;
    margin-right: 0
}

.docs-data > .input-group > label {
    min-width: 80px
}

.docs-data > .input-group > span {
    min-width: 50px
}

.docs-buttons > .btn, .docs-buttons > .btn-group, .docs-buttons > .form-control {
    margin-right: 5px;
    margin-bottom: 10px
}

.docs-tooltip {
    margin: -6px -12px;
    padding: 6px 12px
}

.docs-tooltip > .icon {
    margin: 0 -3px;
    vertical-align: top
}

.tooltip-inner {
    white-space: normal
}

.btn-upload .tooltip-inner {
    white-space: nowrap
}

@media (max-width: 400px) {
    .btn-group-crop .docs-tooltip, .btn-group-crop > .btn {
        padding-left: 5px;
        padding-right: 5px
    }

    .btn-group-crop {
        margin-right: -15px !important
    }

    .btn-group-crop .docs-tooltip {
        margin-left: -5px;
        margin-right: -5px
    }
}

.docs-options .dropdown-menu {
    width: 100%
}

.docs-options .dropdown-menu > li {
    padding: 5px 20px
}

.docs-options .dropdown-menu > li .checkbox {
    margin: 5px 0
}

.docs-options .dropdown-menu > li:hover {
    background-color: #f7f7f7
}

.overlay-container {
    position: relative;
    overflow: hidden
}

.overlay-container.overlay-color:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 41, 61, .6)
}

.overlay-container .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1
}

.overlay-container .overlay-content {
    color: #FFF;
    background-color: rgba(24, 41, 61, .6)
}

.overlay-container hr {
    border-color: rgba(255, 255, 255, .2)
}

.lh-1 {
    line-height: 1 !important
}

.bd-t {
    border-top: 1px solid #e6e6e6
}

.bd-r {
    border-right: 1px solid #e6e6e6
}

.bd-b {
    border-bottom: 1px solid #e6e6e6
}

.bd-l {
    border-left: 1px solid #e6e6e6
}

.no-shadow {
    box-shadow: none !important
}

.no-border {
    border: none !important
}

.inline-block {
    display: inline-block !important
}

.inline {
    display: inline !important
}

.block {
    display: block !important
}

.fw-300 {
    font-weight: 300 !important
}

.fw-400 {
    font-weight: 400 !important
}

.fw-500 {
    font-weight: 500 !important
}

.fw-600 {
    font-weight: 600 !important
}

.fw-700 {
    font-weight: 700 !important
}

.fs-10 {
    font-size: 10px !important
}

.fs-11 {
    font-size: 11px !important
}

.fs-12 {
    font-size: 12px !important
}

.fs-13 {
    font-size: 13px !important
}

.fs-14 {
    font-size: 14px !important
}

.fs-16 {
    font-size: 16px !important
}

.fs-18 {
    font-size: 18px !important
}

.fs-20 {
    font-size: 20px !important
}

.fs-22 {
    font-size: 22px !important
}

.fs-24 {
    font-size: 24px !important
}

.fs-30 {
    font-size: 30px !important
}

.fs-36 {
    font-size: 36px !important
}

.fs-60 {
    font-size: 60px !important
}

.fs-100 {
    font-size: 100px !important
}

.m-0 {
    margin: 0 !important
}

.m-5 {
    margin: 5px !important
}

.m-10 {
    margin: 10px !important
}

.m-15 {
    margin: 15px !important
}

.m-20 {
    margin: 20px !important
}

.m-25 {
    margin: 25px !important
}

.m-30 {
    margin: 30px !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mr-0 {
    margin-right: 0 !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.ml-0 {
    margin-left: 0 !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-30 {
    margin-left: 30px !important
}

.p-0 {
    padding: 0 !important
}

.p-5 {
    padding: 5px !important
}

.p-10 {
    padding: 10px !important
}

.p-15 {
    padding: 15px !important
}

.p-20 {
    padding: 20px !important
}

.p-25 {
    padding: 25px !important
}

.p-30 {
    padding: 30px !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pr-0 {
    padding-right: 0 !important
}

.pr-5 {
    padding-right: 5px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-25 {
    padding-right: 25px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pl-0 {
    padding-left: 0 !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-25 {
    padding-left: 25px !important
}

.pl-30 {
    padding-left: 30px !important
}

.fc-toolbar {
    background-color: #1f364f;
    padding: 10px;
    margin-bottom: 0;
    height: 60px
}

.fc-toolbar h2 {
    font-weight: 300;
    color: #FFF;
    margin: 5px 0;
    line-height: 1
}

.fc-view-container {
    background-color: #FFF;
    color: #737373
}

.fc button {
    font-size: 14px;
    padding: 10px;
    height: auto
}

.fc-icon {
    font-family: themify
}

.fc-state-default {
    background-color: rgba(255, 255, 255, .05);
    color: #FFF;
    border-style: none;
    text-shadow: none;
    background-image: none;
    box-shadow: none
}

.fc-state-default:hover {
    outline: 0;
    background-color: #18293d
}

.fc-state-default.focus, .fc-state-default:focus {
    outline: 0
}

.fc-unthemed .fc-today {
    background-color: #fafafa
}

.timeline {
    position: relative
}

.timeline:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    left: 179px;
    background-color: #e6e6e6
}

.timeline .timeline-item {
    position: relative;
    margin-bottom: 24px
}

.timeline .timeline-time {
    display: inline-block;
    width: 120px;
    text-align: right;
    float: left
}

.timeline .timeline-content {
    margin-left: 240px
}

.timeline .timeline-icon {
    text-align: center;
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    width: 60px;
    margin-left: 30px;
    border: 5px solid #e6e6e6;
    color: #e6e6e6;
    border-radius: 50%
}

@media (max-width: 767px) {
    .timeline:before {
        left: 29px
    }

    .timeline .timeline-icon {
        left: 0;
        top: 0;
        margin: 0
    }

    .timeline .timeline-content {
        margin-left: 70px
    }

    .timeline .timeline-time {
        display: block;
        float: none;
        width: auto
    }
}

.mailbox .inbox {
    border-right: 1px solid #e6e6e6
}

.mailbox .inbox li {
    margin-top: 0;
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6
}

.mailbox .inbox li.active {
    box-shadow: inset -5px 0 #1f364f
}

.mailbox .inbox li.read {
    background-color: #fafdff
}

.mailbox .inbox li > a {
    display: block;
    color: #737373
}

.mailbox .inbox li .title {
    font-weight: 400;
    margin: 3px 0
}

.mailbox .inbox li .summary {
    color: #9a9a9a;
    font-size: 12px;
    margin-bottom: 0
}

.mailbox .single-mail {
    margin-left: -1px;
    border-left: 1px solid #e6e6e6;
    padding: 15px 20px
}

.body-bg-full {
    background-position: center center;
    background-attachment: fixed;
    height: 100%
}

.body-bg-full .page-container {
    padding: 0;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 41, 61, .8)
}

.body-bg-full .page-container .page-content {
    padding: 24px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-height: auto;
    width: 340px
}

.body-bg-full .logo {
    margin-bottom: 30px
}

.body-bg-full .form-control {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent transparent rgba(255, 255, 255, .1);
    color: #FFF;
    text-align: center
}

.body-bg-full .form-control::-webkit-input-placeholder {
    color: #FFF
}

.body-bg-full .form-control:-moz-placeholder {
    color: #FFF
}

.body-bg-full .form-control::-moz-placeholder {
    color: #FFF
}

.body-bg-full .form-control:-ms-input-placeholder {
    color: #FFF
}

.body-bg-full hr {
    border-color: rgba(255, 255, 255, .1)
}

.body-bg-full .setting, .body-bg-full .setting .setting-toggle {
    border-color: transparent;
    background-color: rgba(255, 255, 255, .1)
}

.body-bg-full .setting .setting-toggle {
    left: -48px
}

.body-bg-full.v2 .page-container {
    background-color: transparent
}

.body-bg-full.v2 .page-container .page-content {
    width: auto
}

.body-bg-full.v2 .page-container .page-content .v2 {
    background-color: #FFF;
    margin: 0 auto;
    max-width: 340px;
    padding: 24px;
    box-shadow: 0 5px 10px rgba(31, 54, 79, .5)
}

.body-bg-full.v2 .form-control {
    border-color: transparent transparent #e6e6e6;
    color: #737373
}

.body-bg-full.v2 .form-control::-webkit-input-placeholder {
    color: #737373
}

.body-bg-full.v2 .form-control:-moz-placeholder {
    color: #737373
}

.body-bg-full.v2 .form-control::-moz-placeholder {
    color: #737373
}

.body-bg-full.v2 .form-control:-ms-input-placeholder {
    color: #737373
}

.body-bg-full.v2 hr {
    border-color: #e6e6e6
}

.body-bg-full.v2 .setting, .body-bg-full.v2 .setting .setting-toggle {
    background-color: #FFF
}

.body-bg-full.v3 .page-container {
    background-color: rgba(24, 41, 61, .35)
}

.body-bg-full.v3 .page-container .page-content {
    width: auto
}

.body-bg-full.v3 .page-container .page-content .main-content {
    width: 50%;
    float: left
}

.body-bg-full.v3 .page-container .page-content .main-content .v3 {
    padding: 24px;
    background-color: #FFF;
    width: 340px;
    float: right
}

.body-bg-full.v3 .page-container .page-content .sub-content {
    text-align: left;
    padding-left: 24px;
    float: left;
    width: 50%
}

.body-bg-full.v3 .form-control {
    border-color: transparent transparent #e6e6e6;
    color: #737373
}

.body-bg-full.v3 .form-control::-webkit-input-placeholder {
    color: #737373
}

.body-bg-full.v3 .form-control:-moz-placeholder {
    color: #737373
}

.body-bg-full.v3 .form-control::-moz-placeholder {
    color: #737373
}

.body-bg-full.v3 .form-control:-ms-input-placeholder {
    color: #737373
}

.body-bg-full.v3 hr {
    border-color: #e6e6e6
}

.body-bg-full.v3 .setting, .body-bg-full.v3 .setting .setting-toggle {
    background-color: #FFF
}

@media (max-width: 767px) {
    .body-bg-full.v3 .page-container .page-content .main-content {
        width: 100%;
        float: none
    }

    .body-bg-full.v3 .page-container .page-content .main-content .v3 {
        text-align: center;
        float: none;
        margin: 0 auto
    }

    .body-bg-full.v3 .page-container .page-content .sub-content {
        display: none
    }
}

.pricing-table .pricing-item {
    margin-bottom: 24px;
    text-align: center
}

.pricing-table.pricing-1 .pricing-item {
    padding: 40px;
    background-color: #fafafa;
    border-top: 3px solid transparent;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s
}

.pricing-table.pricing-1 .pricing-item:hover {
    border-color: #0667D6
}

.pricing-table.pricing-1 .pricing-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: left;
    padding-bottom: 15px
}

.pricing-table.pricing-1 .pricing-price {
    font-size: 36px;
    font-weight: 600;
    padding: 15px 0;
    text-align: left;
    border-top: 3px solid #e6e6e6
}

.pricing-table.pricing-1 .pricing-currency {
    font-size: 20px;
    vertical-align: super
}

.pricing-table.pricing-1 .pricing-period {
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    color: #9a9a9a
}

.pricing-table.pricing-1 .pricing-sentence {
    padding: 15px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #9a9a9a;
    border-bottom: 3px solid #e6e6e6
}

.pricing-table.pricing-1 .pricing-feature-list {
    text-align: right;
    padding: 15px 0
}

.pricing-table.pricing-1 .pricing-feature-list > li {
    font-style: italic;
    line-height: 1.6
}

.pricing-table.pricing-2 .pricing-item {
    background-color: #abd1fd;
    border-radius: 10px;
    color: #FFF;
    padding: 15px;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s
}

.pricing-table.pricing-2 .pricing-item:hover {
    background-color: #bad9fd
}

.pricing-table.pricing-2 .pricing-item-featured {
    position: relative
}

.pricing-table.pricing-2 .pricing-item-featured .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right
}

.pricing-table.pricing-2 .pricing-item-featured .ribbon span {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background-color: #1abe9e;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 19px;
    right: -21px
}

.pricing-table.pricing-2 .pricing-item-featured .ribbon span:after, .pricing-table.pricing-2 .pricing-item-featured .ribbon span:before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #2ae2bd
}

.pricing-table.pricing-2 .pricing-item-featured .ribbon span:before {
    left: 0;
    border-left: 3px solid #2ae2bd;
    border-right: 3px solid transparent
}

.pricing-table.pricing-2 .pricing-item-featured .ribbon span:after {
    right: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid #2ae2bd
}

.pricing-table.pricing-2 .pricing-title {
    font-size: 30px;
    font-weight: 300;
    padding: 15px 0 30px;
    margin: 0;
    position: relative
}

.pricing-table.pricing-2 .pricing-title:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 40%;
    height: 1px;
    width: 20%;
    background-color: #FFF
}

.pricing-table.pricing-2 .pricing-sentence {
    padding: 30px 15px
}

.pricing-table.pricing-2 .pricing-price {
    font-size: 60px
}

.pricing-table.pricing-2 .pricing-currency {
    font-size: 24px;
    vertical-align: super
}

.pricing-table.pricing-2 .pricing-period {
    display: block;
    font-size: 14px;
    padding: 15px 30px
}

.pricing-table.pricing-2 .pricing-feature-list {
    text-align: left;
    padding: 30px 20px
}

.pricing-table.pricing-2 .pricing-feature-list > li {
    line-height: 1.8;
    font-size: 16px
}

.pricing-table.pricing-2 .pricing-feature-list > li:before {
    font-family: themify;
    content: "\e628";
    vertical-align: middle;
    display: inline-block;
    padding-right: 10px
}

.pricing-table.pricing-3 .pricing-item {
    padding: 30px 50px;
    border: 1px solid #17A88B;
    position: relative
}

@media (min-width: 769px) {
    .pricing-table.pricing-3 .pricing-item:nth-child(2) {
        border-left: none;
        border-right: none
    }
}

.pricing-table.pricing-3 .pricing-item:hover {
    z-index: 100
}

.pricing-table.pricing-3 .pricing-item:hover:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 5px solid #17A88B
}

.pricing-table.pricing-3 .pricing-icon {
    color: #17A88B;
    font-size: 40px;
    padding: 10px 0;
    display: block
}

.pricing-table.pricing-3 .pricing-title {
    font-weight: 600;
    margin: 0;
    padding: 20px 0
}

.pricing-table.pricing-3 .pricing-price {
    font-size: 36px;
    font-weight: 600;
    color: #17A88B;
    margin: 0
}

.pricing-table.pricing-3 .pricing-currency {
    font-size: 20px;
    vertical-align: super
}

.pricing-table.pricing-3 .pricing-period {
    font-size: 14px;
    padding-left: 5px;
    font-weight: 400;
    color: #9a9a9a
}

.pricing-table.pricing-3 .pricing-feature-list {
    padding: 20px 0 80px
}

.pricing-table.pricing-3 .pricing-feature-list > li {
    line-height: 1.8;
    font-size: 16px
}

.btn-demo .btn {
    margin: 0 10px 10px 0
}

.chart-demo, .loading-demo {
    border: 1px solid #e6e6e6;
    display: flex;
    margin-bottom: 24px
}

.bg-demo {
    color: #FFF;
    background: #F1F2B5;
    background: -webkit-linear-gradient(to left, #F1F2B5, #135058);
    background: linear-gradient(to left, #F1F2B5, #135058)
}

.loading-demo {
    height: 240px;
    align-items: center;
    justify-content: center
}

.chart-demo {
    height: 300px;
    align-items: center;
    justify-content: center
}

.icon-demo .row > [class^=col] {
    line-height: 50px;
    cursor: pointer;
    height: 50px
}

.icon-demo .row > [class^=col]:hover i {
    font-size: 28px
}

.icon-demo i {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 40px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}