<div class="modal fade" id="editOfficeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Consultorio</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="name" class="col-md-6 control-label">Nombre del establecimiento:*</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="establecimiento" placeholder="Establecimiento" ng-model="vm.SelectedOffice.name" ng-required="vm.isRequired" >
                            </div>
                            <div class="form-group">
                                    <input type="text" class="form-control" id="address" placeholder="Dirección" ng-model="vm.SelectedOffice.address" ng-required="vm.isRequired" >
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="exterior" placeholder="No. Exterior" ng-model="vm.SelectedOffice.interior_number" ng-required="vm.isRequired">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="interior" placeholder="No. Interior" ng-model="vm.SelectedOffice.exterior_number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Colonia" placeholder="Colonia" ng-model="vm.SelectedOffice.colony" ng-required="vm.isRequired" >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="CodigoPostal" placeholder="Código Postal" ng-model="vm.SelectedOffice.zip_code" ng-required="vm.isRequired">
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.SelectedOffice.state" ng-init="vm.loadStates()" ng-required="vm.isRequired" ng-options="estado.id_type as estado.name for estado in vm.states " ng-change="vm.loadCities(vm.SelectedOffice.state)">
                                        <option value="">Selecciona una ciudad</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.SelectedOffice.city" ng-init="vm.loadCities(vm.SelectedOffice.state)" ng-required="vm.isRequired" ng-options="ciudad.id as ciudad.name for ciudad in vm.cities">
                                    <option value="">Selecciona primero un estado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="officeType" class="col-md-6 control-label">Tipo de consultorio:*<br><em class="subh">Las imágenes que se le pedirá subir son opcionales en el registro. Podrá completar esta parte una vez creada su cuenta.</em></label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.SelectedOffice.office_type" ng-init="vm.loadOfficeType()" ng-required="vm.isRequired" ng-options="consultorio.id_type as consultorio.name for consultorio in vm.tipoConsultorio">
                                        <option value="">Selecciona un consultorio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Especialidad" class="col-md-6 control-label">Foto Licencia Sanitaria:*<br>     <em class="subh">Sube la foto en .jpg .png o .pdf.</em></label>
                        <div class="col-md-6">
                            <div class="col-md-5">
                                <img ng-src="{{vm.BuildImageUrl(vm.SelectedOffice.sanitary_license)}}" class="sanitaryLicense img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                            <div class="col-md-7">
                                <file-browser idsrc="sanitaryLicense"  usertype="doctor" model="vm.SelectedOffice.sanitary_license" iwidth="150" iheight="150" caption="Sube tu licencia sanitaria">
                                </file-browser >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Especialidad" class="col-md-6 control-label">Foto Aviso Funcionamiento:*<br>     <em class="subh">Sube la foto en .jpg .png o .pdf.</em></label>
                        <div class="col-md-6">
                            <div class="col-md-5">
                                <img ng-src="{{vm.BuildImageUrl(vm.SelectedOffice.operation_notice)}}" class="operationNotice img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                            <div class="col-md-7">
                                <file-browser idsrc="operationNotice"  usertype="doctor" model="vm.SelectedOffice.operation_notice" iwidth="150" iheight="150" caption="Sube tu aviso de funcionamiento">
                                </file-browser >
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="precio" class="col-md-6 control-label">Precio por consulta:*</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="precio" placeholder="Ej. 500.00"  ng-model="vm.SelectedOffice.price" ng-required="vm.isRequired">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Celular" class="col-md-6 control-label">Teléfono de consultorio:*</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <select class="form-control" ng-model="vm.SelectedOffice.phone_number.code" ng-required="vm.isRequired" ng-options="id.name as id.name for id in vm.phoneCodes" >
                                            <option value="">Escoje el código de tu pais</option>
                                        </select>
                                    </div>   
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="celular" placeholder="10 dígitos" ng-model="vm.SelectedOffice.phone_number.number" minlength="10" maxlength="10" pattern="\d*">
                                    </div> 
                                </div>   
                            </div>                                    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button ng-click="step3Form.$valid && vm.saveInformation(3)" class="btn btn-primary pull-right">Guardar</button>
                </div>
            </div>
        </div>
    </div>