<div class="row">
    <div class="col-md-12">
        <h3>Mi Agenda
                <em class="pull-right">Consultas en línea: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> En línea</em>
        </h3>
    </div>
</div>
<div class="row schedulepanel">
    <!-- ng-repeat="office in vm.doctor" -->
    <div class="panel panel-default" ng-repeat="office in vm.OfficeSchedule">
        <div class="panel-heading schedulepaneltitle" data-toggle="collapse" href="#collapseExample{{$index}}" aria-expanded="false" aria-controls="collapseExample{{$index}}">
            <h3 >{{office.office.name}} 
                <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
            </h3>   
            <p class="collapseSubTittle">{{office.office.street}} {{office.office.city.name}} {{office.office.state.name}}  {{office.office.colony}} {{office.office.interiorNumber}} {{office.office.outdoorNumber}}</p>
        </div>
        <div class="panel-body schedulepanelbody" class="collapse" id="collapseExample{{$index}}">
            <div class="row">
                <p>Agenda los días que te gustaría recibir pacientes en tu consultorio o selecciona personalizar por fecha para ver el calendario.</p>
                <div class="text-center row agendaBox" ng-repeat="schedule in office.schedule">
                    <div class="col-md-1">
                        <h3># {{$index+1}}:</h3>
                    </div>
                    <div class="col-md-7">
                        <p class="text-left">
                            <span class="infoHead">{{vm.getWeekString(schedule.week_day)}}</span><br/>
                            <span class="infoDescription">{{vm.getHourString(schedule.hours)}}</span><br/>
                            <span class="infoHead" ng-bind-html="vm.getExceptionsString(office.exception)"></span>
                        </p>
                    </div>
                    <div class="col-md-4 optionButton">
                        <button type="button" class="btn btn-primary btn-lg " ng-click="vm.loadOfficeInformation(office,schedule)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                        </button>
                        <button type="button" class="btn btn-danger btn-lg " ng-click="vm.deleteSchedule(office.office,week_day)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</button>
                    </div>  
                </div>
            </div>
            <div class="row">
                <p class="infoHead">Selecciona los días:</p>
                <button ng-repeat="day in office.selectedSchedule.availability" class="col-md-1 dayBlock " type="button" ng-click="vm.selectschedule(day,office.selectedSchedule)" ng-class="{'selected ':  day.status == vm.weekDaysStatus.selected, 'inactive' : day.status == vm.weekDaysStatus.inactive}">{{day.name}}</button>
            </div>
            <div class="row" ng-show="vm.isDaySelected(office.selectedSchedule.timeScheduleList.schedule.week_day)">
                <div class="col-md-6">
                    <div class="row">
                        <p class="infoHead">Selecciona los horarios de consulta:</p>
                        <div class="col-md-2">
                            <div uib-timepicker ng-model="vm.scheduleTime.start" ng-change="vm.scheduleTime.changed()" hour-step=" vm.scheduleTime.hourStep" minute-step=" vm.scheduleTime.minuteStep" show-meridian="vm.scheduleTime.hourStep.ismeridian"></div>
                        </div>
                        <div class="col-md-1 text-center timepcikerAlign"><p>a</p></div>
                        <div class="col-md-2">
                            <div uib-timepicker ng-model="vm.scheduleTime.end" ng-change="vm.scheduleTime.changed()" hour-step=" vm.scheduleTime.hourStep" minute-step=" vm.scheduleTime.minuteStep" show-meridian="vm.scheduleTime.hourStep.ismeridian"></div>
                        </div>
                        <div class="col-md-3 timepcikerAlign">
                                <button type="button" class="btn btn-primary inline" ng-click="vm.addTimeToTable(office.selectedSchedule)">Agregar</button>
                        </div>
                    </div>             
                </div>
                <div class="col-md-6">
                    <div class="row"><p class="infoHead">Horarios Agregados:</p></div>
                    <div class="row" ng-hide="vm.isTimelistEmpty(office.selectedSchedule.timeScheduleList.schedule.hours)">
                        <ul class="timeList">
                            <li ng-repeat="time in office.selectedSchedule.timeScheduleList.schedule.hours">{{time.start}} - {{time.end}} <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeTimeFromTable(office.selectedSchedule.timeScheduleList.schedule.hours,$index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar</button></li>
                        </ul>
                    </div>
                    <div class="row" ng-show="vm.isTimelistEmpty(office.selectedSchedule.timeScheduleList.schedule.hours)">
                        <p>Aún no hay horarios agregados</p>
                    </div> 
                </div>
            </div>
            
                <!-- <pre> {{office.office.id | json}}</pre>
                    <pre> {{office.selectedSchedule.timeScheduleList | json}}</pre>  -->
            <div class="row">
                <div class="col-md-12 form-group pull-left">
                    <div class="row">
                        <label for="birthDate" class="control-label infoHead">Crear Excepcion:*</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="office.selectedSchedule.timeScheduleList.exception.start" placeholder="Inicio de excepcion" is-open="vm.datepicker[$index].start.opened" datepicker-options="dateOptions" ng-required="vm.isRequired" close-text="Close" alt-input-formats="altInputFormats" ng-click="vm.datepicker[$index].start.bdPopup()" readonly/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.datepicker[$index].start.bdPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="office.selectedSchedule.timeScheduleList.exception.end" placeholder="Fin de excepcion" is-open="vm.datepicker[$index].end.opened" datepicker-options="dateOptions" ng-required="vm.isRequired" close-text="Close" alt-input-formats="altInputFormats" ng-click="vm.datepicker[$index].end.bdPopup()" readonly/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.datepicker[$index].end.bdPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>  
                        </div>   
                    </div>  
                    <div class="row">
                        <div class="col-md-2 pull-right">
                            <button type="button" class="btn btn-primary" ng-disabled="!vm.isDaySelected(office.selectedSchedule.timeScheduleList.schedule.week_day)" ng-click="vm.saveTimeSchedule(office.office.id,office.selectedSchedule.timeScheduleList)">Guardar agenda</button>
                        </div>     
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-primary pull-right"  >Crear mi cuenta</button> -->
    <div class="row">
        <div class="col-md-12">
            <a href=""  ng-click="vm.loadOfficeData(null)">
                <div class="col-md-12 addRoom">
                    <b>Agregar consultorio</b> <img class="pull-right" src="../../assets/images/add.png" alt="image">
                </div>
            </a> 
        </div>
    </div>
</div>
<div ng-include="'miAgenda/addOffice.html'"></div>