.badge-notify{
    background:red;
    position:absolute;
    top:0px;
   }

   .shedulepaneltitle{

   }
   .schedulepanelbody{
        padding: 50px 50px 50px 50px;
   }
   .schedulepanel{
    padding: 30px 0 30px 0;
   }

   h3{
    font-family: HelveticaNeuBold;
    font-size: 22px;
    line-height: 23px;
    color: #1c7fc2;
   }
   .dayBlock{
        background-color:white;
        color: #d7d7d7;
        padding: 10px 10px 10px 10px;
        border: 1px solid #d7d7d7;
        margin: 20px 20px 20px 20px;
        text-align: center;
   }
   .dayBlock.inactive{
        background-color:#eeeeee;
        color: #d7d7d7; 
    }
    .dayBlock.selected{
        background-color:#76bd22;
        color: white;
    }
    .agendaBox{
        border: 1px solid #e7e7e7;
        padding: 20px 20px 20px 20px;
        margin: 20px 20px 20px 20px;
    }
    .optionButton{
        padding: 10px 0 10px 0;
    }
    .optionButton > button{
        margin: 0 20px 0 20px;
    }
    .collapseSubTittle{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #959499;
    }
    p{
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #212121;
    }
    .infoHead {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #959499;
      }
      .infoDescription {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9e9e9e;
      }
      .timepcikerAlign{
          padding-top: 35px;
      }
      .timeList >li{
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #221f20;
      }
      .timeList >li>button{
        margin-left: 20px;
      }

      