<div class="row">
    <div class="col-md-12">
        <h3>Mi Agenda
                <em class="pull-right">Consultas en línea: <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> En línea</em>
        </h3>
    </div>
</div>
<div class="row profilePanel">
    <div class="row section sectionShadow">
        <div class="row">
            <div class="pull-left">
                <div class="col-md-4">
                    <img width="" ng-src="{{vm.BuildImageUrl(vm.doctorDisplay.profile_picture)}}" class="profilePicture img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                </div>
                <div class="col-md-6">
                    <h3>{{vm.doctorDisplay.name}} {{vm.doctorDisplay.last_name}} {{vm.doctorDisplay.last_name_2}}</h3>
                    <ul class="list-inline">
                        <li ng-repeat="score in vm.getScoreArray(vm.doctorDisplay.profile.score)"><img class="img-responsive" src="../../assets/images/star-active.png" alt="nice"></li>
                        <li ng-repeat="score in vm.getNegativeScoreArray(vm.doctorDisplay.profile.score)"><img class="img-responsive" src="../../assets/images/star-empty.png" alt="nice"></li>
                    </ul>
                    <a class="tag" href="/busqueda?q={{vm.doctorDisplayProfile.speciality_id}}">{{vm.getSpecialtyNameById(vm.doctorDisplayProfile.speciality_id)}}</a>

                </div>              
            </div>
            <div class="pull-right">
                <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#editGeneralInfo">  <span class="glyphicon glyphicon-edit" ></span> Editar</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="innerSection">
                    <h3 class="innerSectionheader">Nivel de Mi Perfil:</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="sr-only">2/5 Bloques</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="innerSection">
                    <h3 class="innerSectionheader">Información General:</h3>
                    <div class="row">
                        <div class="editLabel col-md-5">Nombre: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.name}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Apellido Paterno: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.last_name}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Apellido Materno: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.last_name_2}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Curp: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.curp}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Fecha de nacimiento: </div>
                        <div class="valueLabel">{{vm.FormatDate(vm.doctorDisplay.birthday)}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Género: </div>
                        <div class="valueLabel">{{vm.getGenderString(vm.doctorDisplay.gender)}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Correo electrónico: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.email}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Celular: </div>
                        <div class="valueLabel">{{vm.buildPhoneNumber(vm.doctorDisplay.cellphone)}}</div>
                    </div>
                </div> 
            </div>
        </div>   
    </div>
</div>
<div class="row profilePanel">
    <div class="row section sectionShadow">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#editProfesionalInfo">  <span class="glyphicon glyphicon-edit" ></span> Editar</button>
            </div> 
            <h3 class="innerSectionheader">Información Profesional:</h3>
            <div class="col-md-6">
                    <div class="row">
                        <div class="editLabel col-md-5">Universidad en la que estudiaste: </div>
                        <div class="valueLabel">{{vm.getUniversityNameById(vm.doctorDisplay.university)}}</div>                 
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Especialidad: </div>
                        <div class="valueLabel">{{vm.getSpecialtyNameById(vm.doctorDisplay.speciality_id)}}</div>
                    </div>
                    <div class="row">
                        <div class="editLabel col-md-5">Cédula Profesional: </div>
                        <div class="valueLabel">{{vm.doctorDisplay.cedula}}</div>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="editLabel col-md-5">Identificación Oficial: </div>
                    <div class="valueLabel">{{vm.getIdTypeNameById(vm.doctorDisplay.document_type)}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Foto de Identificación Oficial: </div>
                    <div class="valueLabel col-md-7">  
                        <div class="row">
                            <div class="col-md-2 thumbnail" class="documentImage">
                                <img ng-src="{{vm.BuildImageUrl(vm.doctorDisplay.document_image)}}" class="documentImage center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row profilePanel">
    <div class="row section sectionShadow">
        <h3 class="innerSectionheader">Experiencia</h3>
        <div class="pull-right">
            <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#editExperience">  <span class="glyphicon glyphicon-edit" ></span> Editar</button>
        </div>
        <div class="row">
            <div class="editLabel col-md-5">Trayectoria: </div>
            <!-- <span class="infoHead" ng-bind-html="vm.getExceptionsString(office.exception)"></span> -->
            <div class="valueLabel"> {{vm.doctorDisplay.trajectory}} <span class="valueLabel" ng-hide="vm.isNullOrEmpty(vm.doctorDisplay.trajectory)"> Pendiente </span> </div>     
                          
        </div>
        <div class="row">
            <div class="editLabel col-md-5">Reconocimientos: </div>
            <div class="valueLabel">{{vm.doctorDisplay.acknowledgments}} <span class="valueLabel" ng-hide="vm.isNullOrEmpty(vm.doctorDisplay.acknowledgments)"> Pendiente </span></div>
        </div>
        <div class="row">
            <div class="editLabel col-md-5">Servicios: </div>
            <div class="valueLabel">{{vm.doctorDisplay.services}} <span class="valueLabel" ng-hide="vm.isNullOrEmpty(vm.doctorDisplay.services)"> Pendiente </span></div>
        </div>
        <div class="row">
            <div class="editLabel col-md-5">Experiencia: </div>
            <div class="valueLabel">{{vm.doctorDisplay.experience}} <span class="valueLabel" ng-hide="vm.isNullOrEmpty(vm.doctorDisplay.experience)"> Pendiente </span></div>
        </div>
    </div>
</div>

<div class="row profilePanel">
    <div class="row section sectionShadow">
        <h3 class="innerSectionheader">Mis consultorios</h3>
        <div class="row innerSection" ng-repeat="office in vm.doctorDisplay.offices">
            <div class="row editFixedRoomName">
                {{office.name}}
            </div>
            <div class="pull-right">
                <button type="button" class="btn-lg btn-primary" ng-click="vm.loadOfficeData(office)">  <span class="glyphicon glyphicon-edit"></span> Editar</button>
            </div>
            <div class="row">
                <div class="editLabel col-md-5">Dirección: </div>
                <div class="valueLabel col-md-5">{{office.street}} {{office.city.name}} {{office.state.name}}  {{office.colony}} {{office.interiorNumber}} {{office.outdoorNumber}}</div>
            </div>
            <div class="row">
                <div class="editLabel col-md-5">Tipo de consultorio: </div>
                <div class="valueLabel">{{vm.getOfficeTypesNameById(office.office_type)}}</div>
            </div>
            <div class="row">
                <div class="editLabel col-md-5">Foto Licencia Sanitaria: </div>
                <div class="valueLabel col-md-7">  
                    <div class="row">
                        <div class="col-md-2 thumbnail">
                            <img ng-src="{{vm.BuildImageUrl(office.sanitary_license)}}" class="sanitaryLicense{{$index}} img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="editLabel col-md-5">Foto Aviso Funcionamiento: </div>
                <div class="valueLabel col-md-7">  
                    <div class="row">
                        <div class="col-md-2 thumbnail">
                            <img ng-src="{{vm.BuildImageUrl(office.operation_notice)}}" class="documentImage img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="editLabel col-md-5">Precio por consulta: </div>
                <div class="valueLabel">{{office.price}}</div>
            </div>
            <div class="row">
                <div class="editLabel col-md-5">Teléfono: </div>
                <div class="valueLabel">{{vm.buildPhoneNumber(office.phone_number)}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href=""  ng-click="vm.loadOfficeData(null)">
                    <div class="col-md-12 addRoom">
                        <b>Agregar consultorio</b> <img class="pull-right" src="../../assets/images/add.png" alt="image">
                    </div>
                </a> 
            </div>
        </div>
    </div>
</div>
<div ng-include="'miPerfil/modals/editOfficeModal.html'"></div>
<div ng-include="'miPerfil/modals/editGeneralInfoModal.html'"></div>
<div ng-include="'miPerfil/modals/editExperienceModal.html'"></div>
<div ng-include="'miPerfil/modals/editProfesionalInfoModal.html'"></div>
