.profilePanel{
    padding: 20px 20px 20px 20px;
}
.section{
    background-color: white;
    padding: 20px 20px 20px 20px;
}
.sectionShadow{
    -webkit-box-shadow: -7px 8px 8px -2px rgba(28,127,194,0.27);
    -moz-box-shadow: -7px 8px 8px -2px rgba(28,127,194,0.27);
    box-shadow: -7px 8px 8px -2px rgba(28,127,194,0.27);
}
.innerSection{
    border: 1px solid #e7e7e7;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.innerSectionheader{
   color: #76bd22;
}
