<footer>
    <div class="green-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 list">
                    <ul>
                        <li><a href="/#!/anunciate">Anúnciate</a></li>
                        <li><a href="/#!/legales/aviso">Aviso de privacidad</a></li>
                        <li><a href="/#!/faqs" onclick="window.location.reload()" >FAQ's</a></li>
                    </ul>
                </div>
                <div class="col-md-6 list text-right">
                    <ul>
                        <li><a href="tel:+52 1 477 510 8917"><i class="fa fa-phone"></i>&nbsp;&nbsp;<small>+52 1 477 510 8917</small></a></li>
                        <li><a href="whatsapp://send?abid=+5214775108917&text=Hola%2C%20Doctor%2C%20Advisor!"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://www.facebook.com/DoctorAdvisor/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/+DoctoradvisorMx?hl=es" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCODJ5g1pizwfCCZUw5MNGKw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="last-bar">
        <p>© DoctorAdvisor. Todos los Derechos Reservados. <a href="/#!/legales/terminos">Términos y Condiciones de Uso</a></p> 
    </div>
</footer>
</div>
<div class="side-alert"></div>
