<header>
    <div class="menu">
        <div class="container">
            <div class="left">
                <a href="/#!/">
                    <img src="assets/images/site/logo-doctor-advisor.svg" alt="Logo Doctor Advisor">
                </a>
                <h1 class="hidden">Doctor Advisor</h1>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <form onsubmit="return false;" class="search-component">
                            <fieldset>
                                <input type="text" class="search-value auto-search searchTop" placeholder="Ej. Dolor de cabeza" ng-model="vm.query.pattern" ng-init="vm.query.pattern = ''" ng-change="vm.getAutocompleteInfo()" uib-typeahead="autcomplete as autcomplete.name for autcomplete in vm.autcomplete | filter:{name:$viewValue}" typeahead-show-hint="true" typeahead-min-length="0">
                                <button type="submit" class="search-icon"></button>
                            </fieldset>
                        </form>
                    </li>
                    <li ng-hide="user.isLogged">
                        <a href="/#!/login" class="cancelClick">Ingresar</a>
                    </li>
                    <li ng-show="user.isLogged">
                        <div class="logged">
                            <div class="avatar">
                                <a href="">
                                    <div class="circle" style="background-image: url('{{user.profilePicture}}')"></div>
                                </a>
                            </div>

                            <ul class="drop-menu">
                                <li><a href="" ng-click="vm.goToProfile()">Ver perfil</a></li>
                                <li><a href="" ng-click="vm.logout()">Cerrar sesion</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-menu">
        <div class="container">
            <ul>
                <li><a href="/#!/como-funciona">¿Cómo funciona?</a></li>
                <li><a href="/#!/servicios" onclick="window.location.reload()">Servicios</a></li>
                <li><a href="/#!/contacto" class="cancelClick">Contacto</a></li>
                <li><a href="/#!/faqs" onclick="window.location.reload()" class="cancelClick">FAQ's</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-header">
        <div class="overflow">
            <div class="left">
                <a href="/#!/">
                    <img src="assets/images/site/logo-doctor-advisor-white.svg" alt="Doctor Advisor">
                </a>
                <h1 class="hidden">Doctor Advisor</h1>
            </div>
            <div class="right">
                <img src="assets/images/site/icons/mobile-menu.svg" class="open" alt="Mobile">
                <img src="assets/images/site/icons/close-white.svg" class="close" alt="Mobile">
            </div>
        </div>
        <div class="drop-menu">
            <ul>
                <li><a href="/#!/como-funciona" class="cancelClick">¿Cómo funciona?</a></li>
                <li><a href="/#!/servicios" class="cancelClick">Servicios</a></li>
                <!-- <li><a href="#" class="cancelClick">Blog</a></li> -->
                <li><a href="/#!/contacto" class="cancelClick">Contacto</a></li>
                <li><a href="/#!/settings" class="cancelClick">Cuenta</a></li>
            </ul>
        </div>
    </div>
</header>