@font-face {
    font-family: helveticaNeueMed;
    src: url('fonts/HelveticaNeueMed.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueLt;
    src: url('fonts/HelveticaNeueLt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeuBold;
    src: url('fonts/HelveticaNeuBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueBd;
    src: url('fonts/HelveticaNeueBd.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueBlackCond;
    src: url('fonts/HelveticaNeueBlackCond.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueHv;
    src: url('fonts/HelveticaNeueHv.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueIt;
    src: url('fonts/HelveticaNeueIt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url('fonts/HelveticaNeueLight.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url('fonts/HelveticaNeueMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url('fonts/HelveticaNeueThin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: HelveticaNeue;
    src: url('fonts/HelveticaNeue.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.HelveticaNeue{font-family: HelveticaNeue;}
.helveticaNeueMed{font-family: helveticaNeueMed;}
.HelveticaNeueLt{font-family: HelveticaNeueLt;}
.HelveticaNeuBold{font-family: HelveticaNeuBold;}
.HelveticaNeueBd{font-family: HelveticaNeueBd;}
.HelveticaNeueBlackCond{font-family: HelveticaNeueBlackCond;}
.HelveticaNeueHv{font-family: HelveticaNeueHv;}
.HelveticaNeueIt{font-family: HelveticaNeueIt;}
.HelveticaNeueLight{font-family: HelveticaNeueLight;}
.HelveticaNeueMedium{font-family: HelveticaNeueMedium;}
.HelveticaNeueThin{font-family: HelveticaNeueThin;}

/* input { width: 100%} */
/* GENERAL */
.blueLight {
    color:#1b7fbd;
}

.blue {
    color:#1c7fc2;
}
/* DOCTOR CARDS */
.searchBoxInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1880bf;
  }
  .searchBoxInput::-moz-placeholder { /* Firefox 19+ */
color: #1880bf;
}
.searchBoxInput:-ms-input-placeholder { /* IE 10+ */
color: #1880bf;
}
.seasearchBoxInputrchBox:-moz-placeholder { /* Firefox 18- */
color: #1880bf;
}
.specialtyContainer{
    border: 1px solid #76bd21;
    border-radius: 5px;
    padding: 4px;
    color: #ababab;
}
.searchContainer{
    padding: 20px 0px 40px 0px;
    color: #063e63;
}
.doctorname {
   color: #1c7fc2;
}
.locationSelect{
    border: 1px solid #76bd21;
    border-radius: 5px;
    padding: 10px;
    color: #033c67;
    margin-left: 0px;
}
.bookIformationContainer{
    background-color: #1c7fc2;
    color: white;
    padding: 5px 25px 15px 25px;
    border-radius: 5px;
}
.MessageBtn{
    border: 1px solid #76bd21;
    padding: 10px;
    background-color: #76bd21;
    border-radius: 50px;
    color: white;
    padding: 5px 40px 5px 40px;
    margin: 0px 5px 0px 5px;
    font-size: 18px;
}
.phoneBtn{
    border: 1px solid #76bd21;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    color: #1c7fc2;
    padding: 5px 40px 5px 40px;
    margin: 0px 5px 0px 5px;
    font-size: 18px;
}
.bookBtn{
    border: 1px solid #76bd21;
    padding: 7px;
    background-color: #76bd21;
    border-radius: 10px;
    color: white;
    font-size: 22px;
}
.bookBtnsmallPort{
    padding: 7px;
    background-color: #1c7fc2;
    color: white;
}
.doctorCard{
    /* padding-bottom:30px;      */
}
.mxn{
    color: yellow;
}
.separationList{
    border-right: 1px solid white;
}
hr {
    border-top: 1px solid #c4ad77;
}
em{
    font-size: 12px;
    padding-top:0px;
}
 
.doctorCard>div>a>img{
    height: auto;
    width: 100%;
} 

.btnwrap{
    padding:10px 0px 10px 0px;
}

.doctorPhoto{
    border-bottom: 5px solid #c4ae75; 
} */

 /*  link as file browser style */
.upload_link{
    text-decoration:none !important;
}
.upload{
    display:none !important;
}
.wrap{
    padding: 10px;
}
 /* nav bar style
 https://work.smarchal.com/twbscolor/3.3.7/css/85c3542bc05dfffffffbfbfb0 */
 /* .navbar-default {
    background-color: #85c354;
    background : #85c354;
    border-color: #85c354;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #237fc2;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #237fc2;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #237fc2;
    background-color: #85c354;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #237fc2;
    background-color: #85c354;
  }
  .navbar-default .navbar-toggle {
    border-color: #85c354;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #85c354;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #237fc2;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #237fc2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #237fc2;
      background-color: #85c354;
    }
  } */