<div class="row section" ng-show="vm.doctor.step3.online_consultancy == '1'">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div id="creditCartInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body sectionContainer">
                    <div class="col-md-7 col-md-offset-2 form-horizontal">
                            <div class="row wrap">
                            <div class="col-md-12">
                                <h3 class="blue">Datos de tarjeta de débito o ahorro</h3>
                                <p>Escribe los datos de tu tarjeta. Todos los datos proporcionados son confidenciales y seguros</p> 
                            </div>
                            <div class="col-md-8 col-md-offset-2 wrap panel-grey">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="account_number" class="col-md-6 control-label">Número de tarjeta, cuenta o CLABE:*<br>     <em class="subh">Aquí se va a depositar el pago de consultas</em></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="account_number" placeholder="Número de cuenta, tarjeta o CLABE" ng-model="vm.doctor.step3.account_number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="banco" class="col-md-6 control-label">Banco destino:*<br></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="banco" placeholder="Banco" ng-model="vm.doctor.step3.destination_bank">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-6 control-label">Correo electrónico:*<br>     <em class="subh">Para recibir recibos</em></label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" id="email" placeholder="Escribe tu correo" ng-model="vm.doctor.step3.email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>