<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cancelar</h4>
        </div>
        <div class="modal-body">
            <h3>Al cancelar la informacion actual no se guardara</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
            <a type="button" class="btn btn-primary" href="/">Cancelar</a>
        </div>
    </div>
  </div>
</div>