<div class="modal fade bs-example-modal-lg promotion" id="promotion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalCloseBtn" data-dismiss="modal" aria-label="Close"> <img alt="Brand" src="../../assets/images/icons/close-white.png"></button>
                <h3 class="modal-title">
                    Doctor Advisor University
                </h3>
                <h4 class="modal-title" id="myModalLabel">Certificación en Transformación Digital</h4>
            </div>
            <div class="modal-body modalBody">
                <p class="black">!No te pierdas esta oportunidad en donde te enseñaremos a tener un mejor manejo en las redes sociales, para ner más ganancias</p>
                <div class="row">
                    <div class="col-md-6 col1">
                        <div class="row">
                            <div class="text-left">
                                <img alt="Brand" src="../../assets/images/FU_University.png">
                            </div>
                        </div>
                        <div>La primera escuela de Marketing Digital dirigida a profesionales de la salud, acreditada por la FUI (FLORIDA INTERNATIONAL UNIVERSITY) 
                        </div>
                        <div class="row">
                            <ul class="infoList">
                                <li>Acreditada por la AACSB</li>
                                <li>Top 10 escuelas de Estados Unidos en Negocios Internacionales por Bloomberg Business Week y U.S.. News World Report.</li>
                                <li>Según el financial Ties es la escuela de negocios #5 por su Master en Finanzas para epertos, y unas de las mejores 48 escuelas por su MBA corporativo online.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col2">
                        <h3  class="blue">Contenio del curso</h3>
                        <p>
                        Fecha de inicio: Por Confirmar.<br>
                        Duración: 80 horas presenciales<br>
                        Nivel1: Introducción al Marketing Digital y tendencias.<br>
                        Nivel2: Estrategia de comunicación digital.<br>
                        Nivel3: Marketing de contenido y redes sociales.<br>
                        Nivel5: Generanción de ventas y Performance Marketing.<br>
                        Nivel6: Ux y diseño Web.<br>
                        Nivel7: Ventas sociales y persnal branding.<br>
                        Nivel8: e-Commerce<br>
                        <p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row footerSection">
                    <div class="col-md-5 pull-right">
                        <a data-dismiss="modal" class="pull-left" ng-click="vm.sendUniversityInfo(false)">Cerrar</a>
                        <a ata-dismiss="modal"  type="button" class="btn btn-primary pull-right" ng-click="vm.sendUniversityInfo(true)"> Quiero recibir información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>