<form name="step3Form">
    <div class="row section">
        <h4 class="sectionH"><img src="../../assets/images/location.png" alt="doctor"> Alta de consultorios
            <br>
            <em class="subh">Si deseas aceptar consultas de pacientes por medio de Doctor Advisor, activa la opción de "Consultas en linea"</em></h4>
        <div class="row sectionContainer">
            <div class="col-md-7 col-md-offset-1">
                <div class="form-group">
                    <label for="onlineConsultation" class="col-md-7 control-label text-right">Quieres tener consultas en línea:*<br>
                        <em class="subh">Recibe pacientes a través de nuestro sitio.</em></label>
                    <div class="col-md-5">
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.doctor.step3.online_consultancy" ng-value="1"> Si
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.doctor.step3.online_consultancy" ng-value="0"> No
                        </label>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/creaditCardInfo.html'" ></div>
    <div class="row section">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="office in vm.doctor.step3.offices">
            <div class="panel panel-default">
                <div class=" panel-heading-custom" role="tab" id="headingOne">
                    <h4>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{($index)+1}}" aria-expanded="true" aria-controls="collapseOne">
                            Consultorio # {{($index)+1}} : {{office.name}}
                            <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
                    </a> 
                    <a role="button" ng-click="vm.removeOffice($index)">
                        <img src="../../assets/images/icons/close.png" >   
                    </a>
                    <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{($index)+1}}" aria-expanded="true" aria-controls="collapseOne">
                        
                    </a> 
                    </h4>
                </div>
                <div id="collapse{{($index)+1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body sectionContainer">
                        <div class="col-md-7 col-md-offset-2 form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-6 control-label">Nombre del establecimiento:*</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="establecimiento" placeholder="Establecimiento" ng-model="office.name" ng-required="vm.isRequired" >
                                    </div>
                                    <div class="form-group">
                                            <input type="text" class="form-control" id="address" placeholder="Dirección" ng-model="office.address" ng-required="vm.isRequired" >
                                        </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="exterior" placeholder="No. Exterior" ng-model="office.interior_number" ng-required="vm.isRequired">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="interior" placeholder="No. Interior" ng-model="office.exterior_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Colonia" placeholder="Colonia" ng-model="office.colony" ng-required="vm.isRequired" >
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="CodigoPostal" placeholder="Código Postal" ng-model="office.zip_code" ng-required="vm.isRequired">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" ng-model="office.state" ng-init="vm.loadStates($index)" ng-required="vm.isRequired" ng-options="estado.id_type as estado.name for estado in vm.states[$index] " ng-change="vm.loadCities(office.state,$index)">
                                                <option value="">Selecciona una ciudad</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" ng-model="office.city" ng-init="vm.loadCities(office.state,$index)" ng-required="vm.isRequired" ng-options="ciudad.id as ciudad.name for ciudad in vm.cities[$index]">
                                            <option value="">Selecciona primero un estado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="officeType" class="col-md-6 control-label">Tipo de consultorio:*<br><em class="subh">Las imágenes que se le pedirá subir son opcionales en el registro. Podrá completar esta parte una vez creada su cuenta.</em></label>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <select class="form-control" ng-model="office.office_type" ng-init="vm.loadOfficeType($index)" ng-required="vm.isRequired" ng-options="consultorio.id_type as consultorio.name for consultorio in vm.tipoConsultorio[$index]">
                                                <option value="">Selecciona un consultorio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Especialidad" class="col-md-6 control-label">Foto Licencia Sanitaria:*<br>     <em class="subh">Sube la foto en .jpg .png o .pdf.</em></label>
                                <div class="col-md-6">
                                    <div class="col-md-5">
                                        <img ng-src="{{vm.BuildImageUrl(office.sanitary_license)}}" class="sanitaryLicense{{$index}} img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                                    </div>
                                    <div class="col-md-7">
                                        <file-browser idsrc="sanitaryLicense{{$index}}"  usertype="doctor" model="office.sanitary_license" iwidth="150" iheight="150" caption="Sube tu licencia sanitaria">
                                        </file-browser >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Especialidad" class="col-md-6 control-label">Foto Aviso Funcionamiento:*<br>     <em class="subh">Sube la foto en .jpg .png o .pdf.</em></label>
                                <div class="col-md-6">
                                    <div class="col-md-5">
                                        <img ng-src="{{vm.BuildImageUrl(office.operation_notice)}}" class="operationNotice{{$index}} img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                                    </div>
                                    <div class="col-md-7">
                                        <file-browser idsrc="operationNotice{{$index}}"  usertype="doctor" model="office.operation_notice" iwidth="150" iheight="150" caption="Sube tu aviso de funcionamiento">
                                        </file-browser >
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="precio" class="col-md-6 control-label">Precio por consulta:*</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="precio" placeholder="Ej. 500.00"  ng-model="office.price" ng-required="vm.isRequired">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Celular" class="col-md-6 control-label">Teléfono de consultorio:*</label>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select class="form-control" ng-model="office.phone_number.code" ng-required="vm.isRequired" ng-options="id.name as id.name for id in vm.phoneCodes" >
                                                    <option value="">Escoje el código de tu pais</option>
                                                </select>
                                            </div>   
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="celular" placeholder="10 dígitos" ng-model="office.phone_number.number" minlength="10" maxlength="10" pattern="\d*">
                                            </div> 
                                        </div>   
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footerSection">
        <div class="row">
            <div class="col-md-1 blue text-center">
                <img src="../../assets/images/Informacion_Mensaje.png" > 
            </div>
            <div class="col-md-11 info">
                Los horarios y la disponibilidad por consultorio se podrá ajustar una vez que haya registrado su cuenta.<br>
                De esa manera podrás elegir los horarios de su conveniencia para recibir a tus pacientes.
            </div>
        </div>
        <div class="row">
            <a href="" ng-click="vm.addOffice()">
                <div class="col-md-12 addRoom">
                    <b>Agregar consultorio</b> <img class="pull-right" src="../../assets/images/add.png" alt="image">
                </div>
            </a> 
        </div>
        <div class="row">
            <div class="col-md-12 terms">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.doctor.step3.consent_agreement">
                        Estoy de acuerdo con los <a href="/#!/legales/terminos"> Términos y Condiciones para Alta de Consultorio</a>
                    </label>
                </div>
            </div>  
        </div>               
    </div>
    <div class="row footerSection">
        <div class="col-md-6">
            <p>* Datos Obligatorios</p> 
        </div>
        <div class="col-md-6 pull-right">
            <div class="col-md-6 text-center pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                <button ng-click="step3Form.$valid && vm.GoNext()" class="btn btn-primary pull-right " ng-disabled="!vm.doctor.step3.consent_agreement">Guardar y Continuar Paso 4</button>
            </div>
        </div> 
    </div>
</form>