<div class="container-fluid">
    <form name="step1Form">
        <div class="row section">
            <h4 class="sectionH"><img src="../../assets/images/camera_green2.png" > Foto de contacto</h4>
            <div class="row sectionContainer">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-3 col-md-offset-1">
                        <img ng-src="{{vm.BuildImageUrl(vm.doctor.step1.profile_picture)}}" class="profilePicture img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                    </div>
                    <div class="col-md-8">
                        <file-browser idsrc="profilePicture"  model="vm.doctor.step1.profile_picture"  usertype="doctor" iwidth="150" iheight="150" caption="Subir Imagen para perfil">
                        </file-browser >
                        <em class="subh">Ayuda al paciente a identificarte con tu imagen. Puedes subir tu foto en .jpeg .jpg o .png.</em>
                    </div>
                </div>
            </div>             
        </div>
        <div class="row section">
            <h4 class="sectionH"><img src="../../assets/images/icons/foto_perfil-green.png" > Información personal</h4>
            <div class="row sectionContainer">
                <div class="col-md-6 col-md-offset-3 form-horizontal">
                    <div class="form-group">
                        <label for="Nombre" class="col-md-5 control-label">Nombre(s):*</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="Nombre" placeholder="Ej. Laura Ximena" ng-model="vm.doctor.step1.name" ng-required="vm.isRequired">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApellidoP" class="col-md-5 control-label">Apellido Paterno:*</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control" id="ApellidoP" placeholder="Ej. González" ng-model="vm.doctor.step1.last_name" ng-required="vm.isRequired">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApellidoM" class="col-md-5 control-label">Apellido Materno:*</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control" id="ApellidoM" placeholder="Ej. Perales" ng-model="vm.doctor.step1.last_name_2" ng-required="vm.isRequired">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Curp" class="col-md-5 control-label">CURP:*</label>
                        <div class="col-md-7">
                        <input type="text" class="form-control" id="Curp" placeholder="DAKH892563" ng-model="vm.doctor.step1.curp" ng-required="vm.isRequired">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthDate" class="col-md-5 control-label">Fecha de nacimiento:*</label>
                        <div class="col-md-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.doctor.step1.birthday" is-open="vm.popup1.opened" datepicker-options="dateOptions" ng-required="vm.isRequired" close-text="Close" alt-input-formats="altInputFormats" ng-click="vm.bdPopup()" readonly/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.bdPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>                  
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="Genero" class="col-md-5 control-label">Género:*</label>
                        <div class="col-md-7">
                            <label class="radio-inline">
                                <input type="radio" name="Genero" id="Masculino" value="0"  ng-model="vm.doctor.step1.gender"  ng-required="vm.isRequired"> Masculino
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Genero" id="Femenino" value="1" ng-model="vm.doctor.step1.gender"> Femenino
                            </label>
                        </div>  
                    </div>
                </div>
            </div>             
        </div>
        <div class="row section">
            <h4 class="sectionH"><img src="../../assets/images/phone-green.png" > Información de contacto 
                <br>
                <em class="subh">Tu información es únicamente para uso interno. No la compartiremos con alguien más.</em></h4>
            
            <div class="row sectionContainer">
                <div class="col-md-6 col-md-offset-3 form-horizontal">
                    <div class="form-group">
                        <label for="Nombre" class="col-md-5 control-label">Correo electrónico:*</label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="Nombre" placeholder="Ej. Correo@gmail.com" ng-model="vm.doctor.step1.email" ng-required="vm.isRequired">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Celular" class="col-md-5 control-label">Celular:*</label>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-5">
                                    <select class="form-control" ng-model="vm.doctor.step1.cellphone.code" ng-required="vm.isRequired"ng-options="id.name as id.name for id in vm.phoneCodes">
                                    </select>
                                </div>   
                                <div class="col-md-7" >
                                    <input type="text" class="form-control" id="celular" placeholder="10 dígitos" minlength="10" maxlength="10" pattern="\d*" ng-model="vm.doctor.step1.cellphone.number" ng-required="vm.isRequired">
                                </div> 
                            </div>                                       
                        </div>
                    </div>
                </div>
            </div>             
        </div>
        <div class="row footerSection">
            <div class="col-md-6">
                <p>* Datos Obligatorios</p> 
            </div>        
            <div class="col-md-6 pull-right">
                <div class="col-md-6 text-center pull-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                    <!-- <a href=""  class="pull-right cancelBtnLink" data-toggle="modal" data-target="#cancelModal">Cancelar</a> -->
                    <button ng-click="step1Form.$valid && vm.GoNext()" class="btn btn-primary" >Guardar y Continuar Paso 2</button>
                </div>
            </div>    
        </div>
    </form>
</div>
