<form name="step4Form">
    <div class="row section">
        <div class="col-md-10 editContainer col-md-offset-1">
            <h3 class="sectionHedit">
                Información General
                <a ng-href="#{{vm.stepLocation[0]}}" class="pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar información</a>
            </h3>
            <div class="row editSectionContainer">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <img width="50%" ng-src="{{vm.BuildImageUrl(vm.doctor.step1.profile_picture)}}" class="profilePicture img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                    </div>
                    <div class="col-md-8 ">
                        <div class="row">
                            <div class="row">
                                <div class="editLabel col-md-5">Nombre: </div>
                                <div class="valueLabel">{{vm.doctor.step1.name}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Apellido Paterno: </div>
                                <div class="valueLabel">{{vm.doctor.step1.last_name}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Apellido Materno: </div>
                                <div class="valueLabel">{{vm.doctor.step1.last_name_2}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Curp: </div>
                                <div class="valueLabel">{{vm.doctor.step1.curp}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Fecha de nacimiento: </div>
                                <div class="valueLabel">{{vm.FormatDate(vm.doctor.step1.birthday)}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Género: </div>
                                <div class="valueLabel">{{vm.getGenderString(vm.doctor.step1.gender)}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Correo electrónico: </div>
                                <div class="valueLabel">{{vm.doctor.step1.email}}</div>
                            </div>
                            <div class="row">
                                <div class="editLabel col-md-5">Celular: </div>
                                <div class="valueLabel">{{vm.buildPhoneNumber(vm.doctor.step1.cellphone)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-10 editContainer col-md-offset-1">
            <h3 class="sectionHedit">
                Información profesional
                <a href="#{{vm.stepLocation[1]}}" class="pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar información</a>
            </h3>
            <div class="row editSectionContainer">
                <div class="row">
                    <div class="editLabel col-md-5">Universidad en la que estudiaste: </div>
                    <div class="valueLabel">{{vm.getUniversityNameById(vm.doctor.step2.university)}}</div>                 
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Especialidad: </div>
                    <div class="valueLabel">{{vm.getSpecialtyNameById(vm.doctor.step2.speciality_id)}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Cédula Profesional: </div>
                    <div class="valueLabel">{{vm.doctor.step2.cedula}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Identificación Oficial: </div>
                    <div class="valueLabel">{{vm.getIdTypeNameById(vm.doctor.step2.document_type)}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Foto de Identificación Oficial: </div>
                    <div class="valueLabel col-md-7">  
                        <div class="row">
                            <div class="col-md-2 thumbnail" class="documentImage">
                                <img ng-src="{{vm.BuildImageUrl(vm.doctor.step2.document_image)}}" class="documentImage img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-10 editContainer col-md-offset-1">
            <h3 class="sectionHedit">
                Alta de consultorios
                <a href="#{{vm.stepLocation[2]}}" class="pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar información</a>
            </h3>
            <div class="row">
                <div class="editLabel col-md-5">Consultas en linea: </div>
                <div class="valueLabel">{{ vm.BoolToString(vm.doctor.step3.onlineConsultation)}}</div>
            </div>
            <div class="row editSectionContainer" ng-repeat="office in vm.doctor.step3.offices">
                <div class="row editFixedRoomName">
                    Consultorio # {{($index)+1}}: {{office.name}}
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Dirección: </div>
                    <div class="valueLabel col-md-5">{{office.street}} {{office.city.name}} {{office.state.name}}  {{office.colony}} {{office.interiorNumber}} {{office.outdoorNumber}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Tipo de consultorio: </div>
                    <div class="valueLabel">{{vm.getOfficeTypesNameById(office.office_type)}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Foto Licencia Sanitaria: </div>
                    <div class="valueLabel col-md-7">  
                        <div class="row">
                            <div class="col-md-2 thumbnail">
                                <img ng-src="{{vm.BuildImageUrl(office.sanitary_license)}}" class="sanitaryLicense{{$index}} img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Foto Aviso Funcionamiento: </div>
                    <div class="valueLabel col-md-7">  
                        <div class="row">
                            <div class="col-md-2 thumbnail">
                                <img ng-src="{{vm.BuildImageUrl(office.operation_notice)}}" class="documentImage img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">  
                    <div class="editLabel col-md-5">Precio por consulta: </div>
                    <div class="valueLabel">{{office.price}}</div>
                </div>
                <div class="row">
                    <div class="editLabel col-md-5">Teléfono: </div>
                    <div class="valueLabel">{{vm.buildPhoneNumber(office.phone_number)}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-10 BenefitsContainer col-md-offset-1">
            <h3 class="sectionHedit">Más Beneficios de Doctor Advisor:
            <br>
            <em class="subh">Para conocer un poco más sobre los beneficios extras, selecciona las casillas de la Certificación y Sitio Web</em></h3>
            <div class="row">
                <div class="col-md-12 editLabel">
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.doctor.step4.digital_certification_notice">
                            Quiero conocer más sobre  <a href="#"> la certificación en Transformación Digital.</a>
                        </label>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-12 editLabel">
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.doctor.step4.internet_plans_notice">
                            Quiero recibir información sobre <a href="#">los planes de sitio web</a> para tener un buen posicionamiento en internet.
                        </label>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="row footerSection">      
        <div class="col-md-6 pull-right">
            <div class="col-md-6 text-center pull-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#promotion" >Crear mi cuenta</button>
            </div>
        </div>    
    </div>
</form>
<div ng-include="'views/modalFinalStep.html'"></div>