<div class="container-fluid">
    <form name="step2Form">
        <div class="row section">
            <h4 class="sectionH"><img src="../../assets/images/icons/trayectoria.png" > Información profesional</h4>
            <div class="row sectionContainer">
                <div class="col-md-7 col-md-offset-2 form-horizontal">
                    <div class="form-group">
                        <label for="Universidad" class="col-md-6 control-label">Universidad en la que estudiaste:*</label>
                        <div class="col-md-6">
                            <select class="form-control" ng-model="vm.doctor.step2.university" ng-required="vm.isRequired" ng-options="uni.id_type as uni.name for uni in vm.universitiesList">
                                <option value="">Selecciona una universidad</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Especialidad" class="col-md-6 control-label">Especialidad:*</label>
                        <div class="col-md-6">
                            <select class="form-control" ng-model="vm.doctor.step2.speciality_id" ng-required="vm.isRequired" ng-options="esp.id_type as esp.name for esp in vm.specialtiesList">
                                <option value="">Selecciona una especialidad</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cedula" class="col-md-6 control-label">Cédula Profesional:<br>     <em class="subh">Únicamente si aplica</em></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="Cedula" placeholder="Cédula" ng-model="vm.doctor.step2.cedula">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Especialidad" class="col-md-6 control-label" >Identificación Oficial:*</label>
                        <div class="col-md-6">
                            <select class="form-control" ng-model="vm.doctor.step2.document_type" ng-required="vm.isRequired" ng-options="id.id_type as id.name for id in vm.tipoIdentificacion">
                                <option value="">Selecciona una identificacion</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Especialidad" class="col-md-6 control-label">Foto de Identificación Oficial:*<br>     <em class="subh">Sube la foto de tu identificación en  .jpg .png o .pdf.</em></label>
                        <div class="col-md-6">
                            <div class="col-md-5">
                                <img ng-src="{{vm.BuildImageUrl(vm.doctor.step2.document_image)}}" class="documentImage img-thumbnail center-block" alt="image" err-src="{{ vm.myDefaultImage }}">
                            </div>
                            <div class="col-md-7">
                                <file-browser idsrc="documentImage"  model="vm.doctor.step2.document_image" usertype="doctor" iwidth="150" iheight="150" caption="Sube tu Identificación Oficial">
                                </file-browser >
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
        <div class="row footerSection">
            <div class="col-md-6">
                <p>* Datos Obligatorios</p> 
            </div>
            <div class="col-md-6 pull-right">
                <div class="col-md-6 text-center pull-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancelModal">Cancelar</button>
                    <button ng-click="step2Form.$valid && vm.GoNext()" class="btn btn-primary" >Guardar y Continuar Paso 3</button>
                </div>
            </div>
        </div>
    </form>
</div>