<div class="row" id="smartwizard">
    <ul class="col-md-10 col-md-offset-1 text-center">
        <li class="col-md-3"><a href="#step-1" id="step1"><small>Información General</small></a></li>
        <li class="col-md-3"><a href="#step-2" id="step2"><small>Información Profesional</small></a></li>
        <li class="col-md-3"><a href="#step-3" id="step3"><small>Alta de consultorio</small></a></li>
        <li class="col-md-3"><a href="#step-4" id="step4"><small>Revisar Información</small></a></li>
        <!-- <li><a href="#step-4">Step Title<br /><small>Step description</small></a></li> -->                   
    </ul>
    <div class=" col-md-12 stepsContainer">
        <div id="step-1" >
            <div ng-include="'views/Step1.html'"></div>
        </div>
        <div id="step-2" class="">
            <div ng-include="'views/Step2.html'"></div>
        </div>
        <div id="step-3" class="">
            <div ng-include="'views/Step3.html'"></div>
        </div>
        <div id="step-4" class="">
            <div ng-include="'views/Step4.html'"></div>
        </div>
    </div>
</div>
<div ng-include="'views/modalFinalStep.html'"></div>