<section class="profile-sec-head">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="global-horizontal firts">
                    <div class="image-wrap">
                        <div class="head">
                            <div class="image" style="background-image: url('{{vm.doctorProfile.profile_picture}}')">
                                <a href="#!/perfil/doctor/{{vm.doctorProfile.id}}"></a>
                            </div>
                            <div class="icon"></div>
                            <div class="rectangle"></div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="col-md-12">
                            <ul class="list-inline">
                                <li ng-repeat="score in vm.getScoreArray(vm.doctorProfile.profile.score)"><img class="img-responsive" src="../assets/images/star-active.png" alt="nice"></li>
                                <li>
                                    <div class="opinions">
                                        <a href="#" ng-show="vm.doctorProfile.profile.comments.length > 1">{{vm.doctorProfile.profile.comments.length}} opiniones</a>
                                        <a href="#" ng-show="vm.doctorProfile.profile.comments.length == 1">1 opinión</a>
                                        <span ng-show="vm.doctorProfile.profile.comments.length == 0">Sin opiniones aún</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="name text-left">
                            {{vm.doctorProfile.name}} {{vm.doctorProfile.last_name}} {{vm.doctorProfile.last_name_2}}
                            <br>
                            <span style="display: block; font-size: 16px;" class="responsive-cedula"><small>Número de cédula: {{vm.doctorProfile.cedula}}</small></span>
                        </div>

                        <div class="tags small text-left">
                                <!-- {{vm.getSpecialtyNameById(vm.doctorProfile.speciality_id)}} -->
                                <a class="tag" href="/busqueda?q={{vm.doctorProfile.speciality_id}}">{{vm.getSpecialtyNameById(vm.doctorProfile.speciality_id)}}</a>
                        </div>
                            <p ng-show="vm.doctorProfile.cedula_speciality !=  null" ><small>Número de cédula de especialidad: {{vm.doctorProfile.cedula_speciality}}</small></p>

                        <p><small>Consultorios disponibles</small>
                        </p>
                        <div class="btn-group col-md-12" ng-show="vm.isOfficeRegistered(vm.doctorProfile.selectedOffice)">
                            <p type="button" class="btn-default dropdown-toggle locationSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(vm.doctorProfile.selectedOffice)}} <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
                            </p>
                            <ul class="dropdown-menu col-md-12">
                                <li ng-repeat="office in vm.doctorProfile.offices" ng-click="vm.updateDoctorSelectedOffice(office,$index)"><a href="" ng-click="vm.updateOfficeInfo(office)"><img src="../assets/images/location.png" alt="doctor"> {{vm.BuildOfficeAddress(office)}}</a></li>
                            </ul>
                        </div>
                        
                        <div class="meta-data" ng-show="vm.isOfficeRegistered(vm.doctorProfile.selectedOffice)">
                            <p>
                                {{vm.getCityNameById(vm.doctorProfile.selectedOffice.city)}} {{vm.getStateNameById(vm.doctorProfile.selectedOffice.state)}}
                            </p>
                            <div class="list"><div class="icon">
                                <img src="/assets/images/site/icons/geoposition-green.svg" class="icon" alt="Lugar"></div> {{vm.BuildOfficeAddress(vm.doctorProfile.selectedOffice)}}
                            </div>
                            <!-- <div class="list"><div class="icon"><img src="/assets/images/site/icons/geoposition-green.svg" class="icon" alt="Lugar"></div>{{ vm.doctorProfile.address }}</div>
                            @if(vm.doctorProfile.address_2)
                            <div class="list"><div class="icon"><img src="/assets/images/site/icons/geoposition-green.svg" class="icon" alt="Lugar"></div>{{ vm.doctorProfile.address_2 }}</div>
                            @endif
                            @if( vm.doctorProfile.working_hours )
                                <div class="list"><div class="icon"><img src="/assets/images/site/icons/clock.svg" class="icon" alt="Lugar"></div>{{ vm.doctorProfile.working_hours }}</div>
                            @endif -->
                                <div class="list"><div class="icon"><img src="/assets/images/site/icons/phone.svg" class="icon" alt="Lugar"></div><a href="tel:{{ vm.doctorProfile.phone_consulting_room }}">Tel. Consltorio: {{vm.doctorProfile.phone_number}}</a></div>
                                <div class="list"><div class="icon"><img src="/assets/images/site/icons/phone.svg" class="icon" alt="Lugar"></div> Cel: {{vm.doctorProfile.cellphone}}</div>
                        </div>
                        <br>
                        <div class="buttons-down">
                            <!-- @if( $hasEmail ) -->
                                <div class="single special-color">
                                    <a href="#" class="contact-profile" data-context="Mandar mensaje" data-aditional-email="{{$hasEmail}}" data-name="{{vm.doctorProfile.name}}" data-image="{{vm.doctorProfile.avatar}}">
                                        <div class="icon message"></div><span><img src="/assets/images/site/icons/message_white.svg" class="icon svgIconChange" alt="Mensaje"> <span class="byebye">Mandar</span> Mensaje</span>
                                    </a>
                                </div>
                            <div class="single">
                                <a href="{{vm.doctorProfile.url}}#create-comment">
                                    <div class="icon rate"></div><span><i class="fa fa-check"></i> Calificar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="text-right">
                            <a href="#" id="report-profile-problem" class="btn block small btn-svg no-border">
                                Reportar <img src="/assets/images/site/icons/flag.svg" class="icon" alt="Reportar">
                                <ul class="report-problem">
                                    <li>La información es erronea</li>
                                    <li>Este perfil es falso</li>
                                    <li>Este perfil habla de mi persona</li>
                                </ul>
                            </a>
                        </div>
                        <!-- @if(vm.doctorProfile.minimal_price) -->
                        <div class="blue-square inter" ng-show="vm.isOfficeRegistered(vm.doctorProfile.selectedOffice)">
                            <div class="title">
                                <p>Precio por consulta</p>
                                <p><small>Incluye impuestos</small></p>
                            </div>
                            <div class="price">
                                    <span>MXN</span> ${{vm.doctorProfile.selectedOffice.price}}
                            </div>
                            <div class="cta">
                                <a href="#">Comprar</a>
                            </div>
                            <div class="save">
                                Ahorras un <span>20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
        <!-- <div class="profile-gal">
            <div class="wrapper">
                    @if( $gallery->count() > 0 )
                    <ul>
                        @foreach( $gallery as $gallery_option  )
                            @if( $gallery_option->type == 'video' )
                                <li class="video">
                                    <img class="play" src="/assets/images/site/icons/video-play.svg"/>
                                    <img src="{{'https://img.youtube.com/vi/'.$gallery_option->base.'/0.jpg'}}"/>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{$gallery_option->base}}" frameborder="0" allowfullscreen></iframe>
                                </li>
                            @else
                                <li><img src="{{$gallery_option->base}}"/></li>
                            @endif
                        @endforeach
                    </ul>
            </div>
        </div> -->
        <section class="profile-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <div class="head">
                                <div class="title"><img class="icon" src="/assets/images/site/icons/trayectoria.svg"/>Trayectoria</div>
                                <div class="actions">
                                    <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                    <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                        <div class="well">
                            ...
                        </div>
                        </div>
                        <div class="tab-panel">
                            <div class="element">
                                <div class="head">
                                    <div class="title"><img class="icon" src="/assets/images/site/icons/trayectoria.svg"/>Trayectoria</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        {{ vm.doctorProfile.trajectory }}
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head">
                                    <div class="title"><img class="icon" src="/assets/images/site/icons/reconocimientos.svg"/>Reconocimientos</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        {{  vm.doctorProfile.acknowledgments }}
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                <div class="head">
                                    <div class="title"><img class="icon" src="/assets/images/site/icons/servicios.svg"/>Servicios</div>
                                    <div class="actions">
                                        <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                        <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="overflow">
                                        {{  vm.doctorProfile.services }}
                                    </div>
                                </div>
                            </div>
                            <div class="element">
                                    <div class="head">
                                        <div class="title"><img class="icon" src="/assets/images/site/icons/experiencia.svg"/>Especializacion</div>
                                        <div class="actions">
                                            <img src="/assets/images/site/icons/arrow-down.svg" alt="Abrir" class="open">
                                            <img src="/assets/images/site/icons/close.svg" alt="Cerrar" class="close">
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="overflow">
                                            {{ vm.doctorProfile.experience }}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- @if((int)vm.doctorProfile.latitude != 0 &&(int)vm.doctorProfile.longitude != 0 ) -->
        <div class="profile-map">
            <div id="map-doctor" data-latitude="{{vm.doctorProfile.latitude}}" data-longitude="{{vm.doctorProfile.longitude}}">
            </div>
            <!-- @if(!vm.doctorProfile.latitude_2) -->
                <div class="goto">
                    <a href="https://www.google.com/maps/dir/Current+Location/{{vm.doctorProfile.latitude}},{{vm.doctorProfile.longitude}}" target="_blank">Como llegar <img src="/assets/images/site/icons/geoposition.svg" alt="¿Cómo llegar?"></a>
                </div>
            <!-- @endif -->
        </div>
    <!-- @endif -->
    <section class="rate padding-bottom-0" id="calificaciones">
        <div class="container">
            <!-- @if( $ranking_count > 0  )
                @include('site.partials.ranking_detail', ['item'=>$doctor])
            @endif -->
            <div class="group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sub-title">
                            <strong>Valoraciones</strong>
                        </div>
                    </div>
                </div>
                <br>
                <!-- @include('site.partials.ranking_list', ['item'=>$doctor, 'user'=> $user ]) -->
            </div>
            <div class="group no-border">
                <div class="create-comment close-form" id="create-comment">
                    <div class="row margin-bottom-40">
                        <div class="col-md-12 margin-bottom-40">
                            <div class="sub-title align-bottom">
                                <strong>Deja tu calificación</strong>
                            </div>
                        </div>
                        <!-- @if( $user )
                            @include('site.partials.rate', ['item'=>$doctor])
                        @else
                            @include('site.partials.register_login_wrapper', ['item'=>$doctor])
                        @endif -->
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="share-profile">
                    <p class="title">Recomienda a <strong>{{vm.doctorProfile.name}}</strong></p>
                    <ul class="list">
                        <li>
                            <a href="https://www.facebook.com/dialog/share?app_id={{env('FB_APP_ID')}}&display=popup&href={{vm.doctorProfile.full_url}}">
                                <img src="/assets/images/site/icons/facebook_passive.svg" alt="Facebook" class="passive">
                                <img src="/assets/images/site/icons/facebook_active.svg" alt="Facebook" class="active">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/share?via=doctoradvisor&hashtags=DoctorAdvisor&text=Dale un vistazo al {{vm.doctorProfile.name}} en&url={{vm.doctorProfile.full_url}}" target="_blank">
                                <img src="/assets/images/site/icons/twitter_passive.svg" alt="Twitter" class="passive">
                                <img src="/assets/images/site/icons/twitter_active.svg" alt="Twitter" class="active">
                            </a>
                        </li>
                        <li>
                            <a href="whatsapp://send?text={{vm.doctorProfile.full_url}}" data-action="share/whatsapp/share">
                                <img src="/assets/images/site/icons/whatsapp_passive.svg" alt="Whatsapp" class="passive">
                                <img src="/assets/images/site/icons/whatsapp_active.svg" alt="Whatsapp" class="active">
                            </a>
                        </li>
                        <li>
                            <a href="mailto:?subject=Me gustaría recomendarte a {{vm.doctorProfile.name}}&body=En DoctorAdvisor puedes revisar su información, esta es dirección {{vm.doctorProfile.full_url}}">
                                <img src="/assets/images/site/icons/mail_passive.svg" alt="Correo" class="passive">
                                <img src="/assets/images/site/icons/mail_active.svg" alt="Correo" class="active">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- @if( $doctor_list->count() > 0 )
        <section class="doctor-carousel">
            <div class="head">
                <h3><span>Doctores y Hospitales recomendados</span></h3>
            </div>
            @include('site.partials.banners_carousel',['list'=>$doctor_list])
        </section>
    @endif -->
    <div class="fancy-zone big" id="fancy-report-problem">
        <div class="fancy-content">
            <div class="fancy-padding">
                <div class="fancy-close">
                    {{--<img src="/assets/images/site/icon/" alt="">--}}
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path fill="#257EC2" d="M20,40c-3.609,0-6.988-0.904-10.043-2.688c-1.148-0.67-1.537-2.144-0.866-3.292
                    c0.671-1.147,2.145-1.535,3.292-0.867c2.342,1.367,4.834,2.031,7.617,2.031s5.275-0.664,7.618-2.031
                    c2.353-1.372,4.163-3.184,5.536-5.536c1.366-2.343,2.031-4.834,2.031-7.618c0-2.783-0.665-5.275-2.031-7.617
                    c-1.372-2.352-3.184-4.163-5.537-5.537C25.275,5.479,22.783,4.814,20,4.814s-5.275,0.664-7.617,2.031
                    c-2.353,1.374-4.164,3.185-5.537,5.537C5.479,14.725,4.815,17.216,4.815,20c0,1.462,0.193,2.883,0.573,4.218
                    c0.365,1.279-0.377,2.61-1.655,2.975c-1.279,0.361-2.611-0.378-2.975-1.656C0.255,23.771,0,21.909,0,20
                    c0-3.609,0.903-6.988,2.687-10.043C4.464,6.911,6.91,4.465,9.956,2.688C13.012,0.904,16.391,0,20,0
                    c3.607,0,6.987,0.904,10.045,2.687c3.047,1.779,5.491,4.225,7.268,7.269C39.096,13.012,40,16.391,40,20s-0.904,6.988-2.688,10.043
                    c-1.777,3.046-4.222,5.491-7.267,7.27C26.987,39.096,23.607,40,20,40z"/>
                        <g>
                            <path fill="#257EC2" d="M11.273,25.177c0,0.413,0.145,0.763,0.435,1.054l2.062,2.062c0.289,0.29,0.641,0.436,1.053,0.436
                    c0.397,0,0.74-0.146,1.031-0.436L20,24.146l4.146,4.146c0.29,0.29,0.633,0.436,1.03,0.436c0.413,0,0.765-0.146,1.055-0.436
                    l2.062-2.062c0.289-0.291,0.436-0.641,0.436-1.054c0-0.397-0.146-0.74-0.436-1.031L24.146,20l4.146-4.146
                    c0.289-0.29,0.436-0.634,0.436-1.031c0-0.413-0.146-0.764-0.436-1.054l-2.062-2.062c-0.29-0.29-0.642-0.435-1.055-0.435
                    c-0.397,0-0.74,0.146-1.03,0.435L20,15.854l-4.146-4.146c-0.291-0.29-0.634-0.435-1.031-0.435c-0.413,0-0.764,0.146-1.053,0.435
                    l-2.062,2.062c-0.291,0.29-0.435,0.641-0.435,1.054c0,0.397,0.145,0.741,0.435,1.031L15.854,20l-4.146,4.146
                    C11.417,24.437,11.273,24.779,11.273,25.177z"/>
                        </g>
                </svg>
                </div>
                <div class="fancy-desc">
                    <p>Doctor Advisor es una plataforma confiable gracias a sus usuarios, tu aportación es muy importante</p>
                </div>
                <form class="global-style regular-contact-form" data-endpoint="/services/contact_form" data-category="report">
                    <input type="hidden" name="type" ng-model="vm.mail.type" value="REPORTE">
                    <fieldset class="padding-bottom-0">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="border">
                                    <label for="name">Nombre <input type="text" placeholder="" id="name" ng-model="vm.mail.name"  name="name" required></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border">
                                    <label for="email">Correo <input type="text"  id="email" name="email" id="name" ng-model="vm.mail.email" required></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border">
                                    <label for="problem-type">Problema <input type="text"  id="problem-type" name="topic" ng-model="vm.mail.topic" required></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border">
                                    <label for="phone">Teléfono <small>Opcional</small><input type="text" id="phone" name="phone" ng-model="vm.mail.phone"></label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="margin-top-20">
                                    <label for="realProblema">¿Cuál es el problema?
                                        <textarea cols="30" rows="10" id="realProblema" name="comment" ng-model="vm.mail.comment" required></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-right margin-bottom-0">
                                    <button type="submit" class="btn no-border" ng-click="$scope.sendMail">Enviar problema</button>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="fancy-bg"></div>
    </div>
    <div class="fancy-zone big" id="contacto-profile">
        <div class="fancy-content">
            <div class="fancy-padding">
                <div class="fancy-close">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path fill="#257EC2" d="M20,40c-3.609,0-6.988-0.904-10.043-2.688c-1.148-0.67-1.537-2.144-0.866-3.292
                    c0.671-1.147,2.145-1.535,3.292-0.867c2.342,1.367,4.834,2.031,7.617,2.031s5.275-0.664,7.618-2.031
                    c2.353-1.372,4.163-3.184,5.536-5.536c1.366-2.343,2.031-4.834,2.031-7.618c0-2.783-0.665-5.275-2.031-7.617
                    c-1.372-2.352-3.184-4.163-5.537-5.537C25.275,5.479,22.783,4.814,20,4.814s-5.275,0.664-7.617,2.031
                    c-2.353,1.374-4.164,3.185-5.537,5.537C5.479,14.725,4.815,17.216,4.815,20c0,1.462,0.193,2.883,0.573,4.218
                    c0.365,1.279-0.377,2.61-1.655,2.975c-1.279,0.361-2.611-0.378-2.975-1.656C0.255,23.771,0,21.909,0,20
                    c0-3.609,0.903-6.988,2.687-10.043C4.464,6.911,6.91,4.465,9.956,2.688C13.012,0.904,16.391,0,20,0
                    c3.607,0,6.987,0.904,10.045,2.687c3.047,1.779,5.491,4.225,7.268,7.269C39.096,13.012,40,16.391,40,20s-0.904,6.988-2.688,10.043
                    c-1.777,3.046-4.222,5.491-7.267,7.27C26.987,39.096,23.607,40,20,40z"/>
                        <g>
                            <path fill="#257EC2" d="M11.273,25.177c0,0.413,0.145,0.763,0.435,1.054l2.062,2.062c0.289,0.29,0.641,0.436,1.053,0.436
                    c0.397,0,0.74-0.146,1.031-0.436L20,24.146l4.146,4.146c0.29,0.29,0.633,0.436,1.03,0.436c0.413,0,0.765-0.146,1.055-0.436
                    l2.062-2.062c0.289-0.291,0.436-0.641,0.436-1.054c0-0.397-0.146-0.74-0.436-1.031L24.146,20l4.146-4.146
                    c0.289-0.29,0.436-0.634,0.436-1.031c0-0.413-0.146-0.764-0.436-1.054l-2.062-2.062c-0.29-0.29-0.642-0.435-1.055-0.435
                    c-0.397,0-0.74,0.146-1.03,0.435L20,15.854l-4.146-4.146c-0.291-0.29-0.634-0.435-1.031-0.435c-0.413,0-0.764,0.146-1.053,0.435
                    l-2.062,2.062c-0.291,0.29-0.435,0.641-0.435,1.054c0,0.397,0.145,0.741,0.435,1.031L15.854,20l-4.146,4.146
                    C11.417,24.437,11.273,24.779,11.273,25.177z"/>
                        </g>
                </svg>
                </div>
                {{--<div class="fancy-desc"></div>--}}
                <div class="row">
                    <div class="col-md-4">
                        <div class="image" id="profile-contact-image"></div>
                    </div>
                    <div class="col-md-7">
                        <p>Para contactar a <strong id="profile-contact-name"></strong> es necesario nos brindes la siguiente iformación.</p>
                        <form class="global-style regular-contact-form" data-endpoint="/services/contact_form" data-category="contact"
                              data-instance_type="doctor" data-instance_id="{{vm.doctorProfile.id}}">
                            <input type="hidden" name="type" value="CONTACTO">
                            <fieldset class="padding-bottom-0">
                                <div class="row margin-bottom-20">
                                    <div class="col-md-12">
                                        <div class="border">
                                            <label for="name">Nombre <input type="text" required="required" placeholder="Arturo Gonzalez" id="name" name="name"  value="{{vm.doctorProfile.name}}"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="border">
                                            <label for="email">Correo <input type="text" required="required" id="email" name="email" placeholder="ejemplo@correo.com"  value="vm.doctorProfile.email}}"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="border">
                                            <label for="phone">Teléfono <small>(opcional)</small><input type="text" id="phone" name="phone"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-12" id="aux-hidden">
                                        <div class="border">
                                            <label for="subject-profile">Asunto <input type="text" required="required" id="subject-profile" name="subject-profile"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="margin-top-20">
                                            <label for="realProblema"><span id="copy-aux">Servicio</span>
                                                <textarea cols="30" rows="10" id="realProblema" name="comment"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-right margin-bottom-0">
                                            <button type="submit" class="btn no-border">Mandar mensaje</button>
                                        </p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="fancy-bg"></div>
    </div>

<!-- @if((int)vm.doctorProfile.latitude != 0 &&(int)vm.doctorProfile.longitude != 0 ) -->
    <!-- <script>
        DA.Map_Style = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#6195a0"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"lightness":"0"},{"saturation":"0"},{"color":"#f5f5f2"},{"gamma":"1"}]},{"featureType":"landscape","elementType":"labels.text.stroke","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"labels.icon","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"lightness":"-3"},{"gamma":"1.00"}]},{"featureType":"landscape.natural.terrain","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"poi","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#bae5ce"},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"color":"#878787"},{"visibility":"on"},{"weight":"0.01"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#787878"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"transit.station.airport","elementType":"labels.icon","stylers":[{"hue":"#0a00ff"},{"saturation":"-77"},{"gamma":"0.57"},{"lightness":"0"}]},{"featureType":"transit.station.rail","elementType":"labels.text.fill","stylers":[{"color":"#43321e"}]},{"featureType":"transit.station.rail","elementType":"labels.icon","stylers":[{"hue":"#ff6c00"},{"lightness":"4"},{"gamma":"0.75"},{"saturation":"-68"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#eaf6f8"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#7ccdce"},{"lightness":"50"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"lightness":"-49"},{"saturation":"-53"},{"gamma":"0.79"}]}]
        function initMap() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng( parseFloat('{{vm.doctorProfile.latitude}}'), parseFloat('{{vm.doctorProfile.longitude}}') ),
                styles: DA.Map_Style,
                scrollwheel: false
            };

            var mapElement = document.getElementById('map-doctor');
            var map = new google.maps.Map(mapElement, mapOptions);

            var markers = [];//some array
            var bounds = new google.maps.LatLngBounds();

            var icon = {
                url: "/assets/images/site/icons/map_pin.svg", // url
                scaledSize: new google.maps.Size(44, 65), // scaled size
                origin: new google.maps.Point(0, 0), // origin
                anchor: new google.maps.Point(22, 32) // anchor
            };

            var contentString = '{!! vm.doctorProfile.address }}';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng( parseFloat('{{vm.doctorProfile.latitude}}'), parseFloat('{{vm.doctorProfile.longitude}}') ),
                map: map,
                title: '{{vm.doctorProfile.subfix}} {{vm.doctorProfile.name}} {{vm.doctorProfile.last_name}} {{vm.doctorProfile.last_name_2}}',
                icon: icon
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
            bounds.extend(marker.getPosition());

//                if($("#map-doctor").data('longitude-2')){}
            // @if(vm.doctorProfile.latitude_2 && vm.doctorProfile.longitude_2)
                var contentString_2 = '{!! vm.doctorProfile.address_2 }}';

                var infowindow_2 = new google.maps.InfoWindow({
                    content: contentString_2
                });

                var marker_2 = new google.maps.Marker({
                    position: new google.maps.LatLng( parseFloat('{{vm.doctorProfile.latitude_2}}'), parseFloat('{{vm.doctorProfile.longitude_2}}') ),
                    map: map,
                    title: '{{vm.doctorProfile.subfix}} {{vm.doctorProfile.name}} {{vm.doctorProfile.last_name}} {{vm.doctorProfile.last_name_2}}',
                    infoWindow: {
                        content: '{{vm.doctorProfile.subfix}} {{vm.doctorProfile.name}} {{vm.doctorProfile.last_name}} {{vm.doctorProfile.last_name_2}}',
                    },
                    icon: icon
                });

                marker_2.addListener('click', function() {
                    infowindow_2.open(map, marker_2);
                });

                bounds.extend(marker_2.getPosition());
                map.fitBounds(bounds);
            // @endif
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGNXC7kf5PQw9a-Np9OwbZlA-ikT2IbUo&callback=initMap"></script>
<script>
    $(document).ready(function(){
        DA.profile.init();
    });
</script> -->
